<!-- Les modules -->
<div class=" flex justify-center my-0 sm:my-10">
  <div class="bg-white dark:bg-gray-800 rounded-0 sm:rounded-lg drop-shadow-xl w-full sm:w-4/5 xl:w-3/4">
    <%= render partial:'application/page_title', locals: {title: ts('accueil.welcome'), icon: 'bars'} %>
    <% if @current_user %>
      <% if @modules.count.positive? %>
        <div class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 justify-content p-5">
          <% @modules.each do |mod|%>
            <%= service_bouton_theme( @current_user.theme,
                                      t("modules.#{mod.name.downcase}.title"), 
                                      mod.color, 
                                      mod.font, 
                                      t("modules.#{mod.name.downcase}.description"), 
                                      mod.new_window ? module_href_new_window(mod) : module_href(mod),
                                      module_name: mod.name,
                                      target: mod.new_window ? '_blank' : '') %>
          <% end %>
        </div>
      <% else %>
        <div class="flex flex-col text-center py-8">
          <%= fa_icon('ban', size: '4x', class: 'pb-2') %>
          <%= t('modules.none') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- Les liens perso -->
<% if @userlinks.count > 0 %>
  <div class="flex justify-center mb-0 sm:mb-10">
    <div class="bg-white dark:bg-gray-800 rounded-0 sm:rounded-lg drop-shadow-xl w-full sm:w-4/5 xl:w-3/4">
      <div class="flex flex-row bg-gradient-to-r from-zourit-2 to-zourit-1 rounded-0 sm:rounded-t-lg justify-between px-5 py-5">
        <div class="hidden sm:flex"><%= fa_icon('link', class: 'text-gray-100', size: '2x') %></div>
        <h1 class="text-3xl w-full text-center text-gray-100 hover:text-gray-100 font-semibold"><%= ts('accueil.welcome_links_perso') %></h1>
        <div class='hidden sm:flex'></div>
      </div>
      <div class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 justify-content p-5">
        <% @userlinks.each do |link| %>
          <%= service_bouton_theme( @current_user.theme,
                                    link.title, 
                                    link.color, 
                                    link.symbol, 
                                    link.resume, 
                                    link.url,
                                    target: '_blank') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<!-- Les liens globaux -->
<% if @links.count > 0 %>
  <div class="flex justify-center mb-0 sm:mb-10">
    <div class="bg-white dark:bg-gray-800 rounded-0 sm:rounded-lg drop-shadow-xl w-full sm:w-4/5 xl:w-3/4">
      <div class="flex flex-row bg-gradient-to-r from-zourit-2 to-zourit-1 rounded-0 sm:rounded-t-lg justify-between px-5 py-5">
        <div class="hidden sm:flex"><%= fa_icon('link', class: 'text-gray-100', size: '2x') %></div>
        <h1 class="text-3xl w-full text-center text-gray-100 hover:text-gray-100 font-semibold"><%= ts('accueil.welcome_links') %></h1>
        <div class='hidden sm:flex'></div>
      </div>
      <div class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 justify-content p-5">
        <% @links.each do |link| %>
          <%= service_bouton_theme( @current_user.theme,
                                    link.title, 
                                    link.color, 
                                    link.symbol, 
                                    link.resume, 
                                    link.url,
                                    target: '_blank') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
