<div class="flex justify-center mt-0 sm:mt-10">
  <div class="bg-white dark:bg-gray-800 rounded-0 sm:rounded-lg sm:drop-shadow-xl w-full sm:w-3/4 xl:w-1/2">
    <div class="flex flex-row bg-gradient-to-r from-zourit-2 to-zourit-1 rounded-0 sm:rounded-t-lg justify-between px-5 py-5">
      <h1 class="text-xl text-center w-full text-gray-100 hover:text-gray-100 font-semibold"><%= I18n.t "users.connexion" %></h1>
    </div>
    <div class="flex flex-col md:flex-row justify-between px-10 pb-10 gap-10 md:items-end">
      <div class="flex flex-col mt-4 md:mt-0">
        <%= image_tag 'commun/logo blanc', class: "h-56" %>
        <%= link_to 'https://zourit.net/#contact', 
                        class: 'bg-gray-800 dark:bg-zourit-2 rounded-lg p-2 text-gray-100 text-center hover:bg-zourit-2 transition ease-in-out duration-300',
                        style: 'white-space: normal;' do %>
          <%= ts('services.account') %> <%= ts('services.contact') %>
        <% end %>
      </div>
      <div class="flex flex-col w-full pt-6 justify-end dark:text-gray-200">
        <form action="login" method="post">
          <div class='flex flex-col gap-2 justify-between'>
            <div class="mb-2">
              <label for="nom"><%= I18n.t "users.email"%></label>
              <%= build_complete_email_field_tag('loginName', '', '', 'envelope', required: true) %>
            </div>
            <div class="mb-2">
              <label for="nom"><%= I18n.t "users.passwd"%></label>
              <%= build_password_field_tag('loginPassword', '', 'lock', required: true, no_policy: true) %>
            </div>
            <div hidden >
              <input type="text" class="form-control" id="url" name="url" value="<%= @url %>">
            </div>
            <button type="submit" class="w-full p-2 text-center bg-zourit-1 text-gray-100 rounded-lg mt-4 mb-2 hover:bg-zourit-2 transition ease-in-out duration-300">
              <%= I18n.t "users.connexion" %>
            </button>

            <div class='flex flex-row text-center gap-2'>
              <%= link_to 'https://doc.zourit.net/', 
                                    class: "w-1/2 bg-gray-800 dark:bg-zourit-2 text-gray-100 p-2 rounded-lg hover:bg-zourit-2 transition ease-in-out duration-300",
                                    style: "white-space: normal;" do %>
                <i class="fa fa-question-circle"></i> <%= ts('services.need_help') %>
              <% end %>
              <%= link_to root_path, 
                                    class: "w-1/2 bg-gray-200 text-gray-800 p-2 rounded-lg hover:text-gray-200 hover:bg-zourit-2 transition ease-in-out duration-300",
                                    style: "white-space: normal;" do %>
                <%= I18n.t "services.annuler"%>
              <% end %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
