<div class="w-full">
  <%= form_for(@message, url: @url_message, method: "post") do |form| %>
    <div class="flex flex-col md:flex-row gap-4">
      <%= build_text_area(form, :message, 'align-left', placeholder: t('message.message_placeholder'), div_class: 'grow') %>
      <%= button_tag(class: "bg-gray-800 hover:bg-zourit-1 text-gray-200 text-sm px-4 py-2 rounded flex-none") do %>
        <%= I18n.t 'tickets.postmessage' %>
      <% end %>
    <% end %>
  </div>
</div>
