<p class="text-black dark:text-gray-200 text-left text-md mb-4"><%= I18n.t 'message.comment' if can_post %></p>
<ol class="relative border-l border-gray-200 -mb-10">
  <% if can_post %>
    <li class="mb-10 ml-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-white rounded-full -left-3 ring-8 ring-zourit-1">
        <%= fa_icon('envelope') %>
      </span>
      <div class="p-4 bg-gray-100 border border-gray-200 rounded-lg shadow-sm">
        <%= render partial: "messages/form_message"%>
      </div>
    </li>
  <% end %>
  <% @list_messages.each_with_index do |message, index| %>
    <li class="mb-10 ml-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-white rounded-full -left-3 ring-8 ring-zourit-1">
        <%= fa_icon('envelope') %>
      </span>
      <div class="p-4 bg-gray-100 border border-gray-200 rounded-lg shadow-sm">
        <div class="items-left justify-between mb-3 flex flex-col gap-4">
          <div class="text-sm font-normal text-black flex flex-col sm:flex-row gap-2">
            <% user = message&.user&.name || message.user_external&.email || ts('errors.deleted_user') %>
            <span class='bg-gray-300 p-2 rounded-lg mr-2 text-xs'>
              <%= fa_icon 'user', class: 'mr-1' %>
              <%= user %>
            </span>
            <span class='bg-gray-300 p-2 rounded-lg text-xs'>
              <%= fa_icon 'calendar', class: 'mr-1' %>
              <%= I18n.l message.created_at %>
            </span>
          </div>
          <div class="p-3 text-sm font-normal text-black border border-gray-200 rounded-lg bg-gray-50">
            <%= message.message %>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
