<% readonly = local_assigns[:readonly] ? readonly : false %>
<% new = local_assigns[:new] ? new : false %>

<div class='flex'>
  <div class='hidden md:flex w-1/3'></div>
  <div class='flex flex-col p-10 w-full' x-data='{ metaOptionShow: <%= @instance.active %> }'>
    <%= form_for([@config_module, @instance]) do |f| %>
      <% if @instance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@instance.errors.count, "error") %><%= I18n.t 'instances.error' %></h2>
          <ul>
            <% @instance.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='flex flex-col gap-2 mb-4'>
        <%= build_text_field(f, 'name', 'Name', 'pencil-alt', required: true) %>
        <%= build_text_area(f, 'description', 'pencil-alt', placeholder: 'Description', required: true) %>
        <%= build_toggle_field(f, 'active', 'active', on_change: 'metaOptionShow = !metaOptionShow') %>
      </div>

      <% if @config_module.instance_options.count.positive? %>
        <div  class='flex flex-col gap-2 mb-4 bg-gray-200 p-4 rounded-lg' 
              x-show='metaOptionShow'
              x-transition:enter="transition duration-500 transform ease-out" 
              x-transition:enter-start="opacity-0 scale-90" 
              x-transition:enter-end="opacity-100 scale-100" 
              x-transition:leave="transition duration-300 transform ease-in" 
              x-transition:leave-start="opacity-100 scale-100" 
              x-transition:leave-end="opacity-0 scale-90" >
          <span class='bg-gray-800 text-gray-200 -m-4 mb-0 rounded-t-lg flex justify-center font-semibold p-1' ><%= I18n.t 'instances.metaoption' %></span>
          <% @config_module.instance_options.each do |io| %>
            <%= render partial: 'meta_option', object: io, readonly: readonly %>
          <% end %>
        </div>
      <% end %>
      <div class='flex justify-center gap-2'>
        <%= build_form_submit(f, text: ts('actions.validate') ) %>
        <%= build_cancel_button(link: config_module_path(@config_module)) %>
      </div>
    <% end %>

  </div>
  <div class='hidden md:flex w-1/3'></div>
</div>
