<% meta_name = "meta[#{meta_option.id}]" # ici, j'utilise le même name des formulaires avec meta[...]%>

<%= label_tag meta_option.description %>
<div class="cols-sm-10">
  <div class="input-group">
    <% case meta_option.field_type.downcase %>
    <% when 'password' %>
    <%= build_password_field_tag(meta_name, meta_option.placeholder, 'lock', value: @instance_meta_options[meta_option.id]) %>
  <% else %>
    <%= build_text_field_tag(meta_name, @instance_meta_options[meta_option.id], meta_option.placeholder, 'pencil-alt') %>
  <% end %>
</div>
</div>
