<%= render partial:'application/page_title', 
           locals: {title: t('instances.editinstance', module: @instance.config_module.name, instance: @instance.name),
                    icon: 'cog',
                    back: { url: config_module_path(@config_module), title: t('accueil.instances') }
                    } %>

<%= render 'form' %>
