<%= render partial:'application/page_title', 
           locals: {title: t('accueil.instances'),
                    icon: 'link'
                    } %>

<h1><%= I18n.t 'instances.listinginstancestates' %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t 'instances.configmodule' %></th>
      <th><%= I18n.t 'instances.nameinstance' %></th>
      <th><%= I18n.t 'instances.descripintance' %></th>
      <th><%= I18n.t 'instances.activeinstance' %></th>
      <th><%= I18n.t 'instances.datainstance' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.config_module %></td>
        <td><%= instance.name %></td>
        <td><%= instance.description %></td>
        <td><%= instance.active %></td>
        <td><%= instance.datas %></td>

        <td><%= link_to "#{I18n.t 'instances.show'}", config_module_instance_path(@config_module, instance) %></td>
        <td><%= link_to "#{I18n.t 'instances.edit'}", edit_config_module_instance_path(@config_module, instance) %></td>
        <td>
          <%= link_to "#{I18n.t 'instances.destroy'}", config_module_instance_path(@config_module, instance), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{I18n.t 'instances.newinstance'}", new_config_module_instance_path(@config_module) %>
