<%= form_for(@instance_state) do |f| %>
<% if @instance_state.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@instance_state.errors.count, "error") %> <%= I18n.t 'instance_states.error' %></h2>

  <ul>
    <% @instance_state.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :importance %><br>
  <%= f.text_field :importance %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>