<p id="notice"><%= notice %></p>

<h1> <%= I18n.t 'instance_states.listinginstancestates' %></h1>

<table>
  <thead>
    <tr>
      <th> <%= I18n.t 'instance_states.title' %></th>
      <th> <%= I18n.t 'instance_states.importance' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instance_states.each do |instance_state| %>
    <tr>
      <td><%= instance_state.title %></td>
      <td><%= instance_state.importance %></td>
      <td><%= link_to "#{I18n.t 'instance_states.show'}", instance_state %></td>
      <td><%= link_to "#{I18n.t 'instance_states.edit'}", edit_instance_state_path(instance_state) %></td>
      <td>
        <%= link_to "#{I18n.t 'instance_states.destroy'}", instance_state, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{I18n.t 'instance_states.newinstance'}", new_instance_state_path %>