<p id="notice"><%= notice %></p>

<p>
  <strong> <%= I18n.t 'instance_states.title' %>:</strong>
  <%= @instance_state.title %>
</p>

<p>
  <strong> <%= I18n.t 'instance_states.importance' %>:</strong>
  <%= @instance_state.importance %>
</p>

<%= link_to "#{I18n.t 'instance_states.edit'}", edit_instance_state_path(@instance_state) %> |
<%= link_to "#{I18n.t 'instance_states.retour'}", instance_states_path %>