<%= form_for(@visio) do |f| %>
  <div class="flex justify-between m-10">
    <div class='hidden lg:flex'></div>
    <div class="w-full lg:w-1/2">
      <% if @visio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@visio.errors.count, "error") %> <%= I18n.t 'modules.bigbluebutton.error' %></h2>
          <ul>
            <% @visio.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flex flex-col gap-2" x-data>
        <%= build_text_field(f, 'name', I18n.t('modules.bigbluebutton.salon'), 'video', required: true, maxlength: 255, minlength: 2 ) %>
        <%= build_text_area(f, 'comment', 'align-left', placeholder: I18n.t('modules.bigbluebutton.comment'),) %>
        <%= build_datetime_field('visio', 'date_start', @visio.date_start, 'calendar', required: true) %>
        <%= build_number_field(f, 'duration', I18n.t('modules.bigbluebutton.duration_min'), 'clock', 1) %>
        <%= build_number_field(f, 'number_of_participants', I18n.t('modules.bigbluebutton.participant'), 'users', 2) %>
        <div class='flex gap-2 items-start'>
          <%= fa_icon('download', class: 'w-5 mt-1 text-zourit-1') %>
          <%= build_toggle_field(f, 'allow_recording', I18n.t('modules.bigbluebutton.recorded')) %>
        </div>
        <div class='flex gap-2 items-start'>
          <%= fa_icon('microphone-slash', class: 'w-5 mt-1 text-zourit-1') %>
          <%= build_toggle_field(f, 'mute_on_start', ts('modules.bigbluebutton.muteonstart')) %>
        </div>
        <div class='flex gap-2 items-start'>
          <%#= fa_icon('microphone-slash', class: 'w-5 mt-1') %>
          <%#= build_toggle_field(f, 'anyone_can_start', ts('modules.bigbluebutton.anyonecanstart')) %>
        </div>
        <div class='-mx-2 p-2 flex flex-col gap-2 border-2 border-gray-200'>
          <div class='flex gap-2 items-start'>
            <%= fa_icon('user-lock', class: 'w-5 mt-1 text-zourit-1') %>
            <%= build_toggle_field(f, 'moderator_approval', ts('modules.bigbluebutton.guestpolicy'), on_change: 'exclusive_check("moderator_approval", "anyone_join_as_moderator")') %>
          </div>
          <div class='flex gap-2 items-start'>
            <%= fa_icon('users', class: 'w-5 mt-1 text-zourit-1') %>
            <%= build_toggle_field(f, 'anyone_join_as_moderator', ts('modules.bigbluebutton.anyonejoinasmoderator'),on_change: 'exclusive_check("anyone_join_as_moderator","moderator_approval")') %>
          </div>
        </div>
        <script>
          function exclusive_check(origin, destination){
            var origin=document.getElementById(`visio_${origin}`)
            if (origin.checked){
              var destination=document.getElementById(`visio_${destination}`)
              destination.checked=false
            }
          }
        </script>
      </div>
    </div>
    <div class='hidden lg:flex'></div>
  </div>
  <div class='mt-2 flex flex-col md:flex-row gap-2 p-2 bg-gray-100 dark:bg-gray-900 rounded-b-lg justify-end'>
    <div class="flex flex-row justify-center gap-2">
      <%= button_tag I18n.t('modules.etherpad.valid'), 
          class: "rounded-lg bg-zourit-200 text-gray-100 hover:bg-zourit-100 text-sm px-5 py-2" %>
      <%= link_to I18n.t('modules.etherpad.annuler'), @visio,
      class: "rounded-lg bg-zourit-500 text-gray-100 hover:bg-zourit-400 text-sm px-5 py-2" %>
    </div>
  </div>
<% end %>
