<%= turbo_frame_tag "visios", target: "_top" do %>
  <div class="overflow-x-auto">
    <table class="min-w-full dark:text-gray-200">
      <thead>
        <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 dark:text-gray-600 bg-gray-800 dark:bg-gray-200">
          <th class="py-5"></th>
          <th class="pr-3"><%= build_th_order('name', ts('modules.bigbluebutton.visioname'), params[:order]) %></th>
          <th class="pr-2 hidden xl:table-cell"><%= ts 'modules.bigbluebutton.comment' %></th>
          <th class="pr-2 hidden sm:table-cell"><%= ts 'modules.bigbluebutton.creator' %></th>
          <th class="pr-3 hidden xl:table-cell whitespace-nowrap"><%= build_th_order('date_start', ts('modules.bigbluebutton.startdate'), params[:order]) %></th>
          <th class="hidden 2xl:table-cell"><%= ts('modules.bigbluebutton.duration') %></th>
          <th class="pl-2 hidden 4xl:table-cell"><%= ts('modules.bigbluebutton.participant') %></th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <%= render @dataset[:items] %>
      </tbody>
    </table>
  </div>
  <div class="text-sm text-gray-500 mt-5">
    <%= render "application/pagination", dataset: @dataset do %>
      <%= link_to visios_export_path(author: params[:author], 
                                     order: params[:order], 
                                     query: params[:query], 
                                     page: params[:page], 
                                     items_per_page: @dataset[:count], 
                                     archived: params[:archived]), 
                                     class: "ml-2 rounded-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2", title: "Tout exporter" do %>
        <%= fa_icon('download') %>
      <% end %>
    <% end %>
  </div>
<% end %>
