<tr id="<%= dom_id visio %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900" x-data>
  <% user = User.find(visio.owner_id) %>
  <% date = visio.date_start.strftime("%d/%m/%Y %H:%M %Z")%>
  <td class="pl-5 py-3 px-2">
    <% owner = (visio.owner_id == @current_user.id) %>
    <i class="fa<%= 'r' unless owner %> fa-star"
            title="<%= owner ? ts('modules.bigbluebutton.owner') : ts('modules.bigbluebutton.not_owner') %>"
            data-toggle='tooltip' data-placement='bottom'>
    </i>
  </td>
  <td class="text-zourit-1 hover:text-gray-800 hover:dark:text-white px-2 w-full sm:w-1/4">
    <%= link_to visio.name, 
                visio, 
                title: visio.comment, 
                class: "font-bold",
                '@click': "loading('#{ ts('modules.bigbluebutton.visio_launch') }')",
                data: { turbo: false } %>
    <span class='flex xl:hidden text-gray-800 dark:text-gray-200 text-xs'>(<%= date %>)</span>
  </td>
  <td class="px-2 hidden xl:table-cell w-full dar">
    <%= "#{visio.comment.to_s[0..100]} #{'...' if visio.comment.to_s.length>100}" %>
  </td>
  <td class="px-2 lg:whitespace-nowrap hidden sm:table-cell w-full"><%= "#{user&.first_name} #{user&.last_name}" %></td>
  <td class="px-2 hidden xl:table-cell lg:whitespace-nowrap"><%= date %></td>
  <td class="px-2 hidden 2xl:table-cell lg:whitespace-nowrap"><%= visio.duration %></td>
  <td class="px-2 hidden 4xl:table-cell lg:whitespace-nowrap"><%= visio.number_of_participants %></td>
  <td class="">
    <div class="flex flex-row flex-nowrap mr-2 ">
      <%= link_to visio, 
                  title: ts('modules.bigbluebutton.access'), 
                  class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm",
                  data: { turbo: false } do %>
        <%= fa_icon('eye') %>
      <% end %>
      <span @click="$clipboard('<%= "https://#{@url_visios}/rooms/#{visio.friendly_id}/join" %>'); addFlashMessage('<%= t('actions.external_link_to_clipboard')%>')"
                    class="<%= "mr-2 rounded-r-lg" if params[:archived]!='1' %> text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm cursor-pointer"
                    title="<%= t('actions.copy_external_link_to_clipboard') %>">
        <%= fa_icon('clipboard ') %>
      </span>
      <% if params[:archived]!='1' && owner %>
        <%= link_to edit_visio_path(visio), title: ts('modules.bigbluebutton.modifvisio'), class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
          <%= fa_icon('pencil-alt') %>
        <% end %>
        <%= link_to visio_recordings_path(visio), title: ts('modules.bigbluebutton.access_recordings'), class: "text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
          <%=fa_icon('download') %>
        <% end %>
        <%= link_to "/invitations/visios/#{visio.id}", title: ts('modules.bigbluebutton.share'), class: "text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
          <%= fa_icon('users') %>
        <% end %>
      <% end %>
      <%= link_to archive_visio_path(visio.id),
                    method: :post,
                    title: params[:archived]=='1' ? ts('actions.unarchive') : ts('actions.archive'), 
                    class: "mr-2 #{ owner ? 'rounded-r-lg' : params[:archived]=='1' ? 'rounded-r-lg' : 'rounded-lg'} text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm",
                    data: { "turbo-method": :post } do %>
        <%= fa_icon('archive') %>
      <% end %>
      <% if owner %>
        <%= link_to visio, method: :delete, title: ts('modules.bigbluebutton.delete'), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { "turbo-method": :delete, turbo_confirm: "#{ts 'modules.bigbluebutton.delete_confirm'}",  toggle: 'tooltip', placement: 'bottom'} do %>
          <%= fa_icon('trash') %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
