<%= turbo_frame_tag "button_to_bbb" do %>
  <%= link_to @visio_link, class: 'p-2 rounded-lg bg-zourit-200 text-gray-200 hover:bg-zourit-100 w-full md:w-auto text-center md:text-left', target: '_blank' do %>
    <%= fa_icon('video') %>
    Lancer la visio
  <% end %>
<% end %>
