<%= render partial:'application/page_title', locals: {title: t('modules.bigbluebutton.modifvisio'), back: { url: visios_path, title: t('modules.bigbluebutton.visiolist') }, icon: icon('bigbluebutton')} %>
<div class='bg-red-200 w-full p-4 flex justify-center text-center items-center gap-2'>
  <%= fa_icon('exclamation-triangle') %>
  <span><%= ts('modules.bigbluebutton.visio_parameters_changes_warning') %></span>
</div>
<%= render 'form' %>
