<%= render partial:'application/page_title', locals: {title: t('modules.bigbluebutton.visiolist'), icon: icon('BigBlueButton') } %>
<div class="flow-root text-left p-5" 
  x-data="{ 
    refresh(page=1) { 
      $refs.pageInput.value=page; 
      $refs.searchForm.requestSubmit() 
    } 
  }">
  <%= form_with(
    url: visios_path, 
    method: :get, 
    class: "mb-0", 
    html: { "x-ref": "searchForm" }, 
    data: {
      turbo_frame: "visios", 
      turbo_action: "advance"
    }) do |form| %>
    <div class="flex flex-col xl:flex-row justify-between gap-2">
      <div class='flex mb-2'>
        <%= build_button(text: ts('modules.bigbluebutton.newvisio'),
                         icon: 'plus',
                         link: new_visio_path) %>
      </div>
      <div class="flex flex-col md:flex-row gap-2 mb-2">
        <div class="flex flex-row">
          <div class="rounded-l-lg bg-zourit-1 !text-gray-100 p-2 text-sm"><%= ts 'modules.bigbluebutton.creator' %></div>
          <%= form.select :author, @authors, { include_blank: " " }, "@input": "refresh()", class: "pr-8 text-sm bg-gray-800 dark:bg-gray-200 text-gray-400 dark:text-gray-800 rounded-r-lg border-gray-800 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1" %>
        </div>
        <div class="flex flex-row w-full">
          <%= button_tag id: "submit-button", class: "h-auto rounded-l-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2" do %>
            <%= fa_icon('search') %>
          <% end %>
          <%= form.text_field :query, "@input.debounce": "refresh()", class: "bg-gray-800 dark:bg-gray-200 border border-gray-800 text-gray-100 dark:text-gray-800 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: "Rechercher" %>
          <!-- Ces input hidden sont modifié via alpinejs -->
          <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
          <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden" %>
        </div>
        <div class="flex items-center">
          <%= build_toggle_field(form, 
                                'archived', 
                                t('actions.archived'), 
                                checked: params[:archived] == 1, 
                                "on_change": "refresh()") %>
        </div>
      </div>
    </div>
    <div>
      <%= render "visios", visios: @visios %>
    </div>
  <% end %>
</div>
