<%= render partial:'application/page_title', locals: {title: t('modules.bigbluebutton.addvisio'), back: { url: visios_path, title: t('modules.bigbluebutton.visiolist') }, icon: icon('BigBlueButton')} %>

<%= render 'form' %>
