<%= render partial:'application/page_title', locals: {back: { url: visios_path, title: t('modules.bigbluebutton.visiolist') }, title: @visio.name, icon: icon('BigBlueButton') } %>
<div class="text-left p-5 flex flex-col md:flex-row gap-6 justify-center">
  <div class='flex flex-col gap-2 m-2 w-full md:w-1/2'>
    <div class='flex flex-row'>
      <span class='bg-gray-500 dark:bg-gray-400 text-gray-200 dark:text-gray-800 rounded-l-lg text-sm p-1'><%=I18n.t('modules.bigbluebutton.salon')%></span>
      <span class='bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-r-lg text-sm p-1'><%= @visio.name %></span>
    </div>
    <div class='flex flex-row'>
      <span class='bg-gray-500 dark:bg-gray-400 text-gray-200 dark:text-gray-800 rounded-l-lg text-sm p-1'>Date et heure de début</span>
      <span class='bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-r-lg text-sm p-1'><%= @visio.date_start %></span>
    </div>
    <div class='flex flex-row'>
      <span class='bg-gray-500 dark:bg-gray-400 text-gray-200 dark:text-gray-800 rounded-l-lg text-sm p-1'><%=I18n.t('modules.bigbluebutton.duration_min')%></span>
      <span class='bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-r-lg text-sm p-1'><%= @visio.duration %></span>
    </div>
    <div class='flex flex-row'>
      <span class='bg-gray-500 dark:bg-gray-400 text-gray-200 dark:text-gray-800 rounded-l-lg text-sm p-1'><%=I18n.t('modules.bigbluebutton.participant')%></span>
      <span class='bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-r-lg text-sm p-1'><%= @visio.number_of_participants %></span>
    </div>
    <div class='flex flex-row'>
      <span class='bg-gray-500 dark:bg-gray-400 text-gray-200 dark:text-gray-800 rounded-l-lg text-sm p-1'><%=I18n.t('modules.bigbluebutton.comment')%></span>
      <span class='bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-r-lg text-sm p-1'><%= @visio.comment %></span>
    </div>
  </div>
  <div class='flex flex-col'>
    <div class="flex gap-2 <%=@visio.allow_recording ? 'text-gray-800 dark:text-gray-200' : 'text-gray-200 dark:text-gray-700'%>">
      <%= fa_icon('download', class: 'w-4 text-center') %> <%= ts('modules.bigbluebutton.recorded') %>
    </div>
    <div class="flex gap-2 <%=@visio.mute_on_start ? 'text-gray-800 dark:text-gray-200' : 'text-gray-200 dark:text-gray-700'%>">
      <%= fa_icon('microphone-slash', class: 'w-4 text-center') %> <%= ts('modules.bigbluebutton.muteonstart') %>
    </div>
    <div class="flex gap-2 <%=@visio.moderator_approval ? 'text-gray-800 dark:text-gray-200' : 'text-gray-200 dark:text-gray-700'%>">
      <%= fa_icon('user-lock') %> <%= ts('modules.bigbluebutton.guestpolicy') %>
    </div>
    <div class="flex gap-2 <%=@visio.anyone_join_as_moderator ? 'text-gray-800 dark:text-gray-200' : 'text-gray-200 dark:text-gray-700'%>">
      <%= fa_icon('users', class: 'w-4 text-center') %> <%= ts('modules.bigbluebutton.anyonejoinasmoderator') %>
    </div>
  </div>
</div>
<div class='mt-2 flex flex-col md:flex-row gap-2 p-2 bg-gray-100 dark:bg-gray-900 rounded-b-lg justify-end'>
  <%= turbo_frame_tag 'button_to_bbb', src: button_to_bbb_path(@visio), loading: :lazy, turbo_frame: "_top", class: 'flex w-full md:w-auto' do %>
    <div class='p-2 rounded-lg bg-zourit-500 text-gray-200 w-full md:w-auto text-center md:text-left cursor-wait'>
      <%= fa_icon('spinner', class: 'fa-pulse') %>
      Préparation du lien de la visio
    </div>
  <% end %>
  <% if @visio.owner_id == @current_user.id %>
    <%= link_to edit_visio_path(@visio), class: 'p-2 rounded-lg bg-zourit-500 hover:bg-zourit-400 text-gray-200 text-center md:text-left' do %>
      <%= fa_icon('pencil-alt') %>
      Modifier
    <% end %>
    <%= link_to visio_recordings_path(@visio), 
                class: 'p-2 rounded-lg bg-zourit-500 hover:bg-zourit-400 text-gray-200 text-center md:text-left' do %>
      <%= fa_icon('download') %>
      Enregistrements
    <% end %>
  <% end %>
</div>
