<%= render partial:'application/page_title', locals: {title: ts(:title) , icon: "chart-pie"} %>
<div class="flex flex-col items-center justify-center my-4">
  <div class="flex flex-col items-center justify-center gap-8">

    <form class="flex flex-row justify-center items-center gap-4">
      <%= build_datetime_field_tag(:from, @date_start, 'calendar' ) %>
      <%= build_datetime_field_tag(:to, @date_end, 'calendar') %>
      <%= build_toggle_field_tag(:unique, ts(:uniq), @unique) %>
      <%= button_tag id:  'search-stats' do %>
        <%= fa_icon("search", class: 'h-auto rounded bg-zourit-1 text-gray-100 text-lg p-2 w-8') %>
      <% end %>
    </form>

    <div class="w-full h-full mx-2 my-2 bg-gray-100 rounded-lg flex flex-col items-center justify-center gap-4">
      <h3 class="text-xl mt-4 text-black hover:text-black font-semibold text-center"><%= ts(@unique ? :users_count : :open_count) %></h3>
      <% users_count_data = {
      labels: @statistics.group_by_day(:created_at).count.keys,
        datasets: [
          {
            label: ts(@unique ? :users_count : :open_count), 
            data: @statistics.group_by_day(:created_at).count,
            fill: true,
            borderColor: 'rgb(220, 38, 38)',
            tension: 0.1
          }
        ]
      }.to_json %>

      <%= chart('users_count', 'line', users_count_data) %>
    </div>

    <div class="w-full h-full mx-2 my-2 bg-gray-100 rounded-lg flex flex-col items-center justify-center gap-4">
      <h3 class="text-xl mt-4 text-black hover:text-black font-semibold text-center"><%= ts(:service_chart) %> <%= @unique ? ts(:per_user) : '' %></h3>
      <% service_chart_data = {
        labels: (@statistics.group(:service_name).count).keys,
        datasets: [
          {
            label: "#{ts(:service_chart)} #{@unique ? ts(:per_user) : ''}",
            data: (@statistics.group(:service_name).count).values,
            backgroundColor: @statistics.collect { @colors.sample },
            hoverOffset: 4
          }
        ]
      }.to_json %>

      <%= chart('service_chart', 'pie', service_chart_data) %>
    </div>

    <div class="w-full h-full mx-2 my-2 bg-gray-100 rounded-lg flex flex-col items-center justify-center gap-4">
      <h3 class="text-xl mt-4 text-black hover:text-black font-semibold text-center"><%= ts(:domain_chart) %> <%= @unique ? ts(:per_user) : '' %></h3>
      <% domain_chart_data = {
        labels: @domains.keys,
        datasets: [
          {
            label: "#{ts(:domain_chart)} #{@unique ? ts(:per_user) : ''}",
            data: @domains.values,
            backgroundColor: @domains.collect { @colors.sample },
            borderColor: @domains.collect { @colors.sample },
            borderWidth: 4
          }
        ]
      }.to_json %>

      <%= chart('domain_chart', 'bar', domain_chart_data) %>
    </div>

    <div class="w-full h-full mx-2 my-2 bg-gray-100 rounded-lg flex flex-col items-center justify-center gap-4">
      <h3 class="text-xl mt-4 text-black hover:text-black font-semibold text-center"><%= ts(:services_chart) %> <%= @unique ? ts(:per_user) : '' %></h3>
      <% services_chart_data = {
        datasets: @services.collect { |s| { label: s[:name], data: s[:data], backgroundColor: @colors.sample } },
      }.to_json %>

      <%= chart('services_chart', 'bar', services_chart_data) %>
    </div>

    <div class="w-full h-full mx-2 my-2 bg-gray-100 rounded-lg flex flex-col items-center justify-center gap-4">
      <h3 class="text-xl mt-4 text-black hover:text-black font-semibold text-center"><%= ts(:instance_chart) %> <%= @unique ? ts(:per_user) : '' %></h3>

      <% instance_chart_data = {
        labels: @statistics.group(:instance_name).order(:instance_name).count.keys,
        datasets: [
          {
            label: "#{ts(:instance_chart)} #{@unique ? ts(:per_user) : ''}",
            data: @statistics.group(:instance_name).order(:instance_name).count,
            backgroundColor: @statistics.collect { @colors.sample },
            borderColor: @statistics.collect { @colors.sample },
            borderWidth: 4
          }
        ]
      }.to_json %>

      <%= chart('instance_chart', 'bar', instance_chart_data) %>
    </div>

  </div>
</div>
