<%= render partial:'application/page_title', locals: {title: ts(:title), icon: 'tasks'} %>

<div class='grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 p-10 gap-4'>
  <% Instance.all.each do |instance| %>
    <div class='flex flex-col bg-gray-200 rounded-lg'>
      <div class='flex justify-center bg-gray-800 dark:bg-gray-600 text-gray-200 rounded-t-lg font-semibold'>
        <%= instance.name %>
      </div>
      <div class='flex flex-col gap-2 p-4'>
        <%= build_text_field_tag("#{instance.name}_domains", instance.domain_infos.count, ts(:domains_count), 'globe', required: false, readonly: true) %>
        <%= build_text_field_tag("#{instance.name}_users", instance.users_count, ts(:users_count), 'users', required: false, readonly: true) %>
      </div>
    </div>
  <% end %>
</div>
