<%= form_with(model: domain_category, local: true) do |form| %>

  <div class="col-sm-6 col-md-6 text-left col-md-offset-3">
    <% if domain_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(domain_category.errors.count, "error") %> prohibited this domain_category from being saved:</h2>

        <ul>
          <% domain_category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon" title="<%= ts('domain_categories.index.category') %>"><%= fa_icon('tag', size: 'lg') %></span>
          <%= form.text_field :category, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit ts('actions.validate'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
