<div class="z-index-page">
  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1>
          <%= ts('title') %>
          <a class="retour" href="/domain_categories" title="<%= I18n.t 'actions.return' %>">
            <%= fa_icon('arrow-left') %>
          </a>
        </h1>
      </div>

      <div class="panel-body">
        <%= render 'form', domain_category: @domain_category %>
      </div>

    </div>
  </div>
</div>