<p id="notice"><%= notice %></p>

<div class="z-index-page">

  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1>
          <%= ts('title') %>
          <a class="retour" href="/" title="<%= I18n.t 'modules.survey.return' %>">
            <%= fa_icon('arrow-left') %>
          </a>
        </h1>
      </div>
      <div class="panel-body">
        <div id="toolbar">
          <%= link_to ts('add_category'), new_domain_category_path, class: 'btn btn-primary' %>
        </div>
        <table data-toggle="table" data-search="true" data-toolbar="#toolbar" data-show-export="true"  data-page-list="[10, 25, 50, 100, 200, 500, all]"
          data-pagination="true" data-classes="table table-no-bordered">
          <thead>
            <tr>
              <th><%= ts('category') %></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @domain_categories.each do |domain_category| %>
              <tr>
                <td><%= domain_category.category %></td>
                <td><%= link_to 'Show', domain_category %></td>
                <td><%= link_to 'Edit', edit_domain_category_path(domain_category) %></td>
                <td><%= link_to 'Destroy', domain_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>