<% users.each do |user| %>
  <tr id="<%= dom_id user %>" class="text-sm even:bg-gray-200 dark:even:bg-gray-900">
    <td class='p-1'>
      <button @noPressEnter() @click="add('<%=user.id%>', '<%=user.email%>');refresh(Number($refs.pageInput.value))"
              class="rounded-lg text-gray-100 text-xs hover:text-gray-100 bg-zourit-1 p-2 hover:bg-zourit-2">
        <%= fa_icon('plus') %>
      </button>
    </td>
    <td><%= user.full_name_elipse %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
