<%= turbo_frame_tag "users", class: 'w-full' do %>
  <div class="inline-block min-w-full align-middle pt-2">
    <table class='w-full divide-y divide-gray-300'>
      <thead>
        <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800">
          <th></th>
          <th><%= "#{ts('users.users.last_name')} - #{ts('users.users.first_name')}" %></th>
          <th><%= ts 'invitations.modal.emailuser' %></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'groups/user', users: @dataset[:items] %>
      </tbody>
    </table>
  </div>
  <div class="text-sm text-gray-500 mt-5">
    <%= render "application/pagination", dataset: @dataset %>
  </div>
<% end %>
