<%= render partial:'application/page_title', 
           locals: {title: t('groups.groupusers', group_name: @group.name),
                    icon: 'users',
                    domain: @domain.name,
                    back: { url: groups_path(@domain.id), title: t('groups.domaingroupmanage') }
                    } %>

<div class="p-5 flex flex-col gap-2" x-data>
  <div class="flex gap-2">
    <%= build_button(text: ts('groups.addoneusergroup'), click: "document.getElementById('dialogAddUser').showModal()", icon: 'plus') %>
  </div>
  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800 dark:bg-gray-200 dark:text-gray-600">
        <th scope="col" class="pl-2 py-2"><%= "#{ts('users.users.last_name')} - #{ts('users.users.first_name')}" %></th>
        <th scope="col" class="pl-2 py-2"><%= ts('users.users.email') %></th>
        <th scope="col" class=""></th>
      </tr>
    </thead>
    <% @members.each do |member| %>
      <tr class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
        <td class='px-2 whitespace-nowrap'><%= member.full_name_elipse %></td>
        <td class='px-2 whitespace-nowrap w-full'><%= member.email %></td>
        <td>
          <div class="flex flex-row flex-nowrap mr-2 ">
            <%= link_to group_update_path(member: member.id, delete: 1), method: :patch, title: ts(:delete), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { "turbo-method": :patch, turbo_confirm: "#{t(:delete_confirm)}"} do %>
              <%= fa_icon('trash') %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<dialog
  class="fixed rounded-lg w-full sm:w-8/12 xl:w-6/12 backdrop:bg-gray-600 backdrop:opacity-80 open:animate-fade-in focus:ring-zourit-1"
  id='dialogAddUser' x-data="{ 
    users_ids: [],
    users_names: [],
    add(id, email) {
      const index = this.users_ids.indexOf(id)
      if (index < 0) { 
        this.users_ids.push(id) 
        this.users_names.push(email) 
      }
    },
    del(id) {
      const index = this.users_ids.indexOf(id)
      if (index > -1) { 
  this.users_ids.splice(index, 1)
  this.users_names.splice(index, 1)
  }
  }
  }">

  <div class="bg-gray-800 dark:bg-gray-900 px-4 py-3">
    <h3 class="font-semibold leading-6 text-2xl text-gray-200 text-center py-4">
      <%= ts(:addusers) %>
    </h3>
  </div>
  <div  class="bg-gray-100 dark:bg-gray-800 dark:text-gray-200 px-4 pb-4 pt-5 sm:p-6 sm:pb-4" 
        x-data='{ 
          refresh(page=1) { 
            $refs.pageInput.value = page
            $refs.exclude.value = users_ids.toString()
            $refs.searchForm.requestSubmit()
          },  
        }'>
    <div class='grid-cols-12 gap-1'>
      <div class='flex flex-col gap-2'>
        <%= form_with(url: group_path(@domain.id, @group.id), method: :patch, id: 'formAddUser',
                      html: { class: 'mb-0', onsubmit: "document.getElementById('dialogAddUser').close(); loading('#{ts('actions.save_in_progress')}')" },
                      ) do |f| %>
          <%= f.hidden_field :member, 'x-ref': 'usersids','x-model': 'users_ids', class: 'w-full' %>
        <% end %>
        <div class='flex gap-1 flex-wrap'>
          <template x-for="(user, index) in users_names">
            <span class='py-1 px-2 bg-gray-600 text-gray-200 text-xs rounded-full flex gap-1' @click="del(users_ids[index]);refresh()">
              <span x-text="user" class=''></span>
              <%= fa_icon('minus', class: 'cursor-pointer hover:text-zourit-1 hover:bg-gray-200 rounded-full p-1 -mt-0') %>
            </span>
          </template>
        </div>
        <div  class="flex flex-col w-full">
          <%= form_with(url: group_path(@domain.id, @group.id), 
                  method: :get, 
                  class: "mb-0", 
                  html: { "x-ref": "searchForm" }, 
                  data: {
                    turbo_frame: "users"
                  }) do |form| %>
            <div class="flex flex-col xl:flex-row justify-end gap-2">
              <div class="flex flex-col md:flex-row gap-2">
                <div class="flex flex-row">
                  <span class="h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2">
                    <%= fa_icon('search') %>
                  </span>
                  <%= form.text_field :query, "@input.debounce": "refresh()", class: "bg-gray-800 dark:bg-gray-200 border border-gray-800 text-gray-100 dark:text-gray-800 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: "Rechercher" %>
                  <!-- Ces input hidden sont modifié via alpinejs -->
                  <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
                  <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden", value: "1" %>
                  <%= form.text_field :exclude, 'x-ref': 'exclude', class:"hidden" %>
                </div>
              </div>
            </div>
            <%= render 'users' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-800 dark:bg-gray-900 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 gap-2">
    <button type="button" 
            @click="document.getElementById('dialogAddUser').close();users_ids=[];users_names=[];refresh()" 
            class="mt-3 inline-flex w-full justify-center rounded-md bg-gray-200 
                   px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm 
                   hover:bg-zourit-2 hover:text-gray-200 sm:mt-0 sm:w-auto focus:outline-none
                   transition transform ease-in-out duration-300">
      <%= ts('actions.cancel') %>
    </button>
    <%= submit_tag  ts('actions.add'),
                    form: "formAddUser",
                    class: "rounded-lg bg-gray-800 text-gray-100 bg-zourit-1 hover:bg-zourit-2
                            text-sm px-5 py-2 cursor-pointer transition transform ease-in-out duration-300" %>
  </div>
</dialog>
