<tr id="<%= dom_id user %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">

  <td class="px-2 md:whitespace-nowrap w-full sm:w-0">
    <%= fa_icon("star", 
                type: (user.admin ? "solid" : "regular"), 
                class: 'text-gray-500 mr-2',
                title: ts(user.admin ? :is_admin : :not_admin)) %>
    <%= user.full_name_elipse %>
  </td>
  <td class="px-2 w-full hidden sm:table-cell">
    <%= user.email %>
  </td>
  <td class="px-2 hidden xl:table-cell">
    <div class="flex flex-row flex-nowrap mr-2 xl:mr-6 gap-1 border-z">
      <% @domain.config_modules.each do |mod| %>
        <% classe = user.enabled?(mod) ? "text-gray-200 hover:text-gray-100 bg-zourit-2" : "text-gray-600 hover:text-gray-100 bg-gray-200" %>
        <%= link_to edit_domain_user_path(@domain.id, user.id, selected_tab: mod.name.downcase), 
                  title: ts("modules.#{mod.name.downcase}.title"),
                  class: "p-2 text-sm rounded-sm #{classe} hover:bg-gray-500 transition transform ease-in-out duration-150",
                  data: {turbo: false} do %>
          <%= fa_icon(mod.font) %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="">
    <div class="flex flex-row flex-nowrap mr-2 ">
      <%= link_to edit_domain_user_path(@domain.id, user.id), 
                  title: ts(:update_user), 
                  class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm transition transform ease-in-out duration-150", 
                  data: { turbo: false } do %>
        <%= fa_icon 'pencil-alt' %>
      <% end %>
      <%= link_to edit_domain_user_path(@domain.id, user.id, selected_tab: 'groups'), 
                  title: ts(:groups), 
                  class: "mr-2 rounded-r-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm transition transform ease-in-out duration-150", 
                  data: { turbo: false } do %>
        <%= fa_icon 'users' %>
      <% end %>

      <% if user.id != @current_user.id %>
        <%= link_to delete_domain_user_path(@domain.id, user.id), method: :delete, title: ts('users.user.destroy'), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm transition transform ease-in-out duration-150", data: { "turbo-method": :delete, turbo_confirm: "#{ts 'users.user.confirm_delete', user_name: user.full_name}"} do %>
          <%= fa_icon('trash') %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
