<p id="notice"><%= notice %></p>

<h1><%= I18n.t "users.userlist" %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t "users.prenom" %></th>
      <th><%= I18n.t "users.nom" %></th>
      <th><%= I18n.t "users.email" %></th>
      <th><%= I18n.t "users.passwd" %></th>
      <th><%= I18n.t "users.admin" %></th>
      <th><%= I18n.t "users.quota" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= user.admin %></td>
      <td><%= user.quota %></td>
      <td><%= link_to "#{ts "users.show"}", user %></td>
      <td><%= link_to "#{ts "users.edit"}", edit_user_path(user) %></td>
      <td><%= link_to "#{ts "users.destroy"}", user, method: :delete, data: { confirm: ts("users.verif") } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{I18n.t "users.nouvuser"}", new_user_path %>