<div class='w-full' hidden>
  <% @logouts.each do |logout| %>
    <iframe id="iframe<%= logout[:name].downcase %>" src="<%= logout[:url] %>" width="10px" frameborder="0"
    scrolling="yes" class='w-full h-80'></iframe>
  <% end %>
</div>

<script>
  loading('Déconnexion en cours ...')
  count = 0
  console.log('Déconnexion : '+count+'/'+<%= @logouts.count %>)
  <% if @logouts.count.positive? %>
    <% @logouts.each do |logout| %>
    element = document.getElementById("iframe<%= logout[:name].downcase %>")
    if (element) {
      document.getElementById("iframe<%= logout[:name].downcase %>").addEventListener('load', function() {
        count += 1
        console.log('Déconnexion : '+count+'/'+<%= @logouts.count %>)
        if (count>=<%= @logouts.count %>) {
          window.location = "/"
        }
      })
    }
    <% end %>
  <% else %>
    window.location = "/"
  <% end %>
</script>
