<%= render partial:'application/page_title', locals: {title: t('users.profil'), icon: 'user'} %>

<%= form_for @user, url: user_path	, method: :PATCH, html: { onsubmit: "loading('#{ts('actions.save_in_progress')}')" } do |f| %>

  <div class="flex justify-between m-10" x-data>
    <div class="hidden xl:flex"></div>
    <div class="w-full xl:w-1/2">
      <div class='flex flex-col gap-2'>
        <%= build_text_field(f, 'last_name', t('users.yourlastname'), 'user') %>
        <%= build_text_field(f, 'first_name', t('users.yourfirstname'), 'user') %>
        <%= build_password_field(f, 'password', t('users.newpdw'), 'lock') %>
        <%= build_password_field(f, 'password_confirmation', t('users.confirmpwdd'), 'lock', no_policy: true ) %>
        <div class='flex flex-row'>
          <%= fa_icon('language', class: 'h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2 w-8') %>
          <%= f.select :locale, LOCALES.collect { |k,v| [v, k] }, {},
                       class: 'bg-gray-100 border border-gray-800 text-gray-800 text-sm
                               w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                               focus:ring-zourit-1 rounded-r-lg' %>
        </div>
        <%= build_toggle_field_tag('darkmode', 'Mode sombre', false, on_change: "event.target.checked ? document.documentElement.classList.add('dark') : document.documentElement.classList.remove('dark')") %>
        <%= f.hidden_field 'theme' %>
        <div class='flex flex-col bg-gray-200 p-4 rounded-lg gap-2'>
          <span class='flex justify-center'><%= t('users.theme_choice') %></span>
          <div class='grid grid-col-1 md:grid-cols-2 2xl:grid-cols-3 gap-2'>
            <% [ {desc: ts('theme.theme1'), name: 'theme1'}, 
                 {desc: ts('theme.theme2'), name: 'theme2'},
                 {desc: ts('theme.theme5'), name: 'theme5'},
                 {desc: ts('theme.theme3'), name: 'theme3'},
                 {desc: ts('theme.theme4'), name: 'theme4'},
                 {desc: ts('theme.theme6'), name: 'theme6'} ].each do |theme| %>
              <div class='flex flex-col items-center gap-2 bg-white dark:bg-gray-800 p-4 rounded-lg' x-data>
                <%= radio_button_tag :theme, nil, @user.theme == theme[:name], class: 'mb-8 text-zourit-1 focus:ring-zourit-1', 'x-on:change': "document.getElementById('user_theme').value = '#{theme[:name]}'" %>
                <%= service_bouton_theme( theme[:name],
                                          theme[:desc], 
                                          '#ad0c78', 
                                          'link', 
                                          'Lorem ipsum dolor sit amet, consectetur adipiscing elit', 
                                          '#',
                                          {module_name: 'Zimbra'}) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class='flex justify-center gap-2'>
          <%= build_form_submit(f, text: t('actions.validate'), class: 'dark:bg-zourit-1 dark:hover:bg-zourit-2') %>
          <%= build_cancel_button(link: services_path) %>
        </div>
      </div>
    </div>
    <div class="hidden xl:flex"></div>
  </div>

  <script>
    toggle = document.getElementById('darkmode')
    toggle.checked = document.documentElement.classList.contains('dark')
  </script>

<% end %>
