<%= form_for(@ticket_category) do |f| %>
<% if @ticket_category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@ticket_category.errors.count, "error") %><%= I18n.t 'tickets.error' %></h2>

  <ul>
    <% @ticket_category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :libelle %><br>
  <%= f.text_field :libelle %>
</div>
<div class="field">
  <%= f.label :mail %><br>
  <%= f.text_field :mail %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>