<p id="notice"><%= notice %></p>

<h1><%= I18n.t 'tickets.listingtickets'%></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t 'tickets.libelle'%></th>
      <th><%= I18n.t 'tickets.email'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_categories.each do |ticket_category| %>
    <tr>
      <td><%= ticket_category.libelle %></td>
      <td><%= ticket_category.mail %></td>
      <td><%= link_to "#{I18n.t 'tickets.show'}", ticket_category %></td>
      <td><%= link_to "#{I18n.t 'tickets.edit'}", edit_ticket_category_path(ticket_category) %></td>
      <td>
        <%= link_to "#{I18n.t 'tickets.destroy'}", ticket_category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{I18n.t 'tickets.newticket'}", new_ticket_category_path %>