<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t 'tickets.libelle'%>:</strong>
  <%= @ticket_category.libelle %>
</p>

<p>
  <strong><%= I18n.t 'tickets.email'%>:</strong>
  <%= @ticket_category.mail %>
</p>

<%= link_to "#{I18n.t 'tickets.edit'}", edit_ticket_category_path(@ticket_category) %> |
<%= link_to "#{I18n.t 'tickets.annulticket'}", ticket_categories_path %>