<div class="flex justify-between m-10">
  <div class='hidden lg:flex'></div>
  <div class="w-full lg:w-1/2">
    <%= form_for(@visio) do |f| %>
      <% if @visio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@visio.errors.count, "error") %> <%= I18n.t 'modules.bigbluebutton.error' %></h2>
          <ul>
            <% @visio.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flex flex-col gap-2">
        <%= build_text_field(f, 'name', I18n.t('modules.bigbluebutton.salon'), 'video', required: true) %>
        <%= build_text_area(f, 'comment', 'align-left', placeholder: I18n.t('modules.bigbluebutton.comment'),) %>
        <%= build_datetime_field('visio', 'date_start', @visio.date_start, 'calendar', required: true) %>
        <%= build_number_field(f, 'duration', I18n.t('modules.bigbluebutton.duration_min'), 'clock', 1) %>
        <%= build_number_field(f, 'number_of_participants', I18n.t('modules.bigbluebutton.participant'), 'users', 2) %>
        <div class="flex flex-row justify-center gap-2">
          <%= button_tag I18n.t('modules.etherpad.valid'), 
          class: "rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
          <%= link_to I18n.t('modules.etherpad.annuler') , visios_path,
          class: "rounded-lg bg-gray-100 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='hidden lg:flex'></div>
</div>
