<tr id="<%= dom_id visio_recording %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900" x-data>
  <% date = visio_recording.created_at.strftime("%d/%m/%Y %H:%M %Z")%>
  <td class="pl-5 py-3 px-2">
  </td>
  <td class="text-gray-800 dark:text-gray-200 px-2 w-full sm:w-1/4">
    <%= visio_recording.recorded_at.in_time_zone('Paris').strftime('%d/%m/%Y %H:%M') %>
  </td>
  <td class="px-2 2xl:table-cell lg:whitespace-nowrap"><%= visio_recording.duration %></td>
  <td class="px-2 4xl:table-cell lg:whitespace-nowrap"><%= visio_recording.number_of_participants %></td>
  <td class="px-2 4xl:table-cell lg:whitespace-nowrap"><%= ts("modules.bigbluebutton.#{visio_recording.visibility.downcase}") %></td>
  <td class="px-2 4xl:table-cell lg:whitespace-nowrap">
    <div class="flex flex-row flex-nowrap mr-2 xl:mr-6 gap-1 border-z">
      <% for format in visio_recording.formats %>
        <% link = format[:recording_type] == 'video' ? format[:url].gsub('/playback', '') : format[:url] %>
        <a target='_blank' class="p-2 text-sm rounded-sm text-gray-200 hover:text-gray-100 bg-zourit-2 hover:bg-gray-500 transition transform ease-in-out duration-150" href="<%= link %>">
          <% if format[:recording_type] == 'video' 
            icon = 'video'
            video_link = link
          elsif format[:recording_type] == 'presentation'
            icon ='file-alt'
          else # Default icon in case the recording type is not recognized
            icon = 'question'
          end %>
          <div class='flex gap-1 items-center'>
            <i class="fas fa-<%= icon %>" title="<%= ts("modules.bigbluebutton.#{format[:recording_type]}") %>">
            </i>
            <span class='hidden md:flex'><%= format[:recording_type] %></span>
          </div>
        </a>
        <% if format[:recording_type] == 'video' %>
          <%= link_to visio_recording_download_path(@visio, visio_recording.record_id), 
                      title: ts('actions.download'), 
                      class: "p-2 text-sm rounded-sm text-gray-200 hover:text-gray-100 bg-zourit-2 hover:bg-gray-500 transition transform ease-in-out duration-150",
                      data: {turbo: false} do %>
            <%= fa_icon('file-download') %>
            <%= t('actions.download') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="">
    <div class="flex flex-row flex-nowrap mr-2 ">
      <span @click="$clipboard('<%= video_link %>'); addFlashMessage('<%= t('actions.external_link_to_clipboard')%>')"
                    class="mr-2 rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm cursor-pointer"
                    title="<%= t('actions.copy_external_link_to_clipboard') %>">
        <%= fa_icon('clipboard ') %>
      </span>
      <%= link_to visio_recordings_destroy_path(record_id: visio_recording.record_id), 
        method: :delete,
        title: ts('modules.bigbluebutton.delete'), 
        class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", 
        data: { turbo_method: :delete,
                turbo_confirm: "#{ts 'modules.bigbluebutton.delete_recording_confirm'}",  
                turbo_frame: "_top" 
        } do %>
        <%= fa_icon('trash') %>
      <% end %>
    </div>
  </td>
</tr>
