<%= render partial:'application/page_title', locals: {title: t('modules.bigbluebutton.visiorecordingslist'),
                                                      icon: icon('BigBlueButton'), back: { url: @visio, title: t('actions.return') } } %>
<div class="flow-root text-left p-5" 
  x-data="{ 
    refresh(page=1) { 
      $refs.pageInput.value=page; 
      $refs.searchForm.requestSubmit() 
    } 
  }">
  <%= form_with(
    url: visio_recordings_path, 
    method: :get, 
    class: "mb-0", 
    html: { "x-ref": "searchForm" }, 
    data: {
      turbo_frame: "visio_recordings", 
      turbo_action: "advance"
    }) do |form| %>
    <div>
      <%= turbo_frame_tag 'visio_recordings', src: visio_recordings_list_path(@visio), loading: :lazy, turbo_frame: "_top", class: 'flex flex-col w-full md:w-auto' do %>
        <div class='p-2 rounded-lg w-full text-center cursor-wait text-gray-800 dark:text-gray-200'>
          <%= ts('modules.bigbluebutton.loading_records')%><br/>
          <%= fa_icon('spinner', class: 'fa-pulse fa-3x') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
