<%= turbo_frame_tag "visio_recordings" do %>
  <div class="overflow-x-auto inline-block min-w-full align-middle">
    <table class="min-w-full dark:text-gray-200">
      <thead>
        <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 dark:text-gray-600 bg-gray-800 dark:bg-gray-200">
          <th class="py-5"></th>
          <th class="pr-3"><%= ts('modules.bigbluebutton.recordingdate') %></th>
          <th class="2xl:table-cell"><%= ts('modules.bigbluebutton.length') %></th>
          <th class="pl-2 4xl:table-cell"><%= ts('modules.bigbluebutton.numberofparticipants') %></th>
          <th class="pl-2 4xl:table-cell"><%= ts('modules.bigbluebutton.visibility') %></th>
          <th class="pl-2 4xl:table-cell"><%= ts('modules.bigbluebutton.formats') %></th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <%= render @dataset[:items] %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan=7 class='text-center'>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <% if @recordings_processing > 0 %>
    <div class="flex flex-col text-center py-8 dark:text-gray-200">
      <%= fa_icon('hourglass-half', size: '4x', class: 'pb-2') %>
      <%= ts("modules.bigbluebutton.processingrecording") %>
    </div>
  <% elsif @dataset[:count] == 0 %>
    <div class="flex flex-col text-center py-8 dark:text-gray-200">
      <%= fa_icon('ban', size: '4x', class: 'pb-2') %>
      <%= t('shared.no_results_found') %>
    </div>
  <% end %>
<% end %>
