<div class="flex justify-between m-10">
  <div class='hidden lg:flex'></div>
  <div class="w-full lg:w-1/2">
    <%= form_for(@pad) do |f| %>
      <% if @pad.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize( @pad.errors.count, "error" ) %> prohibited this visio from being saved:
          </h2>
          <ul>
            <% @pad.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flex flex-col gap-2">
        <%= build_text_field(f, 'name', I18n.t('modules.etherpad.padname'), 'pencil-alt') %>
        <%= build_text_area(f, 'comment', 'align-left', placeholder: I18n.t('modules.etherpad.paddesc')) %>
        <div class="flex flex-row justify-center gap-2">
          <%= button_tag I18n.t('modules.etherpad.valid'), 
        class: "rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
          <%= link_to I18n.t('modules.etherpad.annuler') , pads_path,
        class: "rounded-lg bg-gray-100 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='hidden lg:flex'></div>
</div>
