<%= turbo_frame_tag "pads", target: "_top" do %>
  <div class="inline-block min-w-full align-middle pt-2">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800 dark:bg-gray-200 dark:text-gray-600">
          <th scope="col" class="py-5"></th>
          <th scope="col" class="pl-2"><%= build_th_order('name', ts('modules.etherpad.padname'),params[:order]) %></th>
          <th scope="col" class="pl-2 hidden lg:table-cell"><%= ts 'modules.etherpad.comment' %></th>
          <th scope="col" class="pl-2 hidden sm:table-cell"><%= ts 'modules.etherpad.creator' %></th>
          <th scope="col" class="pl-2 hidden md:table-cell whitespace-nowrap"><%= build_th_order('created_at', ts('modules.etherpad.created_at'), params[:order]) %></th>
          <th scope="col" class=""></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <%= render @dataset[:items] %>
      </tbody>
    </table>
  </div>
  <div class="text-sm text-gray-500 mt-5">
    <%= render "application/pagination", dataset: @dataset do %>
      <%= link_to pads_export_path(author: params[:author], 
                                   order: params[:order], 
                                   query: params[:query], 
                                      page: 1, 
                                      items_per_page: @dataset[:count], 
                                   archived: params[:archived]),
                                   class: "ml-2 rounded-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2", title: "Tout exporter" do %>
        <%= fa_icon('download') %>
      <% end %>
    <% end %>
  </div>
<% end %>
