<tr id="<%= dom_id pad %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
  <td class="pl-5 py-3 px-2">
    <% owner = (pad.owner_id == @current_user.id) %>
    <i class="fa<%= 'r' unless owner %> fa-star"
            title="<%= owner ? ts('modules.etherpad.owner') : ts('modules.etherpad.not_owner') %>"
            data-toggle='tooltip' data-placement='bottom'>
    </i>
  </td>
  <td class="text-zourit-1 hover:text-gray-200 px-2 w-full md:w-1/4">
    <%= link_to pad.name, pad, title: pad.comment, class: "font-bold", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } %>
  </td>
  <td class="px-2 hidden lg:table-cell w-full">
    <%= "#{pad.comment.to_s[0..100]} #{'...' if pad.comment.to_s.length>100}" %>
  </td>
  <% user = User.find(pad.owner_id) %>
  <td class="px-2 lg:whitespace-nowrap hidden sm:table-cell"><%= "#{user&.first_name} #{user&.last_name}" %></td>
  <td class="px-2 hidden md:table-cell lg:whitespace-nowrap"><%= pad.created_at.strftime("%d/%m/%Y %H:%M %Z") %></td>
  <td class="">
    <div class="flex flex-row flex-nowrap mr-2">
      <%= link_to pad, title: ts('modules.etherpad.access'), class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
        <%= fa_icon('eye') %>
      <% end %>
      <span @click="$clipboard('<%= pad.full_url %>'); addFlashMessage('<%= t('actions.external_link_to_clipboard')%>');" 
                    class="<%= "mr-2 rounded-r-lg" if params[:archived]!='1' %> text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm cursor-pointer"
                    title="<%= t('actions.copy_external_link_to_clipboard') %>">
        <%= fa_icon('clipboard ') %>
      </span>
      <% if params[:archived]!='1' && owner %>
        <%= link_to edit_pad_path(pad), title: ts('modules.etherpad.modifpad'), class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
          <%= fa_icon('pencil-alt') %>
        <% end %>
        <%= link_to "/invitations/pads/#{pad.id}", title: ts('modules.etherpad.share'), class: "text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
          <%= fa_icon('users') %>
        <% end %>
      <% end %>
      <%= link_to archive_pad_path(pad.id),
                    method: :post,
                    title: params[:archived]=='1' ? ts('actions.unarchive') : ts('actions.archive'), 
                    class: "mr-2 #{ owner ? 'rounded-r-lg' : params[:archived]=='1' ? 'rounded-r-lg' : 'rounded-lg'} text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm",
                    data: { "turbo-method": :post } do %>
        <%= fa_icon('archive') %>
      <% end %>
      <% if owner %>
        <%= link_to pad, method: :delete, title: ts('modules.etherpad.delete'), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { "turbo-method": :delete, turbo_confirm: "#{ts 'modules.etherpad.delete_confirm'}" } do %>
          <%= fa_icon('trash') %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
