<%= render partial:'application/page_title', locals: {title: t('modules.etherpad.modifpad'), icon: 'file-alt', back: { url: pads_path, title: t('modules.etherpad.padlist') } } %>

<%= render 'form' %>
