<%= form_tag(model: [@form, @formline], local: true) do |f| %>
<% if @formline.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@formline.errors.count, "error") %> prohibited this formline from being saved:</h2>

  <ul>
    <% @formline.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :field_type %><br>
  <%= f.text_field :field_type %>
</div>
<div class="field">
  <%= f.label :value %><br>
  <%= f.text_area :value %>
</div>
<div class="field">
  <%= f.label :order %><br>
  <%= f.number_field :order %>
</div>
<div class="field">
  <%= f.label :show_title %><br>
  <%= f.check_box :show_title %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>