<p id="notice"><%= notice %></p>

<h1>Listing Formlines</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Form</th>
      <th>field_type</th>
      <th>Value</th>
      <th>Order</th>
      <th>Show title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formlines.each do |formline| %>
    <tr>
      <td><%= formline.title %></td>
      <td><%= formline.description %></td>
      <td><%= formline.form.title %></td>
      <td><%= formline.field_type %></td>
      <td><%= formline.value %></td>
      <td><%= formline.order %></td>
      <td><%= formline.show_title %></td>
      <td><%= link_to 'Show', form_formline_path(@form, formline) %></td>
      <td><%= link_to 'Edit', edit_form_formline_path(@form, formline) %></td>
      <td><%= link_to 'Destroy', [@form, formline], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formline', new_form_formline_path(@form) %>