<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @formline.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @formline.description %>
</p>

<p>
  <strong>Form:</strong>
  <%= @formline.form %>
</p>

<p>
  <strong>field_type:</strong>
  <%= @formline.field_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @formline.value %>
</p>

<p>
  <strong>Order:</strong>
  <%= @formline.order %>
</p>

<p>
  <strong>Show title:</strong>
  <%= @formline.show_title %>
</p>

<%= link_to 'Edit', edit_form_formline_path(@form, @formline) %> |
<%= link_to 'Back', form_formlines_path(@form) %>