<%= turbo_frame_tag "events", target: "_top" do %>
  <div class="inline-block min-w-full align-middle pt-2">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800 dark:bg-gray-200 dark:text-gray-600">
          <th scope="col" class="pl-2"><%= ts 'events.initial_message' %></th>
          <th scope="col" class="pl-2"><%= ts 'events.status' %></th>
          <th scope="col" class="pl-2 hidden md:table-cell"><%= ts 'events.start_date' %></th>
          <th scope="col" class="pl-2 hidden md:table-cell"><%= ts 'events.end_date' %></th>
          <th scope="col" class="pl-2 hidden lg:table-cell"><%= ts 'events.duration' %></th>
          <th scope="col" class="pl-2 text-center hidden xl:table-cell"><%= ts 'events.number_messages' %></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <%= render partial: 'event', collection: @dataset[:items] %>
      </tbody>
    </table>
  </div>

<% end %>
