<tr class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
  <td class=" px-2 text-zourit-1 hover:text-gray-800 dark:hover:text-gray-200 w-full md:w-1/4">
    <%= link_to event.message, show_instance_event_path(@instance,event) %>
  </td>
  <td class="px-2">
    <%= ts("events_states.#{event.events_state.title}") %>
  </td>
  <td class="px-2 hidden md:table-cell">
    <%= event.start_date %>
  </td>
  <td class="px-2 hidden md:table-cell">
    <%= event.end_date %>
  </td>
  <td class="px-2 hidden lg:table-cell">
    <%= event.duration %>
  </td>
  <td class="px-2 text-right hidden xl:table-cell">
    <%= event.messages.count if event.messages.count.positive? %>
  </td>
  <td class="px-2 hidden md:table-cell">
    <%= link_to show_instance_event_path(@instance,event) do %>
      <i class="fa fa-eye" title="<%= ts('access') %>"></i>
    <% end %>
  </td>
</tr>
