<%= form_for :event do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> <%= ts('error') %></h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @instance %>
    <%= f.hidden_field :instance_id, :value => @instance.id %>
  <% end %>
  <div class="flex flex-col w-full mb-2">
    <p><%= ts 'contentmessage' %></p>
    <div class="flex flex-row w-full">
      <%= build_text_area(f, :message, 'pencil-alt', placeholder: ts( :onplaceholder ), required: true ) %>
    </div>
  </div>

  <% 
    # TODO: déplacer ce code dans le controller
    state_list = [] 
    InstanceState.all.each do |instance_state| 
      state_list << [ ts("instance_states.#{instance_state.title}"), instance_state.id ]
    end
  %>

  <div class="flex flex-col w-full mb-2">
    <p><%= I18n.t 'events.statesmodule' %></p>
    <div class="flex flex-row w-full">
      <span class="rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2"><%= fa_icon('bookmark') %></span>
      <%= f.select :instance_state_id,
        options_for_select(state_list), { include_blank: "" },
          class: "bg-gray-100 border border-gray-800 text-gray-800 dark:text-gray-800 text-sm w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1 rounded-r-lg",
          required: true 
        %>
    </div>
  </div>

  <div>
    <p class="labels"><%= I18n.t 'events.startoperation' %></p>
    <div class="input-group">
      <%= build_datetime_field('event', 'start_date', @event.start_date, 'calendar', required: true) %>
    </div>
  </div>

  <div>
    <p><%= I18n.t 'events.endoperation' %></p>
    <div>
      <%= build_datetime_field('event', 'end_date', @event.end_date, 'calendar') %>
    </div>
  </div>

  <div class="flex flex-col w-full mt-4">
    <div class="flex flex-row justify-center gap-2">
      <%= button_tag(class: "rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2") do %>
        <%= ts(@event.new_record? ? :create : :update) %>
      <% end %>
      <%= link_to ts(:cancel) , status_path, class: "rounded-lg bg-gray-100 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
    </div>
  </div>

<% end %>
