<tr id="<%= dom_id instance %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">

  <td class="px-2">
    <i class="fa fa-<%= instance.config_module.font %>"></i>
  </td>

  <td class="text-zourit-1 hover:text-zourit-2 dark:hover:text-gray-200 px-2 w-full md:w-1/4">
    <%= link_to instance.name, show_instance_status_path(instance) %>
  </td>

  <td class="px-2 hidden lg:table-cell w-full">
    <%= t("modules.#{instance.config_module.name.downcase}.title") %>
  </td>

  <td class="px-2 hidden md:table-cell">
    <%= instance.last_event.created_at.strftime("%d/%m/%Y %H:%M %Z") if instance.last_event.present?%>
  </td>

  <td class="px-2 whitespace-nowrap dark:text-gray-800">
    <% banner_status(instance.instance_state.importance) do %>
      <%= ts("instance_states.#{instance.instance_state.title}") %>
    <%end %>
  </td>
  <td class="hidden sm:table-cell">
    <div class="flex flex-row flex-nowrap mr-2 ">
      <%= link_to show_instance_status_path(instance), title: ts('show'), class: "mr-2 rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
        <%= fa_icon('eye') %>
      <% end %>
    </div>
  </td>
</tr>
