<h1 class='text-3xl'>
  MESSAGE FORM todo...
</h1>

<div class="form-group">
  <label>
    <%= ts('instances.instance') %>:
  </label>
  <div class="cols-sm-10">
    <div class="input-group">
      <span class="input-group-addon">
        <%= fa_icon('cog', size: 'lg' ) %>
      </span>
      <p type="text" class="form-control">
        <%= @event.instance.name %>
      </p>
    </div>
  </div>
</div>

<div class="form-group">
  <label>
    <%= ts 'events.start_date' %>:
  </label>
  <div class="cols-sm-10">
    <div class="input-group">
      <span class="input-group-addon">
        <%= fa_icon('calendar', size: 'lg' ) %>
      </span>
      <p type="text" class="form-control">
        <%= @event.start_date %>
      </p>
    </div>
  </div>
</div>
<div class="form-group">
  <label>
    <%= ts 'events.end_date' %>:
  </label>
  <div class="cols-sm-10">
    <div class="input-group">
      <span class="input-group-addon">
        <%= fa_icon('calendar', size: 'lg' ) %>
      </span>
      <p type="text" class="form-control">
        <%= @event.end_date %>
      </p>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="CategoryTicket">
    <%= I18n.t 'events.initial_message' %>:
  </label>
  <div class="cols-sm-10">
    <div class="input-group">
      <span class="input-group-addon">
        <%= fa_icon('pencil-alt', size: 'lg' ) %>
      </span>
      <p type="text" class="form-control">
        <%= @event.message %>
      </p>
    </div>
  </div>
</div>
