<div class="z-index-page">

  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1>
          <a class="retour" href="/status/<%= @event.id %>" title="<%= I18n.t 'actions.return' %>">
            <%= fa_icon('arrow-left') %>
          </a>
          <% cfg_mod = ConfigModule.find(@event.config_module_id) %>
          <i class="fa <%= cfg_mod.font %>" aria-hidden="true"></i> <%= cfg_mod.title %></h1>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-3"></div>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>