<%= render partial:'application/page_title', locals: { 
    title: ts('title', id: @event.id, name: @event.instance.name),
    icon: 'heartbeat',
    back:  {
      url: show_instance_status_path(@event.instance_id), 
      title: ts('show_instance',name: @event.instance.name)
    } 
  } %>

<div class="flex m-10">
  <div class="flex flex-col w-full gap-6">

    <div class="w-full flex flex-col items-center gap-2 dark:text-gray-200">
      <h2 class='text-2xl'><%= @event.message%></h2>
      <div class="w-full h-6 bg-gray-200 rounded-full">
        <div class="h-6 bg-gradient-to-r from-zourit-2 to-zourit-1 rounded-full" style=" <%= "width: #{@progress_bar_percent}" %>"></div>
      </div>

      <div class="w-full flex flew-col justify-between">
        <% (1..3).each do |i| %>
          <div class="flex flex-row gap-2 items-center">
            <% state=@event.events_state_id>i ? 'complete' : (i==@event.events_state_id ? 'active' : 'disabled') %>
            <i class='fas <%=ts "icon_#{i}"%>'></i>
            <p class="whitespace-nowrap">
              <strong><%= ts("state_#{i}").upcase %></strong>
            </p>
          </div>
        <% end %>
      </div>

      <% if current_user&.superadmin && @event.events_state_id < 3 %>
        <%= form_for(@event, method: "PATCH" , url: update_instance_event_path(@event.instance_id, @event)) do |f| %>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :instance_id %>
          <%= hidden_field_tag 'event[events_state_id]', @event.events_state_id + 1 %>
          <%= f.submit @event.events_state_id==1 ? 'Passer à en cours' : 'Marqué terminé', class: "rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2"%>
        <% end %>
      <% else %>
        TERMINé le <%=@event.end_date%>
      <% end %>

    </div>

    <section class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      <%= render partial: "messages/history_messages", 
          locals:{ can_post: current_user&.superadmin && @event.events_state_id<3 } %>
    </section>
  </div>
</div>
