<%= render partial:'application/page_title', locals: { 
    icon: 'heartbeat',
    title: t('title'),
    back:  { 
      url: status_path, 
      title: t('status.title') 
    } 
  } %>

<div class="flex mx-10 justify-center content-center">
  <div class="justify-center content-center">
    <div class='p-4 mb-4 gap-4 flex flex-col rounded-lg'>

      <h1 class="text-3xl font-semibold text-center dark:text-gray-200">
        <i class="fa fa-<%= @instance.config_module.font %>" aria-hidden="true"></i>
        <%= @instance.config_module.name %>
      </h1>

      <% banner_status(@instance.instance_state.importance) do %>
        <%= ts("instance_states.#{@instance.instance_state.title}") %>
      <%end %>

      <details class="text-xl font-semibold text-center dark:text-gray-200">
        <summary><%= @instance.name %></summary>
        <ol>
          <% if @instance.description.present? %>
            <li>Description : <%= @instance.description %></li>
          <%end%>
          <li>Date de mise en place : <%= @instance.created_at.strftime("%d/%m/%Y %H:%M %Z")%></li>
        </ol>
      </details>
    </div>
  </div>
</div>

<div class="flow-root text-left p-5">
  <div id="toolbar">
    <%= build_button(
          text: ts('events.new_event'),
          icon: 'plus',
          link: new_event_path
        )  if current_user&.superadmin %>
  </div>

  <h2 class="text-2xl font-semibold text-center dark:text-gray-200">
    <%= ts 'events.events_history' %>
  </h2>

  <div>
    <%= render "events", @dataset %>
  </div>

</div>
