<div class="z-index-page">

  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1>
          <a class="retour" href="/services" title="<%= I18n.t 'about.return' %>">
            <%= fa_icon('arrow-left') %>
          </a>
          Importation <%= @for_real ? '(réel)' : '(dry run)' %>
        </h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 text-left">
            <% @messages.each do |line| %>
            <p><%= line %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>