<div class="container">
  <footer class="footer">
    <p class="lead"><%= I18n.t 'modules.survey_user_notifier.sharesurveywith' %> <%=@from.name%>.</p>
    <ul>
      <% user = User.find(@survey.owner_id) %>
      <li><b><%= I18n.t 'modules.survey.creatorsurvey' %> :</b> <%= user.first_name+" "+user.last_name %></li>
      <li><b> <%= I18n.t 'modules.survey.descripsurvey' %> :</b> <%=@survey.comment%></li>
      <li><b><%= I18n.t 'modules.survey.enddatesurvey' %> :</b> <%= @survey.end_date.strftime(" Le %d/%m/%Y à %Hh%M")%>
      </li>
    </ul>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" width="350" height="40" bgcolor="#cecece"
          style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ad0c78; display: block;">
          <a href="<%=@url%>"
            style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
            <span style="color: #ffffff;">
              <%= I18n.t 'modules.survey_user_notifier.seesurvey' %>
            </span>
          </a>
        </td>
      </tr>
    </table>
  </footer>
</div>