<div class="flex justify-between m-10">
  <div class='hidden lg:flex'></div>
  <div class="w-full lg:w-1/2">
    <%= form_for(@ticket) do |form| %>
      <% if @ticket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ticket.errors.count, "error") %><%= I18n.t 'tickets.error' %></h2>
        </div>
      <% end %>

      <div class="flex flex-col gap-2 items-center w-full">
        <div class="w-full">
          <%= build_text_field(form, 'title', ts(:title), 'pencil-alt') %>
        </div>

        <div class="flex flex-row w-full">
          <span class="h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2"><%= fa_icon('bug') %></span>
          <%= form.collection_select :ticket_category_id, TicketCategory.all, :id, :libelle, {},
                                      class: "bg-gray-100 border border-gray-800 text-gray-800 text-sm
                                                            w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                                                            focus:ring-zourit-1 rounded-r-lg" %>
        </div>

        <div class='flex flex-col w-full'>
          <div class="flex flex-row">
            <span class="h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2"><%= fa_icon('cog') %></span>

            <% 
              options = [[ts(:all_concern), nil]]
              options += @instances_ticket.map {|instance| [instance.name_with_module, instance.id]}
            %>
            <%= form.select :instance_id, options, {}, 
              class: "bg-gray-100 border border-gray-800 text-gray-800 text-sm
                                                            w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                                                            focus:ring-zourit-1 rounded-r-lg" %>
          </div>
          <div class="text-xs text-gray-600 dark:text-gray-200 w-full">
            <%= ts :service_concern %>
          </div>
        </div>

        <div class="flex flex-row justify-center gap-2">
          <%= button_tag I18n.t( @ticket.new_record? ? 'form.create' : 'form.edit'), 
            class: "rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
          <%= link_to I18n.t('form.cancel') , tickets_path, 
            class: "rounded-lg bg-gray-100 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
        </div>

      </div>
    <% end %>
  </div>
  <div class='hidden lg:flex'></div>
</div>
