<%= turbo_frame_tag "tickets", target: "_top" do %>
  <div class="inline-block min-w-full align-middle pt-2">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr class="whitespace-nowrap text-md text-center font-semibold text-gray-400 bg-gray-800 dark:bg-gray-200 dark:text-gray-600">
          <th class="py-3 w-1/6 px-2">
            <%= build_th_order('title', ts('tickets.title_name'), params[:order]) %>
          </th>
          <th class="py-3 w-1/6 px-2">
            <%= build_th_order('user_id', ts('tickets.creatorticket'), params[:order]) %>
          </th>
          <th class="py-3 w-1/6 px-2">
            <%= build_th_order('instance_id', ts('tickets.moduleconcern'), params[:order]) %>
          </th>
          <th class="py-3 w-1/6 px-2 hidden sm:table-cell">
            <%= build_th_order('ticket_status_id', ts('tickets.statusticket'), params[:order]) %>
          </th>
          <th class="py-3 w-1/6 px-2 hidden md:table-cell">
            <%= build_th_order('ticket_category_id', ts('tickets.categoryticket'), params[:order]) %>
          </th>
          <th class="py-3 w-1/6 px-2 hidden lg:table-cell">
            <%= build_th_order('tickets.created_at', ts('tickets.creationdate'), params[:order]) %>
          </th>
          <th class="py-3 w-1/6 px-2"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <%= render @dataset[:items] %>
      </tbody>
    </table>
  </div>
  <div class="text-sm text-gray-500 mt-5">
    <%= render "application/pagination", dataset: @dataset do %>
      <%= link_to "/tickets/export", class: "ml-2 rounded-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2", title: "Tout exporter" do %>
        <%= fa_icon('download') %>
      <% end %>
    <% end %>
  </div>
<% end %>
