<tr id="<%= dom_id ticket %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
  <td class="text-zourit-1 hover:text-gray-800 hover:dark:text-white px-2 font-bold">
    <%= link_to ticket.title.present? ? ticket.title : (ts :no_title), ticket %>
  </td>

  <td class="px-2">
    <%= ticket.user&.name || ts('errors.deleted_user') %>
    <% if @current_user.superadmin %>
      (<%= ticket.user&.domain&.name %>)
    <% end %>
  </td>

  <td class="px-2 w-full">
    <%= ticket.instance&.name_with_module %>
  </td>

  <td class="px-2 hidden sm:table-cell">
    <%= I18n.t "tickets.status.state_#{ticket.ticket_status.id}" %>
  </td>

  <td class="px-2 hidden md:table-cell">
    <%= ticket.ticket_category.libelle %>
  </td>

  <td class="px-2 hidden lg:table-cell">
    <%= ticket.created_at.strftime("%d/%m/%Y %H:%M %Z") %>
  </td>

  <td class="px-2">
    <div class="flex flex-row flex-nowrap mr-2">
      <%= link_to ticket, title: ts(:show), class: "mr-2 rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
        <%= fa_icon('eye') %>
      <% end %>
      <% if( (@current_user.id == ticket.user_id || @current_user.superadmin) && !@archived ) %>
        <%= link_to edit_ticket_path(ticket), title: ts(:edit), class: "mr-2 rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
          <%= fa_icon('pencil-alt') %>
        <% end %>
      <% end%>
    </div>
  </td>
</tr>
