<%= render partial:'application/page_title', locals: {title: t('tickets.title'), icon: 'ticket-alt'} %>
<div class="flow-root text-left p-5"
  x-data="{
    refresh(page=1) {
      $refs.pageInput.value=page;
      $refs.searchForm.requestSubmit()
    }
  }">
  <%= form_with(
    url: tickets_path,
    method: :get,
    class: "mb-0",
    html: { "x-ref": "searchForm" },
    data: {turbo_frame: "tickets", turbo_action: "advance"}
    ) do |form| %>
    <div class="flex flex-col gap-2">
      <div class='flex'>
        <%= build_button(text: ts('tickets.newticket'),
                       icon: 'plus',
                       link: new_ticket_path) %>
      </div>
      <div class="flex-wrap gap-2 flex">
        <div class="flex flex-row">
          <div class="h-auto rounded-l-lg bg-zourit-1 !text-gray-100 p-2 text-sm">
            <%= ts 'tickets.creatorticket' %>
          </div>
          <%= form.select :author, @ticket_authors, { include_blank: I18n.t('tickets.all_creators') }, "@input": "refresh()", class: "dark:bg-gray-200 dark:text-gray-800 pr-8 text-sm bg-gray-800 text-gray-400 rounded-r-lg border-gray-800 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1" %>
        </div>
        <div class="flex flex-row">
          <div class="h-auto rounded-l-lg bg-zourit-1 !text-gray-100 p-2 text-sm">
            <%= ts 'tickets.moduleconcern' %>
          </div>
          <%= form.select :instance, @ticket_instances, { include_blank: I18n.t('tickets.all_modules') }, "@input": "refresh()", class: "dark:bg-gray-200 dark:text-gray-800 pr-8 text-sm bg-gray-800 text-gray-400 rounded-r-lg border-gray-800 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1" %>
        </div>
        <div class="flex flex-row">
          <div class="h-auto rounded-l-lg bg-zourit-1 !text-gray-100 p-2 text-sm">
            <%= ts 'tickets.statusticket' %>
          </div>
          <%= form.select :status, @ticket_statuses, { include_blank: I18n.t('tickets.all_status') }, "@input": "refresh()", class: "dark:bg-gray-200 dark:text-gray-800 pr-8 text-sm bg-gray-800 text-gray-400 rounded-r-lg border-gray-800 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1" %>
        </div>
        <div class="flex flex-row">
          <div class="h-auto rounded-l-lg bg-zourit-1 !text-gray-100 p-2 text-sm">
            <%= ts 'tickets.categoryticket' %>
          </div>
          <%= form.select :category, @ticket_categories, { include_blank: I18n.t('tickets.all_categories') }, "@input": "refresh()", class: "dark:bg-gray-200 dark:text-gray-800 pr-8 text-sm bg-gray-800 text-gray-400 rounded-r-lg border-gray-800 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1" %>
        </div>
        <div class="flex flex-row">
          <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
          <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden" %>
        </div>
        <div class="flex items-center">
          <%= build_toggle_field(form, 
                                'archived', 
                                t('modules.survey.archived'), 
                                checked: params[:archived] == 1, 
                                "on_change": "refresh()") %>
        </div>
      </div>
    </div>
    <div class="">
      <%= render "tickets", tickets: @dataset %>
    </div>
  <% end %>
</div>
