<%= render partial:'application/page_title', locals: {
  title: t('tickets.full_title', id: @ticket.id, title: @ticket.title), 
  icon: 'ticket-alt', 
  back: {
    url: tickets_path, 
    title: t('tickets.title') 
  }} %>

<div class="flex m-10 justify-center content-center ">

  <div class="flex flex-col w-full items-center justify-center content-center gap-6">

    <div class="w-full flex flex-col items-center gap-2">
      <div class="w-full h-6 bg-gray-200 rounded-full">
        <div class="h-6 bg-gradient-to-r from-zourit-2 to-zourit-1 rounded-full" style=" <%= "width: #{@progress_bar_percent}" %>"></div>
      </div>

      <div class="w-full flex flew-col justify-between">
        <% (1..3).each do |i| %>
          <div class="flex flex-row gap-2 items-center">
            <% state=@ticket.ticket_status_id>i ? 'complete' : (i==@ticket.ticket_status_id ? 'active' : 'disabled') %>
            <%= fa_icon(I18n.t "tickets.status.icon_#{i}") %>
            <p class="whitespace-nowrap dark:text-white">
              <strong><%= (I18n.t "tickets.status.state_#{i}" ).upcase %></strong>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="w-full border-collapse dark:text-gray-200">
      <div class='flex flex-row items-center gap-2'>
        <div class='w-1/3  p-2 bg-gray-400 rounded-l text-white text-right' ><%= I18n.t 'tickets.creatorticket' %></div>
        <div class='w-2/3 p-2 bg-gray-800 rounded-r text-white text-left'><%= @ticket.user&.name %></div>
      </div>
      <div class='flex flex-row items-center gap-2'>
        <div class='w-1/3  p-2 bg-gray-400 rounded-l text-white text-right' ><%= I18n.t 'tickets.categoryticket' %></div>
        <div class='w-2/3 p-2 bg-gray-800 rounded-r text-white text-left'><%= @ticket.ticket_category.libelle %></div>
      </div>
      <div class='flex flex-row items-center gap-2'>
        <div class='w-1/3 p-2 bg-gray-400 rounded-l text-white text-right' ><%= I18n.t 'tickets.serviceconcern' %></div>
        <div class='w-2/3 p-2 bg-gray-800 rounded-r text-white text-left'>
          <%= 
              if @ticket.instance 
                @ticket.instance.name_with_module 
              else
                ts(:all_concern)
              end %>
        </div>
      </div>
      <% if @ticket.ticket_status_id < 3 %>
        <div class='flex flex-row items-center gap-2'>
          <div class='w-full p-2 rounded-l text-white text-center'>
            <%= link_to edit_ticket_path(@ticket), title: ts('edit'), class: "mr-2 rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
              <%= fa_icon('cog') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </section>

    <div class="w-full flex flex-col items-center gap-2 m-6 bg-gray-100 rounded ">
      <% if @next_statuses.any? %>
        <div class="w-full m-5 " x-data="{ ticket_status_id: '0' }">

          <h2 class='text-zourit-1 text-2xl text-center mb-4'>
            <%= ts :modify_status %>
          </h2>

          <%= form_for(@ticket, method: "PUT" , id: "change_status") do |form| %>
            <div class="flex flex-row items-baseline justify-center gap-4 ">
              <%= form.hidden_field :ticket_status_id, 'x-model':'ticket_status_id' %>
              <% @next_statuses.each do |label, icon, id | %>
                <%  # id == 1 (ré-ouvrir)
                    button_class= id != 1 ? 'bg-zourit-1 text-gray-100 hover:bg-gray-800' : 'bg-gray-800 text-gray-100 hover:bg-gray-400'
                %>
                <%= form.button class: button_class+' rounded-lg text-sm px-5 py-2',
                  '@click': "ticket_status_id='#{id}'" do %>
                  <%= fa_icon(icon) %> <%= label %>
                <%end%>
              <%end%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="w-full">
      <%= render partial: "messages/history_messages", locals: { can_post: @ticket.ticket_status.next_statuses !='[]' } %>
    </div>
  </div>
</div>
