<%= turbo_frame_tag "invitations" do %>
  <div class="inline-block min-w-full align-middle pt-2">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800">
          <th scope="col" class="pl-5 py-5"><%= I18n.t "invitations.guests"%></th>
          <th scope="col" class="py-5 hidden sm:table-cell"><%= I18n.t "invitations.emails"%></th>
          <th scope="col" class="hidden sm:table-cell"><%= I18n.t "invitations.typeuserinvitation"%></th>
          <th scope="col" class=""></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @invitations_list.each do |invitation| %>
          <%= render 'invitation', invitation: invitation %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
