<tr class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
  <td class="pl-5 py-3 px-2 w-full sm:w-1/4">
    <%= fa_icon(invitation[:icone], class: 'mr-2') %>
    <%= invitation[:name] %>
  </td>
  <td class="w-1/4 hidden sm:table-cell">
    <%= invitation[:email]%>
  </td>
  <td class='w-full hidden sm:table-cell'>
    <%= invitation[:title]%>
  </td>
  <td>
    <div class="flex flex-row flex-nowrap mr-2 ">
      <%= link_to "/invitation/send_email/#{invitation[:type]}_#{invitation[:id]}", 
                  title: ts('invitations.send_by_mail'),
                  class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm",
                  data: { turbo: false } do %>
        <%= fa_icon('paper-plane') %>
      <% end %>

      <%= link_to "/invitation/destroy/#{invitation[:type]}_#{invitation[:id]}?tag=#{params[:tag]}&id=#{params[:id]}", 
                  method: :delete, 
                  title: ts('invitations.delete'), 
                  class: "rounded-r-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", 
                  data: { turbo: false } do %>
        <%= fa_icon('trash') %>
      <% end %>

    </div>
  </td>
</tr>
