<% mod = ConfigModule.where(url_local: "/#{params[:tag]}")&.first %>
<%= render partial:'application/page_title', locals: {title: "#{@module.name} - #{t('invitations.title')}",
                                                      icon: mod&.font,
                                                      back: { url: mod&.url_local, title: mod&.name }
                                                      } %>
<div class="flow-root text-left p-5"
  x-data="{ 
    refresh(page=1) { 
      $refs.pageInput.value=page; 
      $refs.searchForm.requestSubmit() 
    } 
  }">
  <%= form_with(
    url: invitations_path, 
    method: :get, 
    class: "mb-0", 
    html: { "x-ref": "searchForm" }, 
    data: {turbo_frame: "pads", turbo_action: "advance"}
    ) do |form| %>
    <div class="flex flex-row justify-between">
      <span class="rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-zourit-2 text-sm px-5 py-2 cursor-pointer"
            @click="document.getElementById('dialogInvitation').showModal()">
        <%= ts('invitations.adduserinvitation') %>
      </span>
      <div class="flex-row justify-between gap-2 hidden lg:flex ml-5">
        <div class="flex-row hidden">
          <span class="h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2">
            <%= fa_icon('search') %>
          </span>
          <%= form.text_field :query,"@input.debounce": "refresh()", class: "bg-gray-800 dark:bg-gray-200 border border-gray-800 text-gray-100 dark:text-gray-800 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: "Rechercher" %>
          <!-- Ces input hidden sont modifié via alpinejs -->
          <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
          <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden" %>
        </div>
      </div>
    </div>
    <div class="">
      <%= render "invitations", invitations: @invitations_list %>
    </div>
  <% end %>
</div>
<dialog
  class="fixed rounded-lg w-full sm:w-8/12 xl:w-6/12 backdrop:bg-gray-600 backdrop:opacity-80 open:animate-fade-in focus:ring-zourit-1"
  id='dialogInvitation' 
  x-data="{ 
    pane: 'users',
    users_ids: [],
    users_names: [],
    groups_ids: [],
    groups_names: [],
    externals: [],
    add(id, email, type='user') {
      if (type=='user') {
        const index = this.users_ids.indexOf(id)
        if (index < 0) { 
          this.users_ids.push(id) 
          this.users_names.push(email) 
        }
      } else if (type=='group') {
        const index = this.groups_ids.indexOf(id)
        if (index < 0) { 
          this.groups_ids.push(id) 
          this.groups_names.push(email) 
        }
      } else {
        const index = this.externals.indexOf(id)
        if (index < 0) { 
          this.externals.push(id) 
        }
      }
    },
    del(id, type='user') {
      if (type=='user') {
        const index = this.users_ids.indexOf(id)
        if (index > -1) { 
  this.users_ids.splice(index, 1)
  this.users_names.splice(index, 1)
  }
  } else if (type=='group') {
  const index = this.groups_ids.indexOf(id)
  if (index > -1) { 
  this.groups_ids.splice(index, 1)
  this.groups_names.splice(index, 1)
  }
  } else {
  const index = this.externals.indexOf(id)
  if (index > -1) { 
  this.externals.splice(index, 1)
  }
  }
  },
  add_external() {
  email = document.getElementById('external_input').value
  if (validateEmail(email)) {
  this.add(email, email, 'external')
  document.getElementById('external_input').value = ''
  console.log('add_external')
  }
  }
  }"
  >
  <div class="bg-gray-800 dark:bg-gray-900 px-4 py-3">
    <h3 class="font-semibold leading-6 text-2xl text-gray-200 text-center py-4">
      <%= ts('invitations.adduserinvitation') %>
    </h3>
    <div class='flex flex-col sm:flex-row justify-around w-full gap-1'>
      <span class='rounded-lg p-2 text-gray-200 cursor-pointer hover:bg-zourit-1'
              :class="pane == 'users' ? 'bg-zourit-1' : 'bg-zourit-2'"
              @click='pane="users"'><span class='mr-2'><%= fa_icon('user') %></span><%= I18n.t 'invitations.modal.usersinternalinvitation' %></span>
      <span class='bg-gray-800 rounded-lg p-2 text-gray-200 cursor-pointer hover:bg-zourit-1' 
              :class="pane == 'groups' ? 'bg-zourit-1' : 'bg-zourit-2'"
              @click='pane="groups"'><span class='mr-2'><%= fa_icon('users') %></span><%= I18n.t 'invitations.modal.groupsinvitation' %></span>
      <span class='bg-gray-800 rounded-lg p-2 text-gray-200 cursor-pointer hover:bg-zourit-1' 
              :class="pane == 'external_users' ? 'bg-zourit-1' : 'bg-zourit-2'"
              @click='pane="external_users"'><span class='mr-2'><%= fa_icon('globe') %></span><%= I18n.t 'invitations.modal.usersexternalinvitation' %></span>
    </div>
  </div>
  <%= form_for  @module, 
                  url: "/invitations/#{@tag}s/#{@module.id }/invite", 
                  method: :post,
                  html: { class: 'mb-0', 'x-on:submit': "add_external(); document.getElementById('dialogInvitation').close(); loading('#{ts('actions.save_in_progress')}')" } do |f| %>
    <%= f.hidden_field :invitation_users, 'x-model': 'users_ids' %>
    <%= f.hidden_field :invitation_groups, 'x-model': 'groups_ids' %>
    <%= hidden_field_tag :invitation_external, nil, 'x-model': 'externals' %>
  <% end %>
  <div class="bg-gray-100 dark:bg-gray-800 dark:text-gray-200 px-4 pb-4 pt-5 sm:p-6 sm:pb-4" 
        x-data='{ 
          refresh(page=1) { 
            $refs.pageInput.value = page
            $refs.exclude.value = users_ids.toString()
            $refs.searchForm.requestSubmit()
          },  
        }'>
    <div class="flex flex-col sm:items-start gap-4">
      <div class='flex gap-1 flex-wrap'>
        <template x-for="(user, index) in users_names">
          <span class='py-1 px-2 bg-gray-600 text-gray-200 text-xs rounded-full flex gap-1 pt-2' @click="del(users_ids[index]);refresh()">
            <%= fa_icon('user') %>
            <span x-text="user" class=''></span>
            <%= fa_icon('minus', class: 'cursor-pointer hover:text-zourit-1 hover:bg-gray-200 rounded-full p-1 -mt-1') %>
          </span>
        </template>
        <template x-for="(group, index) in groups_names">
          <span class='py-1 px-2 bg-gray-600 text-gray-200 text-xs rounded-full flex gap-1 pt-2' @click="del(groups_ids[index], 'group')">
            <%= fa_icon('users') %>
            <span x-text="group" class=''></span>
            <%= fa_icon('minus', class: 'cursor-pointer hover:text-zourit-1 hover:bg-gray-200 rounded-full p-1 -mt-1') %>
          </span>
        </template>
        <template x-for="(external, index) in externals">
          <span class='py-1 px-2 bg-gray-600 text-gray-200 text-xs rounded-full flex gap-1 pt-2' @click="del(externals[index], 'external')">
            <%= fa_icon('globe') %>
            <span x-text="external" class=''></span>
            <%= fa_icon('minus', class: 'cursor-pointer hover:text-zourit-1 hover:bg-gray-200 rounded-full p-1 -mt-1') %>
          </span>
        </template>
      </div>
      <div  class="flex w-full"
                x-show="pane == 'users'"
                x-cloak>
        <div class="inline-block min-w-full align-middle pt-2">
          <%= form_with(url: invitations_path(params[:tag], params[:id]), 
                  method: :get, 
                  class: "mb-0", 
                  html: { "x-ref": "searchForm" }, 
                  data: {
                    turbo_frame: "users"
                  }) do |form| %>
            <div class="flex flex-col xl:flex-row justify-end gap-2">
              <div class="flex flex-col md:flex-row gap-2">
                <div class="flex flex-row">
                  <span class="h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2">
                    <%= fa_icon('search') %>
                  </span>
                  <%= form.text_field :query, "@input.debounce": "refresh()", class: "bg-gray-800 dark:bg-gray-200 border border-gray-800 text-gray-100 dark:text-gray-800 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: "Rechercher", onkeydown: "return event.key != 'Enter';" %>
                  <!-- Ces input hidden sont modifié via alpinejs -->
                  <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
                  <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden", value: "1" %>
                  <%= form.text_field :exclude, 'x-ref': 'exclude', class:"hidden" %>
                </div>
              </div>
            </div>
            <%= render 'groups/users' %>
          <% end %>
        </div>
      </div>
    </div>
    <div  class="flex w-full"
                x-show="pane == 'groups'"
                x-cloak>
      <div class="inline-block min-w-full align-middle pt-2">
        <table class="w-full divide-y divide-gray-300">
          <thead>
            <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800">
              <th data-field="id"></th>
              <th data-sortable="true" data-field="nom"><%= I18n.t 'invitations.modal.namegroups' %></th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <td data-id="<%= group.id%>">
                  <button @noPressEnter() @click="add('<%=group.id%>', '<%=group.name%>', 'group')"
                                class="rounded-lg text-gray-100 text-xs hover:text-gray-100 bg-zourit-1 p-2 hover:bg-zourit-2">
                    <%= fa_icon('plus') %>
                  </button>
                </td>
                <td><%= group.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div  class="flex w-full"
                x-show="pane == 'external_users'"
                x-cloak>
      <div class='flex flex-row w-full'>
        <%= email_field_tag 'external', "",
                              placeholder: t("invitations.external_mail"),
                              id: 'external_input',
                              'x-ref': 'external_input',
                              '@keyup.enter': "add_external()",
                              class: "bg-gray-100 border border-gray-800 text-gray-800 text-sm
                                                              rounded-l-lg w-full pl-2 focus:border-zourit-1 focus:ring-1
                                                              focus:ring-zourit-1" %>
        <span @click="add_external()"
                    class='cursor-pointer hover:bg-zourit-2 rounded-r-lg bg-zourit-1'
                    title='<%= ts 'invitations.add_this_external' %>'>
          <%= fa_icon("plus", class: 'h-auto text-gray-100 text-lg py-3 px-2 w-8') %>
        </span>
      </div>
    </div>
  </div>
  <div class="bg-gray-800 dark:bg-gray-900 px-4 py-3 flex sm:flex-row-reverse sm:px-6 gap-2">
    <div class='flex gap-2'>
      <%= submit_tag  ts('actions.add'),
                    form: "edit_#{params[:tag].chop}_#{params[:id]}",
                    class: "rounded-lg bg-gray-800 text-gray-100 bg-zourit-1 hover:bg-zourit-2
                            text-sm px-5 py-2 cursor-pointer transition transform ease-in-out duration-300"
                          %>
      <button type="button" @click="document.getElementById('dialogInvitation').close()"
            class="rounded-lg bg-gray-100 text-gray-800 hover:bg-gray-600 hover:text-gray-100 font-semibold text-sm px-5 py-2 cursor-pointer transition transform ease-in-out duration-300">
        <%= ts('actions.cancel') %>
      </button>
    </div>
  </div>
</dialog>
<script>
  const validateEmail = (email) => {
    return String(email)
      .toLowerCase()
      .match(
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      );
  };
</script>
