<%= render partial:'application/page_title', 
           locals: {title: "#{ts(:title)} #{@domain.name}", 
           icon: 'globe',
           back: { url: domains_path, title: ts('domains.index.title') } } %>
<%= form_for(@domain_details, url: "/domains/#{@domain.id}/details", method: :post) do |f| %>
  <div class="flex justify-between m-10 gap-8 flex-col sm:flex-row dark:text-gray-200">
    <div class="hidden 2xl:flex w-1/4"></div>
    <div class="w-full sm:w-1/2 2xl:w-1/4 flex-col">
      <% if  @domain_details.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize( @domain_details.errors.count, "error") %>"<%= I18n.t 'domains.error' %> </h2>
          <ul>
            <% @domain_details.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flex flex-col gap-2">
        <h2><%= ts('informations') %></h2>
        <%= build_text_field(f, 'full_name', ts(:structure), 'building', required: true) %>
        <%= build_text_field(f, 'contact', ts(:contact), 'user') %>
        <%= build_text_area(f, 'address', 'pencil-alt', placeholder: ts(:address)) %>
        <%= build_text_field(f, 'phone', ts(:phone), 'phone') %>
        <%= build_text_field(f, 'email', ts(:email), 'paper-plane') %>
        <%= build_number_field(f, 'quota', ts(:quota), 'chart-pie', min = 0, required: true) %>
        <%= build_text_area(f, 'comment', 'pencil-alt', placeholder: ts(:comment)) %>
        <div class='flex flex-row'>
          <%= fa_icon('tag', class: 'h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2') %>
          <%= f.select :domain_category_id, DomainCategory.order(:category).collect {|cat| [ cat.category, cat.id ] }, { include_blank: true },
                       class: 'bg-gray-100 border border-gray-800 text-gray-800 text-sm
                               w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                               focus:ring-zourit-1 rounded-r-lg' %>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-2 w-full sm:w-1/2 2xl:w-1/4">
      <h2><%= ts('billing_informations') %></h2>
      <%= build_text_field(f, 'bill_to', ts(:bill_to), 'user') %>
      <%= build_text_area(f, 'billing_address', 'pencil-alt', placeholder: ts(:billing_address)) %>
      <h2><%= ts('quota_informations') %></h2>
      <% data = {
                  labels: [
                    ts('domains.dialog_domains_statistics.total_attributed_quota'),
                    ts('domains.dialog_domains_statistics.remaining_quotas'),
                  ],
                  datasets: [{
                    data: [@total_attributed_quota, @total_quotas-@total_attributed_quota],
                    backgroundColor: [
                      '#1f2937',
                      '#ad0c78',
                    ],
                    hoverOffset: 4
                  }]
                }.to_json %>
      <%= chart('stat', 'pie', data) %>
    </div>
    <div class="hidden 2xl:flex w-1/4"></div>
  </div>
  <div class="flex justify-center gap-2 pb-4">
    <%= f.submit ts("actions.validate"), class: "cursor-pointer rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
    <%= link_to "#{I18n.t 'modules.survey.annuler' }", domains_path, class: "rounded-lg bg-gray-200 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
  </div>
<% end %>
