<dialog
  class="fixed rounded-lg w-full sm:w-8/12 xl:w-4/12 backdrop:bg-zourit-2 backdrop:opacity-50 open:animate-fade-in"
  x-ref='dialogDeleteDomain'>
  <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <div class="sm:flex sm:items-start">
      <div class="p-8 mx-auto flex flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
        <%= fa_icon('exclamation-triangle', size: '2x', class: 'text-red-700') %>
      </div>
      <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
        <h2 class="text-2xl font-semibold leading-6 text-gray-900" x-text="domainName"></h2>
        <h3 class="text-base font-semibold leading-6 text-gray-900"><%= ts('domains.index.delete_title') %></h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500"><%= ts('domains.index.warning_delete') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
    <%= link_to ts('domains.index.delete_domain_confirm'), 
                nil, 
                method: :delete, 
                'x-ref': 'deleteButton',
                data: { "turbo-method": :delete, turbo_confirm: "#{ts 'domains.index.confirm_delete'}" },
                class: "inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold 
                        text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto", 
                title: ts(:delete_domain) %>
    <button type="button" 
            @click='$refs.dialogDeleteDomain.close()' 
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white 
                   px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 
                   ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
      <%= ts('actions.cancel') %>
    </button>
  </div>
</dialog>
