<dialog
  class="fixed rounded-lg w-full sm:w-8/12 xl:w-6/12 backdrop:bg-gray-600 backdrop:opacity-80 open:animate-fade-in"
  id='dialogStatDomain'>
  <div class="bg-gray-800 px-4 py-3">
    <h3 class="font-semibold leading-6 text-2xl text-gray-200 text-center py-4">
      <%= ts(:modal_statistics_title) %>
    </h3>
  </div>
  <div class="bg-gray-100 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <div class="sm:flex sm:items-start gap-4">
      <div class="flex sm:w-2/3">
        <div class="flex flex-col w-full gap-2">
          <h3 class="font-bold">Quota</h3>
          <%= build_text_info(ts('domains.dialog_domains_statistics.total_quota'), "#{@domain.zouritDomainQuota} Go") %>
          <%= build_text_info(ts('domains.dialog_domains_statistics.total_attributed_quota'), "#{@domain.zouritAttributedQuota} Go") %>
          <%= build_text_info(ts('domains.dialog_domains_statistics.remaining_quotas'), "#{@domain.zouritQuotaLeft} Go") %>
          <%= build_text_info(ts('domains.dialog_domains_statistics.users_count'), "#{@domain.nbUsersDomain}") %>
        </div>
      </div>
      <div class='flex sm:w-1/3 h-80 justify-center'>
        <% if @domain.zouritQuotaLeft >= 0 %>
          <% data = {
                      labels: [
                        ts('domains.dialog_domains_statistics.total_attributed_quota'),
                        ts('domains.dialog_domains_statistics.remaining_quotas'),
                      ],
                      datasets: [{
                        data: [@domain.zouritAttributedQuota, @domain.zouritQuotaLeft],
                        backgroundColor: [
                          '#1f2937',
                          '#ad0c78',
                        ],
                        hoverOffset: 4
                      }]
                    }.to_json %>
          <%= chart('stat', 'pie', data, {}, trace: false) %>
        <% else %>
          <div class="flex flex-col gap-4 items-center pt-6">
            <%= fa_icon 'exclamation-triangle', size: '4x', class: 'text-red-600' %>
            <span class="text-center"><%= ts(:overquota) %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bg-gray-800 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
    <button type="button" 
            @click="document.getElementById('dialogStatDomain').close()" 
            class="mt-3 inline-flex w-full justify-center rounded-md bg-gray-200 
                   px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm 
                   hover:bg-zourit-1 hover:text-gray-200 sm:mt-0 sm:w-auto focus:outline-none">
      <%= ts('shared.close') %>
    </button>
  </div>
</dialog>
