<dialog
  class="fixed rounded-lg w-full sm:w-8/12 xl:w-4/12 backdrop:bg-zourit-2 backdrop:opacity-50 open:animate-fade-in"
  x-ref='dialogDeleteService'>
  <div class="bg-white dark:bg-gray-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <div class="sm:flex sm:items-start">
      <div class="p-8 mx-auto flex flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
        <%= fa_icon('exclamation-triangle', size: '2x', class: 'text-red-700') %>
      </div>
      <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
        <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100"><%= ts(:title) %></h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500 dark:text-gray-300"><%= ts(:desc) %></p>
        </div>
        <div class="text-sm text-gray-500 dark:text-gray-300 mt-4">
          <template x-for="removedModule in removedModules">
            <div>
              <%= fa_icon('caret-right') %>
              <span x-text="removedModule"></span>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-50 dark:bg-gray-900 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
    <button type="button" 
            @click='$refs.dialogDeleteService.close()' 
            class="mt-3 ml-2 inline-flex w-full justify-center rounded-md bg-white 
                   px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 
                   ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
      <%= ts('actions.cancel') %>
    </button>
    <span @click="$refs.dialogDeleteService.close(); loading('<%= ts('actions.save_in_progress') %>'); $refs.formEditUser.submit()"
          class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold 
                text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto cursor-pointer">
      <%= ts(:confirm) %>
    </span>
  </div>
</dialog>
