<tr id="<%= dom_id domain %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
  <td class="px-2 w-1/4">
    <%= domain.full_name %>
  </td>
  <td class="px-2 w-full lg:w-1/4">
    <%= domain.name %>
  </td>
  <td class="px-2 hidden lg:table-cell w-full">
    <%= domain.details.domain_category&.category %>
  </td>
  <td class="pr-4 hidden md:table-cell lg:whitespace-nowrap">

    <% percent = domain.zouritDomainQuota.positive? ? (domain.zouritAttributedQuota*100/domain.zouritDomainQuota).round(0) : 100 %>

    <% overquota = percent>100 %>

    <% percent = 100 if overquota %>

    <div class='flex flex-row gap-1'>
      <div class="w-24 lg:w-48 bg-neutral-200 dark:bg-gray-200 shadow-inner rounded-md">
        <div class="bg-zourit-1 h-6 p-0.5 text-center text-xs font-medium leading-none text-gray-900 whitespace-nowrap py-2 rounded-md"
           style="width: <%= percent %>%">
        </div>
      </div>

      <span class="text-xs pt-1 <%= overquota ? 'text-red-800' : 'text-gray-800' %> dark:text-white"><%= "#{domain.zouritAttributedQuota}/#{domain.zouritDomainQuota}Go" %></span>
    </div>
  </td>
  <td class="">
    <div class="flex flex-row flex-nowrap mr-2 ">
      <%= link_to "/domains/#{domain.id}/details", title: ts('domains.index.informations'), class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { turbo: false } do %>
        <%= fa_icon 'file-alt' %>
      <% end %>
      <%= link_to "/domains/#{domain.id}/infos", title: ts('domains.index.parameters'), class: "text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { turbo: false } do %>
        <%= fa_icon 'cog' %>
      <% end %>
      <%= link_to domain_path(domain.id), title: ts('domains.index.users'), class: "mr-2 rounded-r-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-smg", data: { turbo: false } do %>
        <%= fa_icon 'users' %>
      <% end %>
      <span title="<%=ts('domains.index.delete_domain')%>" 
            @click="showDeleteDialog('<%= domain.name %>', '<%= domain_path(domain.id) %>')"
            class="cursor-pointer rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm">
        <%= fa_icon('trash') %>
      </span>
    </div>
  </td>
</tr>
