<div
  x-cloak 
  x-show='selected_tab == "groups"'
  x-transition:enter="transition duration-500 transform ease-out" 
  x-transition:enter-start="opacity-0 translate-y-4" 
  x-transition:enter-end="opacity-100 translate-y-0"
  x-data="{
    deny_disable_group(target) {
      if (!target.checked) { 
        addFlashMessage('<%= ts(:last_user_warn) %>', 'alert')
        addFlashMessage('<%= ts(:last_user_warn_advice) %>')
        target.checked = true
        target.value = true
      }
    },
  }">
  <div class='w-full px-4'>
    <div class="flex flex-col items-center text-gray-800 dark:text-gray-200 py-4 gap-2">
      <%= fa_icon('users', size: '4x', class: 'text-zourit-1') %>
      <h2 class='flex text-2xl font-semibold gap-2'>
        <%= ts('domains.user_menu.groups') %>
      </h2>
      <p><%= ts(:groups_desc) %></p>
    </div>
    <div class="grid grid-col-1 xl:grid-cols-3 gap-2 mt-4 bg-gray-200 dark:bg-gray-700 m-8 p-8 rounded-lg">
      <div class='xl:col-start-2'>
        <div class='flex flex-col gap-2'>
          <% @domain.groups(with_users: true).each do |group| %>
            <%= hidden_field_tag "groups[#{group.id}]", false %>
            <% last_user = group.member.count == 1 && group.member?(@user) %>
            <%= build_toggle_field_tag("groups[#{group.id}]", 
                                        group.name, 
                                        group.member?(@user), 
                                        dark: true,
                                        on_change: "#{ 'deny_disable_group(event.target)' if last_user }"
                                      ) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
