<div class="well well-sm">
  <h2 class="dark:text-gray-200 font-bold"><%= option.description %></h2>
  <!-- TODO: récupèrer le champ domain de manière générique -->
  <% value = option.user_options(@user)&.value %>
  <% initial_aliases = JSON.parse(value).map { |_, v| v }.to_s unless value.to_s.empty? %>
  <% initial_aliases_h = value.gsub("\"", "\\\"") || '{}' if value %>
  <div  id='<%="ArrayOfString-#{option.id}"%>' 
        data-placeholder='<%=option.placeholder%>' 
        data-suffix='@<%= @domain.name %>'
        data-pattern='<%= email_local_part_pattern%>'
        data-title='<%= ts 'domain.email_local_part_definition'%>'
        class='bg-gray-800 p-4 rounded-lg'
        x-data='{
                    aliases: <%= initial_aliases || "[]" %>,
                    aliases_h: "<%= initial_aliases_h %>",
                    newAlias: "",
                    regex: new RegExp("^[a-zA-Z0-9_.-]*$"),
                    addAlias() { 
                      if (this.newAlias && !this.aliases.includes(this.newAlias) && this.regex.test(this.newAlias)) {
                          this.aliases.push(this.newAlias)
                          this.newAlias = ""
                          this.aliases_h = this.populate_aliases_h()
                      }
                    },
                    deleteAlias(index) {
                      this.aliases.splice(index, 1)
                      this.aliases_h = this.populate_aliases_h()
                    },
                    populate_aliases_h() {
                      aliases = "{"
                      index = 0
                      this.aliases.forEach((a) => {
    aliases = aliases.concat("\"", index, "\"", ":\"", a, "\",")
    index += 1
    })
    if (this.aliases.length>0) { aliases = aliases.slice(0, -1) }
    aliases += "}"
    return aliases
    },
    }'>
    <input type="text" name="servicesformline[option-<%= option.id %>]" id="aliases" x-model="aliases_h" class="hidden">

    <div class="flex flex-col gap-2">
      <div class="flex flex-row">
        <input  type="text" 
                name="" 
                id="newAlias" 
                x-model="newAlias" 
                value="" 
                placeholder="<%= option.placeholder %>" 
                @keydown.enter="event.preventDefault();addAlias();return false;"
                class="bg-gray-100 border border-gray-800 text-gray-800 text-sm rounded-l-lg 
                        w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1">
        <span class="h-auto rounded-r-lg bg-zourit-1 text-gray-100 p-2 items-center flex cursor-pointer"
              @click='addAlias()'
              title="<%= t('actions.validate') %>" >
          <%= fa_icon('angle-double-right') %>
        </span>
      </div>
    </div>
    <div class="relative overflow-x-auto">
      <table x-show="aliases.length > 0" class="w-full text-sm text-black ">
        <tbody class="items-center">
          <template x-for="(alias, index) in aliases" :key="alias">
            <tr class="text-gray-200">
              <td class="px-4 py-2 whitespace-nowrap w-full" >
                <span x-text="alias"></span>
              </td>
              <td>
                <span @click="deleteAlias(index)" class='cursor-pointer' title="<%= ts('actions.delete') %>">
                  <%= fa_icon('trash') %>
                </span>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</div>
