<div
  x-cloak 
  x-show='selected_tab == "profile"'
  x-transition:enter="transition duration-500 transform ease-out" 
  x-transition:enter-start="opacity-0 translate-y-4" 
  x-transition:enter-end="opacity-100 translate-y-0">
  <div class='w-full px-4'>
    <div class="flex flex-col items-center text-gray-800 dark:text-gray-200 py-4 gap-2">
      <%= fa_icon('user', size: '4x', class: 'text-zourit-1') %>
      <h2 class='flex text-2xl font-semibold gap-2'>
        <%= ts('domains.user_menu.profile') %>
      </h2>
      <p><%= ts(:profile_desc) %></p>
    </div>
    <div class="grid grid-col-1 gap-2 mt-4 bg-gray-200 dark:bg-gray-700 m-8 p-8 rounded-lg">
      <div class=''>
        <div class='flex flex-col gap-2'>
          <%= build_text_field_tag('user[last_name]', @user.last_name, ts('users.nom'), 'user', required: @user.id.nil?) %>
          <%= build_text_field_tag('user[first_name]', @user.first_name, ts('users.prenom'), 'user', required: @user.id.nil?) %>
          <% if @user.id.nil? %>
            <%= build_email_field_tag('user[email]', @user.first_name, ts('users.email'), 'paper-plane', true, @domain.name, autocomplete: 'new-password') %>
          <% end %>
          <%= build_password_field_tag('user[password]', ts('users.passwd'), 'lock', required: @user.id.nil?, autocomplete: 'new-password') %>
          <%= hidden_field_tag "user[admin]", false %>
          <%= build_toggle_field_tag('user[admin]', ts('users.admin'), @user.admin, dark: true) %>
        </div>
      </div>
    </div>
  </div>
</div>
