<div class='flex flex-col -ml-14 sm:ml-0'>
  <%= render 'edit_user_profile' %>
  <%= render 'edit_user_groups' %>
  <% @domain.config_modules.each do |mod| %>
    <div 
      x-cloak 
      x-show='selected_tab == "<%= mod.name.downcase %>"'
      x-transition:enter="transition duration-500 transform ease-out" 
      x-transition:enter-start="opacity-0 translate-y-4" 
      x-transition:enter-end="opacity-100 translate-y-0" 
    >
      <div class='w-full'>
        <div class="flex flex-col items-center text-gray-800 dark:text-gray-200 py-4 gap-2">
          <%= fa_icon(mod.font, size: '4x', 'x-bind:class': "divOptions[#{mod.id}] ? 'text-zourit-1' : 'text-gray-400'", class: 'transition duration-300 ease-in-out') %>
          <h2 class='flex text-2xl font-semibold gap-2'>
            <%= ts("modules.#{mod.name.downcase}.title") %>
          </h2>
          <p class='flex justify-center text-center p-2'>
            <%= ts("modules.#{mod.name.downcase}.description") %>
          </p>
        </div>

        <!-- on affiche les options uniquement si on a plus de 1 options (plus que juste le "enabled") -->
        <% if mod.user_options.count > 1 %>
          <div x-show="divOptions[<%= mod.id %>]"
                     x-transition:enter="transition duration-500 transform ease-out" 
                     x-transition:enter-start="opacity-0 scale-90" 
                     x-transition:enter-end="opacity-100 scale-100" 
                     x-transition:leave="transition duration-300 transform ease-in" 
                     x-transition:leave-start="opacity-100 scale-100" 
                     x-transition:leave-end="opacity-0 scale-90"
                     class="grid gird-cols-1 2xl:grid-cols-3 gap-2 mt-4 bg-gray-200 dark:bg-gray-700 m-8 p-8 rounded-lg">
            <!-- On boucle sur les MetaOptions du module -->
            <% mod.user_options.each do |option| %>
              <% next if option.key=='enabled' %>
              <div class='2xl:col-start-2'>
                <div class='flex flex-col'>
                  <% case option.field_type %>
                  <% when 'String' %>
                  <span class='input-group-addon' title="<%= option.description %>">
                    <%= fa_icon 'pencil-alt' %>
                  </span>
                  <%= text_field_tag "servicesformline[option-#{option.id}]", nil, class: 'form-control', placeholder: option.description %>
                  <% when 'Boolean' %>
                  <%= hidden_field_tag "servicesformline[option-#{option.id}]", false %>
                  <% 
                        toggle_value = @user.user_option_value(option)
                        toggle_value = true if toggle_value.nil?
                      %>
                  <%= build_toggle_field_tag("servicesformline[option-#{option.id}]", option.description, toggle_value, dark: true) %>
                  <% when 'Quota' %>
                  <div class='flex'>
                    <%= build_number_field_tag(
                      "servicesformline[option-#{option.id}]", 
                      '', 
                      'chart-pie', 
                      { 
                        min: option.module_min_quota, 
                        max: @domain.zouritQuotaLeft>0 ? @domain.zouritQuotaLeft : nil, 
                        value: @user.user_option_value(option) || option.module_default_quota,
                        on_input: "checkQuotaInputValue(event); quotaLeft = calculateQuotaLeft()",
                        class: 'quota',
                        data: { 'toggleref': "servicesformline_option-#{mod.user_options_enabled.id}" }
                      } 
                    ) %>
                    <span class="flex items-center ml-2 bg-gray-400 text-gray-100 text-xs px-2 rounded-lg">/ <span class='mx-1' x-text='quotaLeft'></span> Go</span>
                  </div>
                  <% when 'ArrayOfString' %>
                  <%= render 'edit_user_main_array_of_string', option: %>
                <% else %>
                  <% logger.warn { "Field #{option.key} of type #{option.field_type} unknown" } %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

      <% end %>

          <% if binding.eval("Core::#{mod.name}::Main.destroyable?") && @div_options_ids[mod.id] %>
            <template x-if="dataRemovalAlert[<%=mod.id%>]">
              <div 
            x-transition:enter="transition duration-500 transform ease-out" 
            x-transition:enter-start="opacity-0 scale-90" 
            x-transition:enter-end="opacity-100 scale-100" 
            x-transition:leave="transition duration-300 transform ease-in" 
            x-transition:leave-start="opacity-100 scale-100" 
            x-transition:leave-end="opacity-0 scale-90"
            class="grid grid-cols-1 2xl:grid-cols-3 gap-2 mt-4 bg-gray-200 dark:bg-gray-700 m-8 p-8 rounded-lg">

                <h1 class='text-2xl text-zourit-1'>
                  <%= fa_icon 'bullhorn' %>
                  <%=ts('modules.zimbra.confirmation.title')%>
                </h1>
                <div class='flex flex-col gap-2 items-center justify-center dark:text-gray-200' >
                  <span><%=ts('modules.zimbra.confirmation.message', email: @user.email)%></span>

                  <%= build_toggle_field_tag('zimbra-deletion-confirmation', ts('modules.zimbra.confirmation.required'), false, {
                    dark: true,
                    required: true,
                    on_change: "changeRemovalAlert(#{mod.id}, !event.target.checked)"
                    })%>
                </div>
              </div>
            </template>
          <%end%>

        </div>
      </div>
    <% end %>
  </div>
