<div class='sm:flex' x-data='{ userMenuMobileShow: false }'>
  <div class='flex sm:hidden bg-gray-800 p-2'>
    <span class='text-gray-200 cursor-pointer z-10' @click='userMenuMobileShow = true'>
      <%= fa_icon('bars', class: 'text-2xl') %>
    </span>
  </div>
  <div class="hidden sm:flex flex-col bg-gray-800 text-gray-200 p-4 rounded-bl-lg">
    <%= render 'user_menu' %>
  </div>

  <div class="sm:hidden" role="dialog" aria-modal="true" x-cloak x-show='userMenuMobileShow'>
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-20"></div>
    <div @click.outside='userMenuMobileShow=false' class="fixed inset-y-0 left-0 top-36 mt-2 z-20 overflow-y-auto bg-gray-800 text-gray-200 px-6 py-6 max-w-sm sm:ring-1 ring-gray-900/10">
      <div class="flex items-center justify-between">
        <button type="button" class="-m-2.5 rounded-md p-2.5 cursor-pointer text-gray-200" @click="userMenuMobileShow = false">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <%= render 'user_menu' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
