<%= form_tag "/domains/#{@domain.id}/users/#{@user.id}", 
              class:'mb-0', 
              'x-data': '',
              'x-ref': 'formEditUser',
              onsubmit:"loading('#{ts('actions.save_in_progress')}')" do %>
  <div id='domain'
    class="flex gap-4"
    x-data="{
      selected_tab: '<%= params[:selected_tab] || "profile" %>',
      selected_tab_class: '',
      quotaLeft: calculateQuotaLeft(),
      divOptions: <%= @div_options_ids.to_json %>,
      previousDivOptions: <%= @div_options_ids.to_json %>,
      dataRemovalAlert: {},
      removalAlert: false,
      removedModules: [],
      
      toggleModule(moduleId, userOptionsId, moduleName, checked, moduleTitle, dataLoss) {
        this.divOptions[moduleId] = checked
        this.quotaLeft = calculateQuotaLeft()
        this.selected_tab=moduleName
        checkAllToggle(userOptionsId, checked)
        <% if @user.persisted? %>
          if (this.previousDivOptions[moduleId] && dataLoss == 'true') {
            if (checked) {
              const index = this.removedModules.indexOf(moduleTitle)
              if (index > -1) this.removedModules.splice(index, 1)
    } else {
    this.removedModules.push(moduleTitle)
    }
    }
  <% end %>
  },

  changeRemovalAlert(moduleId, value){
  this.dataRemovalAlert[moduleId] = value
  console.log(typeof this.dataRemovalAlert)
  this.removalAlert = Object.values(this.dataRemovalAlert).find(v => v)
  console.log(this.removalAlert)
  },

  }">

  <%= render 'edit_user_menu' %>
  <%= render 'dialog_delete_services' %>

  <div class='flex flex-col justify-between w-full'>
    <%= render 'edit_user_main' %>
  </div>
</div>
<% end %>

<script>
  calculateQuotaLeftInitialValue = (zouritQuotaLeft) => {
    return zouritQuotaLeft + sumOnQuotaElements()
  }

  sumOnQuotaElements = () => {
    var quotaElements = document.querySelectorAll(".quota")
    var attributedQuota = 0
    for (var i = 0; i < quotaElements.length; i++) {
      var el = quotaElements[i]
      toggle = document.querySelector("[data-id='" + el.dataset.toggleref + "']")
      if (toggle && toggle.checked) {
        attributedQuota += Number(el.value)
      }
    }
    return attributedQuota
  }

  setMaxInputQuota = (quotaLeft) => {
    const quotaElements = document.querySelectorAll(".quota")
    for (var i = 0; i < quotaElements.length; i++) {
      const max = Number(quotaElements[i].value) + quotaLeft
      if (max>0) quotaElements[i].setAttribute("max", Number(quotaElements[i].value) + quotaLeft)
    }
  }

  calculateQuotaLeft = () => {
    var quota = quotaLeftInitialValue - sumOnQuotaElements()
    setMaxInputQuota(quota)
    return quota
  }

  checkQuotaInputValue = (e) => {
    if (Number(e.target.value) <= e.target.min ) { e.target.value = e.target.min }
    else if (Number(e.target.value) > e.target.max ) { e.target.value = e.target.max }
  }

  var quotaLeftInitialValue = calculateQuotaLeftInitialValue(<%= @quota_left %>)
</script>
