<div class="flex justify-between m-10 dark:text-gray-200">
  <div class='hidden lg:flex'></div>
  <div class="w-full lg:w-1/2">
    <%= form_for(@domain) do |f| %>
      <div class="flex flex-col gap-2" x-data="{ domain: '' }">
        <%= build_text_field(f, 'full_name', ts('domain_details.edit.structure'), 'building', required: true) %>
        <%= build_text_area(f, 'address', 'pencil-alt', placeholder: ts('domain_details.edit.address')) %>
        <%= build_text_field(f, 'phone', ts('domain_details.edit.phone'), 'phone') %>
        <%= build_text_field(f, 'email', ts('domain_details.edit.email'), 'paper-plane') %>
        <div class='flex flex-row'>
          <%= fa_icon('globe', class: 'h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2') %>
          <%= f.text_field :name, 
                       placeholder: ts(:domain_or_subdomain),
                       required: true,
                       'x-model': 'domain',
                       class: 'bg-gray-100 border border-gray-800 text-gray-800 text-sm
                               w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                               focus:ring-zourit-1 rounded-r-lg' %>
        </div>
        <%= build_number_field(f, 'zouritDomainQuota', ts('domain_details.edit.quota'), 'chart-pie', min = 0, required: true) %>
        <p class="mt-2">
          <%= ts(:domainadmin) %>
        </p>
        <%= build_text_field(f, 'admin_lastname', ts("domain.nom"), 'user', required: true) %>
        <%= build_text_field(f, 'admin_firstname', ts('domain.prenom'), 'user', required: true) %>
        <div class='flex flex-row'>
          <%= fa_icon('paper-plane', class: 'h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2') %>
          <%= f.text_field :admin_email, placeholder: ts('domain.email'),
                                     required: true,
                                     class: 'bg-gray-100 border border-gray-800 text-gray-800 text-sm
                                             w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                                             focus:ring-zourit-1' %>
          <div class="h-auto rounded-r-lg bg-zourit-1 text-gray-100 text-sm p-2  whitespace-nowrap" x-text="'@'+domain"></div>
        </div>
        <%= build_password_field(f, 'admin_password', ts('domain.userpwd'), 'key', required: true) %>
        <%= build_password_field(f, 'admin_password_confirmation', ts('domain.confirmpwd'), 'key', required: true, no_policy: true) %>
        <div class="flex flex-row justify-center gap-2 mt-4">
          <%= button_tag I18n.t('modules.etherpad.valid'), 
        class: "rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
          <%= link_to I18n.t('modules.etherpad.annuler') , domains_path,
        class: "rounded-lg bg-gray-100 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='hidden lg:flex'></div>
</div>
