<div id="modal_user_name" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="modal_user_name_title"><%= ts :title %><span></span></h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/users/id', id: 'modal_user_name_form', method: 'patch' do %> 
        <div class="form-group">
          <label for="motdepassconfirme"><%= ts("domains.show.last_name") %></label>
          <div class="input-group">
            <span class="input-group-addon"><%= fa_icon('user', size: 'lg') %></span>
            <%= text_field_tag 'user[last_name]', nil,
              required: true,
              class: 'form-control',
              id: 'user_change_last_name',
              minlength:"1", maxlength:"255"
            %>
          </div>
        </div>
        <div class="form-group">
          <label><%= ts("domains.show.first_name") %></label>
          <div class="input-group">
            <span class="input-group-addon"><%= fa_icon('user', size: 'lg') %></span>
            <%= text_field_tag 'user[first_name]',  nil,
              required: true,
              class: 'form-control',
              id: 'user_change_first_name',
              minlength:"1", maxlength:"255"
            %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag ts('actions.validate'), class: 'btn btn-primary loading' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>