<div id="modal_create_user" class="modal fade z-admin-modal-saisie-user" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel"><%= I18n.t "domain.newuser" %> </h4>
      </div>
      <%= form_for(@user) do |f| %>
        <div class="modal-body">
          <div class="col-sm-12 col-md-12 row">
            <div class="col-sm-12 col-md-12">
              <div class="field">
                <div class="input-group">
                  <span class="input-group-addon"><%= fa_icon "user" %></span>
                  <%= f.text_field :last_name, required: true, class: "form-control", placeholder: ts("domain.nom"), minlength:"1", maxlength:"255" %>
                </div>
              </div>
              <div class="field">
                <div class="input-group">
                  <span class="input-group-addon"><%= fa_icon "user" %></span>
                  <%= f.text_field :first_name, required: true, class: "form-control", placeholder: ts("domain.prenom"), minlength:"1", maxlength:"255" %>
                </div>
              </div>
              <div class="field">
                <div class="input-group">
                  <span class="input-group-addon"><%= fa_icon "at" %></span>
                  <%= f.text_field :email, class: "form-control", placeholder: ts("domain.email"), pattern: email_local_part_pattern, title: ts("domain.email_local_part_definition"), minlength:"1", maxlength:"255" %>
                  <span id="domainName" class="input-group-addon">@<%= @domain.name %></span>
                  <%= f.hidden_field :domain_id, { value: @domain.id } %>
                </div>
              </div>

              <!-- PASSWORD -->
              <div class="field">
                <div class="input-group" >
                  <span class="input-group-addon"><%= fa_icon "key" %></span>
                  <%= f.password_field :password, required: true, class: "form-control password_input", placeholder: ts("domain.userpwd"), pattern: ZouritAdmin::Application::PASSWORD_PATTERN.source, title: ZouritAdmin::Application::PASSWORD_POLICY %>
                <!-- Hide/Show password -->
                <span class="input-group-addon">
                  <i class="fa fa-eye fa-lg show_hide_password_button" 
                  aria-hidden="true"
                  title=<%= ts('users.show_hide_password') %>
                  </i>
                  </i>
                </span>
                </div>
              </div>

            <!-- CONFIRMATION PASSWORD -->
            <div class="field">
                <div class="input-group">
                  <span class="input-group-addon"><%= fa_icon "key" %></span>
                  <%= f.password_field :password_confirmation, required: true, class: "form-control password_input", placeholder: ts("domain.confirmpwd") %>
               
                  <!-- Hide/Show password -->
                  <span class="input-group-addon ">
                    <i class="fa fa-eye fa-lg show_hide_password_button" 
                    aria-hidden="true"
                    title=<%= ts('users.show_hide_password') %>
                    </i>
                    </i>
                  </span>
                </div>
                
            </div>

            </div>
          </div>
          <div class='clearfix'></div>
          <div class="modal-footer">
            <%= f.submit ts("domain.valid"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

