<div id="user_services_modal" 
  class="modal fade" 
  tabindex="-1" 
  role="dialog"
  <% if flash[:user_id] %>
    data-user_id='<%=flash[:user_id]%>'
  <% end %>
  <% if flash[:user_name] %>
    data-user_name='<%=flash[:user_name]%>'
  <% end %>
  >
  <%= form_tag '/user_services', id: 'user_services_modal_form' do %>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <%= button_tag class: 'close', 'data-dismiss': 'modal', 'aria-label': 'Close' do %>
            <span aria-hidden="true">×</span>
          <% end %>
          <h4 class="modal-title" id="user_services_modal_title"><%= ts :title %><span></span></h4>
        </div>
        <div class='modal-body'>
          <div class='col-md-12'>
            <div class='col-md-4'>
              <ul class='nav nav-pills mb-12'>

                <% @domain.config_modules.each do |mod| %>
                  <li class='nav-item'>
                    <%= link_to "#pills-#{mod.name.downcase}", id: "nav-#{mod.name.downcase}", class: 'nav-link', 'data-toggle': "pill", role: 'tab' do %>
                      <%= fa_icon(mod.font, text: ts("modules.#{mod.name.downcase}.title")) %>
                    <% end %>
                  </li>
                <% end %>
                <% unless @domain.groups.empty? %>
                  <li class='nav-item nav-group'>
                    <%= link_to "#pills-mygroups", id: "nav-mygroups", class: 'nav-link', 'data-toggle': "pill", role: 'tab' do %>
                      <%= fa_icon('users', text: ts("modules.mygroups.title")) %>
                    <% end %>
                  </li>
                <% end %>

              </ul>
            </div>
            <div class='col-md-8'>
              <div class="tab-content">

                <div id="pills-mygroups" class="tab-pane fade" role='tabpanel'>
                  <div class='col-md-8 col-md-offset-2'>
                    <div class="well well-sm">
                      <h2><%= ts('modules.mygroups.title')%></h2>
                      <p><%= ts('modules.mygroups.desc') %></p>
                    </div>
                    <% unless @domain.groups.empty? %>
                      <div class="col-sm-12 col-md-12">
                        <div class='modal-select-groups'>
                          <% @domain.groups.each do |group| %>
                            <div class='input-group'>
                              <%= check_box_tag "groupsids[#{group.id}]", nil, false, toggle: "toggle", data: { on: "oui", off: "non", onstyle: "primary", offstyle: "secondary" } %>
                              <%= group.short_name %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>

                <% @domain.config_modules.each do |mod| %>
                  <div id="pills-<%= mod.name.downcase %>" class="tab-pane fade" role='tabpanel'>
                    <div class='col-md-8 col-md-offset-2'>
                      <div class="well well-sm">
                        <h2><%= ts("modules.#{mod.name.downcase}.title") %></h2>
                        <p><%= ts("modules.#{mod.name.downcase}.description") %></p>
                        <%= check_box_tag("servicesformline[option-#{mod.user_options_enabled.id}]", nil, false, class: 'enabled-switch', toggle: 'toggle', data: { on: 'oui', off: 'non', onstyle: "primary", offstyle: "secondary", 'mod-id': mod.id }) if mod.user_options_enabled %>
                      </div>
                      <div>
                        <% mod.user_options.each do |option| %>
                          <% next if option.key=='enabled' %>
                          <div class='field'>
                            <div class='input-group'>
                              <% case option.field_type %>
                              <% when 'String' %>
                              <span class='input-group-addon' title="<%= option.description %>">
                                <%= fa_icon 'pencil-alt' %>
                              </span>
                              <%= text_field_tag "servicesformline[option-#{option.id}]", nil, class: 'form-control', placeholder: option.description %>
                              <% when 'Boolean' %>
                              <%= check_box_tag "servicesformline[option-#{option.id}]", nil, false, toggle: 'toggle', data: { on: 'oui', off: 'non', onstyle: "primary", offstyle: "secondary" } %>
                              <%= option.description %>
                              <% when 'Quota' %>
                              <span class="input-group-addon"title="<%= option.description %>">
                                <%= fa_icon 'chart-pie' %>
                              </span>
                              <%= number_field_tag "servicesformline[option-#{option.id}]", option.module_min_quota, class: 'form-control quota-field col-md-4', placeholder: option.description, min: option.module_min_quota, max: @domain.zouritQuotaLeft, 'data-initial-value': option.module_min_quota, onchange: "change_quota_left(this);", oninput:"check_user_input(this);"%>
                              <span class="input-group-addon"><span class="quota-left"><%=@domain.zouritQuotaLeft%></span> <%=ts :quota_left%></span>
                              <% when 'ArrayOfString' %>
                              <div class="well well-sm">
                                <h2><%= option.description %></h2>
                                <!-- TODO: récupèrer le champ domain de manière générique -->
                                <div id='<%="ArrayOfString-#{option.id}"%>' 
                                  data-placeholder='<%=option.placeholder%>' 
                                  data-suffix='@<%= @domain.name %>'
                                  data-pattern='<%= email_local_part_pattern%>'
                                  data-title='<%= ts 'domain.email_local_part_definition'%>'
                                  >
                                </div>
                              </div>
                            <% else %>
                              <% logger.warn { "Field #{option.key} of type #{option.field_type} unknown" } %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class='clearfix'></div>
      <div class="modal-footer">
        <%= submit_tag ts('actions.validate'), class: 'btn btn-primary loading' %>
      </div>
    </div>
  </div>
<% end %>
</div>
