<div id="Admin-modal-Statistic" class="modal fade z-admin-modal-saisie-user" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">
          <%= I18n.t "domain.parramtredomaintitle" %><b>
              <%= " #{@domain.name}" %>
            </b>
        </h4>
      </div>
      <div class="modal-body">
        <div hidden>
          <!-- Pour accès au infos de quota en javascript -->
          <span id="quota_domain">
            <%= @domain.zouritDomainQuota %>
          </span>
          <span id="quota_attributed">
            <%= @domain.zouritAttributedQuota %>
          </span>
          <span id="quota_left">
            <%= @domain.zouritQuotaLeft %>
          </span>
          <span id="quota_left_original">
            <%= @domain.zouritQuotaLeft %>
              <!-- quota_left_original conserve la valeur originale si on ne valide pas la modale-->
          </span>
          <span id="nb_users">
            <%= @domain.nbUsersDomain %>
          </span>
        </div>

        <div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= ts(:quota_domain) %>
                </span>
                <%= text_field_tag nil, "#{@domain.zouritDomainQuota} Go" , class: 'form-control input-right' ,
                  readonly: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= ts(:quota_attributed) %>
                </span>
                <%= text_field_tag nil, "#{@domain.zouritAttributedQuota} Go" , class: 'form-control input-right' ,
                  readonly: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= ts(:quota_left) %>
                </span>
                <%= text_field_tag nil, "#{@domain.zouritQuotaLeft} Go" , class: 'form-control input-right' , readonly:
                  true %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= ts('domains.modal_domains_statistics.users_count') %>
                </span>
                <%= text_field_tag nil, @domain.nbUsersDomain, class: 'form-control input-right' , readonly: true %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <%= pie_chart [['Restants', @domain.zouritQuotaLeft], ['Attribué', @domain.zouritAttributedQuota]], colors:
              ["#ad0c78", "#e5e5e5" ] %>
          </div>

        </div>
        <div class="row modal-Etat-Quota"></div>
      </div>
    </div>
  </div>
</div>