<div id="modal_user_password" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="modal_user_password_title"><%= ts :title %><span></span></h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/users/id', id: 'modal_user_password_form' do %>
        <div class="form-group">
          <label><%= ts("domain.newmdp") %></label>
          <div class="input-group">
            <span class="input-group-addon"><%= fa_icon('key', size: 'lg') %></span>
            <%= password_field_tag 'user[password]',  nil,
              required: true,
              class: 'form-control', 
              pattern: ZouritAdmin::Application::PASSWORD_PATTERN.source, 
              title: ZouritAdmin::Application::PASSWORD_POLICY 
            %>
          </div>
        </div>
        <div class="form-group">
          <label for="motdepassconfirme"><%= ts("domain.confirmpwd") %></label>
          <div class="input-group">
            <span class="input-group-addon"><%= fa_icon('key', size: 'lg') %></span>
            <%= password_field_tag 'user[password_confirmation]', nil,
              required: true,
              class: 'form-control'
            %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag ts('domain.valid'), class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>