<div class='flex flex-col p-4 bg-gray-600 rounded-lg text-gray-200'>
  <div class='flex bg-gray-400 text-gray-800 -m-4 mb-2 rounded-t-lg justify-center font-semibold'><%= ts(:info) %></div>
  <span class="pl-1 my-1 hover:bg-gray-800 cursor-pointer" @click="userMenuMobileShow = false; selected_tab='profile'" :class="selected_tab=='profile' ? 'bg-gray-800' : 'bg-gray-600'">
    <%= fa_icon('caret-right', 'x-show': "selected_tab=='profile'", class: '-ml-4 mr-3 text-gray-800 text-xl') %>
    <%= fa_icon('user') %>
    <span class='pl-2'><%= ts(:profile) %></span>
  </span>
  <% unless @domain.groups.empty? %>
    <span class="pl-1 my-1 hover:bg-gray-800 cursor-pointer" @click="userMenuMobileShow = false; selected_tab='groups'" :class="selected_tab=='groups' ? 'bg-gray-800' : 'bg-gray-600'">
      <%= fa_icon('caret-right', 'x-show': "selected_tab=='groups'", class: '-ml-4 mr-3 text-gray-800 text-xl') %>
      <%= fa_icon('users') %>
      <span class='pl-2'><%= ts(:groups) %></span>
    </span>
  <% end %>
</div>
<div class='p-4 bg-gray-600 mt-4 rounded-lg'>
  <div class='flex bg-gray-400 text-gray-800 -m-4 mb-2 rounded-t-lg justify-center font-semibold'><%= ts(:permissions) %></div>
  <table>
    <% @domain.config_modules.each do |mod| %>

      <tr class='hover:bg-gray-800' :class="selected_tab=='<%= mod.name.downcase %>' ? 'bg-gray-800' : 'bg-gray-600'">
        <td class='pr-2 table-cell'>
          <span @click="userMenuMobileShow = false; selected_tab='<%=mod.name.downcase%>'" class='pl-1 cursor-pointer flex items-center text-gray-200 align'>
            <%= fa_icon('caret-right', 'x-show': "selected_tab=='#{mod.name.downcase}'", class: '-ml-4 mr-3 text-gray-800 text-xl') %>
            <div class='w-5 flex justify-center' :class="dataRemovalAlert[<%=mod.id%>] ? 'text-zourit-1' : ''"><%= fa_icon(mod.font) %></div>
            <span class='pl-2 whitespace-nowrap'><%= ts("modules.#{mod.name.downcase}.title") %></span>
          </span>
        </td>
        <td class='table-cell'>
          <%= hidden_field_tag "servicesformline[option-#{mod.user_options_enabled.id}]", false %>
          <%= build_toggle_field_tag(
                        "servicesformline[option-#{mod.user_options_enabled.id}]", 
                        '', 
                        @div_options_ids[mod.id],
                        { 
                          on_change: "toggleModule(#{mod.id}, #{mod.user_options_enabled.id}, '#{mod.name.downcase}', event.target.checked, '#{ts("modules.#{mod.name.downcase}.title")}', '#{mod.data_loss_on_deactivation}')" ,
                          data: { id: "servicesformline_option-#{mod.user_options_enabled.id}" }
                        } 
                      ) if mod.user_options_enabled 
                  %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class='p-4 bg-gray-600 mt-4 rounded-lg'>
  <div class='flex bg-gray-400 text-gray-800 -m-4 mb-2 rounded-t-lg justify-center font-semibold'><%= ts(:validation) %></div>
  <div class="flex justify-center py-4 gap-2">
    <template x-if="removedModules.length>0">
      <div>
        <span @click="if (quotaLeft<0) { addFlashMessage('<%= ts("domains.form_user.quota_exceeded") %>', 'alert'); selected_tab = 'profile' } else { $refs.dialogDeleteService.showModal() }",
              class='rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-zourit-2 text-sm px-5 py-2 cursor-pointer flex'>
          <%= ts('actions.validate') %>
        </span>
      </div>
    </template>

    <template x-if="removedModules.length==0">
      <div>
        <%= submit_tag  ts('actions.validate'), 
                        class: 'rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-zourit-2 text-sm px-5 py-2 cursor-pointer',
                        '@click': "if (quotaLeft<0) { addFlashMessage('#{ts("domains.form_user.quota_exceeded")}', 'alert') }; selected_tab = 'profile'" %>
      </div>
    </template>

    <%= link_to ts('actions.cancel'), domain_path(@domain.id), class: "rounded-lg bg-gray-200 text-gray-800 hover:text-gray-100 hover:bg-zourit-2 text-sm px-5 py-2" %>
  </div>
</div>

<script>
  // Depuis le double menu 'desktop'+'mobile', les toggles 'enabled' se retrouve en double (+ les input correspondant pour la valeur false)
  // Cette fonction est là pour mettre à jour tous les toggles du même nom quand l'un d'eux est changé
  function checkAllToggle(id, value) {
    toggles = document.getElementsByName(`servicesformline[option-${id}]`)
    toggles.forEach(function (currentValue, currentIndex, listObj) {
      toggles[currentIndex].value=`${value}`
      toggles[currentIndex].checked=value
    })
  }
</script>
