<p id="notice"><%= notice %></p>

<h1>
  <a class="retour" href="/services" title="<%= I18n.t 'domain.return' %>">
    <%= fa_icon('arrow-left') %>
  </a>
  <%= I18n.t "domain.adminlist"%> <%= @domain.name %>
</h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t "domain.prenom"%></th>
      <th><%= I18n.t "domain.nom"%></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
    <tr>
      <td><%= administrator.first_name %></td>
      <td><%= administrator.last_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>