<%= render partial:'application/page_title', 
    locals: {
        title: ts(:title, user_name: @user.email),
        domain: @domain.name,
        icon: 'globe',
        back: { 
            url: domain_path(@domain.id), 
            title: t('domain.userdomainmanage') 
        } } %>

<%= render 'form_user' %>
