<%= render partial:'application/page_title', locals: {title: t(:title), icon: 'globe'} %>
<div x-data="{ 
    domainName: '',
    refresh(page=1) { 
      $refs.pageInput.value=page; 
      $refs.searchForm.requestSubmit();
    },
    showDeleteDialog(domain_name, url) {
      this.domainName = domain_name;
      $refs.deleteButton.href = url;
      $refs.dialogDeleteDomain.showModal();
    }
  }" >
  <div class="flow-root text-left p-5">
    <%= form_with(url: domains_path, 
                  method: :get, 
                  class: "mb-0", 
                  html: { "x-ref": "searchForm" }, 
                  data: {
                    turbo_frame: "domains", 
                    turbo_action: "advance"
                  }) do |form| %>
      <div class="flex flex-col xl:flex-row justify-between gap-2">
        <div class="flex gap-2">
          <%= build_button(text: ts(:adddomain), link: new_domain_path, icon: 'plus') %>
          <%= build_button(text: ts('domain.domainoption'), icon: 'chart-area', click: "document.getElementById('dialogStatDomain').showModal(); showGraphModale_stat()") %>
        </div>
        <div class="flex flex-col md:flex-row gap-2">
          <div class="flex flex-row">
            <div class="h-auto rounded-l-lg bg-zourit-1 !text-gray-100 p-2 text-sm">
              <%= ts 'domain_categories.index.category' %>
            </div>
            <%= form.select :category,
                            @categories,
                            { include_blank: "Toutes" },
                            selected: params[:category],
                            "@input": "refresh()",
                            class: "dark:text-gray-800 dark:bg-gray-200 pr-8 text-sm bg-gray-800 text-gray-400 rounded-r-lg border-gray-800 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1" %>
          </div>
          <div class="flex flex-row">
            <%= button_tag id: "submit-button",
                           class: "h-auto rounded-l-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2" do %>
              <%= fa_icon('search') %>
            <% end %>
            <%= form.text_field :query, 
                                "@input.debounce": "refresh()", 
                                class: "dark:text-gray-800 dark:bg-gray-200 bg-gray-800 border border-gray-800 text-gray-100 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", 
                                placeholder: "Rechercher",
                                value: params[:query] %>
            <!-- Ces input hidden sont modifié via alpinejs -->
            <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
            <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden" %>
          </div>
        </div>
      </div>
      <div class="">
        <%= render "domains", domains: @domains %>
      </div>
    <% end %>
  </div>
  <%= render 'dialog_delete_domain' %>
  <%= render 'dialog_domains_statistics' %>
</div>
