<%= render partial:'application/page_title', 
           locals: {title: ts(:title),
           icon: 'globe',
           back: { url: domains_path, title: ts('domains.index.title') } } %>

<%= render 'form' %>
