<%= render partial:'application/page_title', 
           locals: {title: t('domain.userdomainmanage'), 
                    domain: @domain.name,
                    icon: 'globe'} %>
<div x-data="{ 
    domainName: '',
    refresh(page=1) { 
      $refs.pageInput.value=page; 
      $refs.searchForm.requestSubmit();
    }, 
    showDeleteDialog(domain_name, url) {
      this.domainName = domain_name;
      $refs.deleteButton.href = url;
      $refs.dialogDeleteDomain.showModal();
    }
  }" >
  <div class="flow-root text-left p-5">
    <%= form_with(url: domain_path, 
                  method: :get, 
                  class: "mb-0", 
                  html: { "x-ref": "searchForm" }, 
                  data: {
                    turbo_frame: "users", 
                    turbo_action: "advance"
                  }) do |form| %>
      <div class="flex flex-col xl:flex-row justify-between gap-2">
        <div class="flex gap-2">
          <%= build_button(text: ts(:new_user), link: new_domain_user_path(@domain.id), icon: 'plus') %>
          <%= build_button(text: ts('domain.groupmanage'), link: "/domains/#{@domain.id}/groups", icon: 'users') %>
          <%= build_button(text: ts('domain.domainoption'), icon: 'chart-area', click: "document.getElementById('dialogStatDomain').showModal(); showGraphModale_stat()") %>
        </div>
        <div class="flex flex-col md:flex-row gap-2">
          <div class="flex flex-row">
            <%= button_tag id: "submit-button", class: "h-auto rounded-l-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2" do %>
              <%= fa_icon('search') %>
            <% end %>
            <%= form.text_field :query, "@input.debounce": "refresh()", class: "bg-gray-800 dark:bg-gray-200 border border-gray-800 text-gray-100 dark:text-gray-800 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: "Rechercher" %>
            <!-- Ces input hidden sont modifié via alpinejs -->
            <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
            <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden" %>
            <div class="flex ml-1 items-center">
              <%= build_toggle_field(
                  form, 
                  'admin', 
                  t(:admin), 
                  checked: params[:admin] == 'true', 
                  "on_change": "refresh()") %>

            </div>

          </div>
        </div>
      </div>
      <div class="">
        <%= render "users/users", users: @domain.users %>
      </div>
    <% end %>
  </div>
  <%= render 'dialog_domain_statistics' %>
</div>
