<%= render partial:'application/page_title', locals: {title: t('modules.bigbluebutton.settings'), icon: icon('BigBlueButton'),
back: { url: visios_path, title: t('accueil.instances') }} %>
<div class="flow-root text-left p-5" 
  x-data="{ 
    refresh(page=1) { 
      $refs.pageInput.value=page; 
      $refs.searchForm.requestSubmit() 
    } 
  }">
  <div class="grid grid-col-1 gap-2 mt-4 bg-gray-200 dark:bg-gray-700 m-8 p-8 rounded-lg">
    <div class=''>
      <div class='flex flex-col gap-2'>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_generate_viewer_access_code -->
        <%= build_text_field_tag('viewer_access_code', @settings['glViewerAccessCode'], ts('modules.bigbluebutton.vieweraccesscode'), 'user') %>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_generate_moderator_access_code -->
        <%= build_text_field_tag('moderator_access_code', @settings['glModeratorAccessCode'], ts('modules.bigbluebutton.moderatoraccesscode'), 'user') %>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_update_setting avec setting_name=record et setting_value=true|false -->
        <%= build_toggle_field_tag('record', ts('modules.bigbluebutton.recorded'), @settings['record'] == "true", dark: true) %>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_update_setting avec setting_name=glRequireAuthentication et setting_value=true|false -->
        <%= build_toggle_field_tag('requireauthentication', ts('modules.bigbluebutton.requireauthentication'), @settings['glRequireAuthentication'] == "true", dark: true) %>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_update_setting avec setting_name=guestPolicy et setting_value="ASK_MODERATOR"|"ALWAYS_ACCEPT" -->
        <%= build_toggle_field_tag('guestPolicy', ts('modules.bigbluebutton.guestpolicy'), @settings['guestPolicy'] == "ASK_MODERATOR", dark: true) %>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_update_setting avec setting_name=glAnyoneCanStart et setting_value=true|false -->
        <%= build_toggle_field_tag('anyonecanstart', ts('modules.bigbluebutton.anyonecanstart'), @settings['glAnyoneCanStart'] == "true", dark: true) %>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_update_setting avec setting_name=glAnyoneJoinAsModerator et setting_value=true|false -->
        <%= build_toggle_field_tag('anyonejoinasmoderator', ts('modules.bigbluebutton.anyonejoinasmoderator'), @settings['glAnyoneJoinAsModerator'] == "true", dark: true) %>
        <!-- XXX Ce bouton doit envoyer un POST sur la route visio_settings_update_setting avec setting_name=muteOnStart et setting_value=true|false -->
        <%= build_toggle_field_tag('muteonstart', ts('modules.bigbluebutton.muteonstart'), @settings['muteOnStart'] == "true", dark: true) %>
      </div>
    </div>
  </div>
</div>
