<%= link_to config_module_path(config_module.id), class: 'flex flex-col gap-1 p-4 bg-gray-200 rounded-lg hover:bg-gray-800 hover:text-gray-200 items-center' do %>
  <span class='flex justify-center'><i class="fa fa-cog fa-4x hvr-grow-rotate"></i></span>
  <p class='flex justify-center'><%= config_module.name %></p>
<% end %>
