<div class="z-user-page">
  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1><a class="retour" href="/config_modules" title="<%= I18n.t "modules.return"%> "><i class="fa fa-arrow-left"
              aria-hidden="true"></i></a><%= I18n.t "modules.configmodule"%>
          <%= @module.name %></h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= form_for(@module) do |f| %>
          <div class="col-sm-6 col-md-6 text-center">
            <i class="fa <%= @module.icon %> fa-4x zourit-color"></i>
            <div class="field">
              <div class="input-group">
                <span class="input-group-addon">%= fa_icon('pencil-alt', size: 'lg') %></span>
                <%= f.text_field :title, class: "form-control", placeholder:"#{I18n.t 'module.titremodule'} #{@module.name}", value: @module.title%>
              </div>
            </div>
            <div class="field">
              <div class="input-group">
                <span class="input-group-addon">%= fa_icon('pencil-alt', size: 'lg') %></span>
                <%= f.text_area :resume, class: "form-control", placeholder:"#{I18n.t 'module.descmodule'} #{@module.name}", value: @module.resume%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 text-left">
            <div class="field">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                <%= f.text_field :url, class: "form-control", placeholder:"#{I18n.t 'module.urlmodule'}  #{@module.name}"%>
              </div>
            </div>
            <% if ["Zimbra","Framadate","EtherPAD"].include?(@module.name) %>
            <div class="field">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                <%= text_field_tag :host, nil, class: "form-control", placeholder:"#{I18n.t 'module.fqdn'} #{@module.name}" %>
              </div>
            </div>
            <div class="field">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <%= text_field_tag :user, nil, class: "form-control", placeholder: "#{I18n.t 'module.nameuser'}" %>
              </div>
            </div>
            <div class="field">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                <%= password_field_tag :password, nil, class: "form-control", placeholder:"#{I18n.t 'module.mdpuser'}" %>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>