<%= render partial:'application/page_title', 
           locals: {title: t(:title, module: @module.name),
                    icon: 'cog',
                    back: { url: config_modules_path, title: t('accueil.instances') }
                    } %>

<div class='p-10 flex flex-col gap-2'>
  <div class='flex'><%= build_button(text: ts(:adddinstance), link: "/config_modules/#{@module.id}/instances/new", icon: 'plus') %></div>
  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800 dark:bg-gray-200 dark:text-gray-600">
        <th class='py-2'><%= I18n.t 'modules.nameinstance' %></th>
        <th><%= I18n.t 'modules.descinstance' %></th>
        <th><%= I18n.t 'modules.activeinstance' %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @instances.each do |instance| %>
        <tr class='text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200'>
          <td class='py-2 pr-4 whitespace-nowrap'>
            <%= link_to edit_config_module_instance_path(@module, instance) do %>
              <%= instance.name %>
            <% end %>
          </td>
          <td class='w-full'><%= instance.description %></td>
          <td><%= instance.active %></td>
          <td>
            <div class="flex flex-row flex-nowrap mr-2 ">
              <%= link_to edit_config_module_instance_path(@module, instance), title: t('modules.editinstance'), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm mr-2", data: { turbo: false } do %>
                <%= fa_icon('pencil-alt') %>
              <% end %>
              <%= link_to config_module_instance_path(@module, instance), method: :delete, title: t('modules.destroy'), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { "turbo-method": :delete, turbo_confirm: "#{t('actions.sure')}"} do %>
                <%= fa_icon('trash') %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
