<dialog
  class="fixed rounded-lg w-full sm:w-8/12 xl:w-6/12 backdrop:bg-gray-600 backdrop:opacity-80 open:animate-fade-in"
  id='dialogIcon'
  x-data='{ 
          refresh(page=1) { 
            $refs.pageInput.value = page
            $refs.searchForm.requestSubmit()
          },  
        }'>
  <div class="bg-gray-800 px-4 py-3">
    <h3 class="font-semibold leading-6 text-2xl text-gray-200 text-center py-4">
      <%= ts(:title) %>
    </h3>
  </div>
  <div class="bg-gray-100 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <%= form_with(url: @link.id ? edit_link_path(@link.id) : new_link_path, 
                  method: :get, 
                  class: "mb-0", 
                  html: { "x-ref": "searchForm" }, 
                  data: {
                    turbo_frame: "icons"
                  }) do |form| %>
      <div class="flex flex-col xl:flex-row justify-end gap-2">
        <div class="flex flex-col md:flex-row gap-2">
          <div class="flex flex-row">
            <%= button_tag id: "submit-button", class: "h-auto rounded-l-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2" do %>
              <%= fa_icon('search') %>
            <% end %>
            <%= text_field_tag :query, params[:query], "@input.debounce": "refresh()", class: "bg-gray-800 dark:bg-gray-200 border border-gray-800 text-gray-100 dark:text-gray-800 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: ts('actions.search_english') %>
            <!-- Ces input hidden sont modifié via alpinejs -->
            <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden", value: "1" %>
          </div>
        </div>
      </div>
      <%= render 'icons/icons' %>
    <% end %>
  </div>
  <div class="bg-gray-800 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
    <button type="button" 
            @click="document.getElementById('dialogIcon').close()" 
            class="mt-3 inline-flex w-full justify-center rounded-md bg-gray-200 
                   px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm 
                   hover:bg-zourit-1 hover:text-gray-200 sm:mt-0 sm:w-auto focus:outline-none">
      <%= ts('shared.close') %>
    </button>
  </div>
</dialog>
