<div x-data="{ icon: '<%= "fas fa-#{@link.symbol&.gsub('fas fa-', '')}" %>' }">
  <%= form_for(@link) do |f| %>
    <div class='flex flex-col gap-2'>
      <%= build_text_field(f, 'title', I18n.t('links.links.title'), 'pencil-alt', required: true) %>
      <%= build_text_area(f, 'resume', 'align-left', required: true, placeholder: I18n.t('links.links.resume') ) %>
      <%= build_text_field(f, 'url', I18n.t('links.links.url'), 'globe', required: true) %>
      <%= build_color_field(f, 'color', t(:color), 'swatchbook', required: true, required: true) %>
      <div class='flex flex-row'>
        <i class='h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2 w-8' 
            x-ref='faSymbol'
            :class='icon'
            title="<%= I18n.t('links.links.symbol') %>"></i>
        <%= f.text_field :symbol,  
                          'x-ref': 'symbolInput',
                          placeholder: I18n.t('links.links.symbol'),
                          '@click': "document.getElementById('dialogIcon').showModal()",
                          readonly: true,
                          class: 'bg-gray-100 border border-gray-800 text-gray-800 text-sm rounded-r-lg
                                  w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                                  focus:ring-zourit-1' %>
      </div>
      <% if @current_user.admin %>
        <%= check_box_tag :global_link, params[:global]=='true', params[:global]=='true', class: 'hidden' %>
      <% end %>
      <div class='flex gap-2 justify-center'>
        <%= build_form_submit(f, text: t('actions.validate'), class: 'dark:bg-zourit-1 dark:hover:bg-zourit-2') %>
        <%= link_to "#{t 'actions.cancel' }", links_path(global: params[:global]=='true'), class: "rounded-lg bg-gray-200 text-gray-800 hover:text-gray-100 hover:bg-zourit-2 text-sm px-5 py-2" %>
      </div>
    </div>
  <% end %>

  <%= render 'dialog_icons' %>
</div>
