<tr id="<%= dom_id link %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
  <td class='px-2 whitespace-nowrap hidden md:table-cell'>
    <%= fa_icon("#{ link.user_id ? "user": "globe" }", title: ts("#{ link.user_id ? "private_link": "global_link" }"))%>
    <%= ts("#{ link.user_id ? "private_link": "global_link" }")%>
  </td>
  <td class='px-2 whitespace-nowrap'>
    <span class="sm:hidden"><%= fa_icon("#{ link.user_id ? "user": "globe" }", title: ts("#{ link.user_id ? "private_link": "global_link" }"))%></span>
    <%= link_to link.title, edit_link_path(link), class: 'text-zourit-1 font-semibold' %>
  </td>
  <td class='hidden lg:table-cell'><%= link.resume %></td>
  <td class='hidden md:table-cell'><%= link.url %></td>
  <td class='table-cell justify-center pl-4'>
    <%= fa_icon(link.symbol ? link.symbol.gsub('fas fa-', '') : 'link', 
                class: 'p-2 rounded-full text-white', 
                style: "background-color: #{link.color};") %>
  </td>
  <td>
    <div class="flex flex-row flex-nowrap mr-2 ">
      <%= link_to edit_link_path(link, global: params[:global]=='true'), title: t(:edit), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm mr-2", data: { turbo: false } do %>
        <%= fa_icon('pencil-alt') %>
      <% end %>

      <% if @current_user.admin || link.user_id == current_user.id %>
        <%= link_to link, method: :delete, title: t(:delete), class: "rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { "turbo-method": :delete, turbo_confirm: "#{t(:delete_confim)}"} do %>
          <%= fa_icon('trash') %>
        <% end %>
      <% else %>

      <% end %>
    </div>
  </td>
</tr>
