<%= turbo_frame_tag "links", target: "_top" do %>
  <div class="inline-block min-w-full align-middle pt-2">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr class="whitespace-nowrap text-md text-left font-semibold text-gray-400 bg-gray-800 dark:bg-gray-200 dark:text-gray-600" >
          <th scope="col" class="pl-2 py-2 hidden md:table-cell"><%= t :type %></th>
          <th scope="col" class="pl-2"><%= build_th_order('name', t(:title), params[:order]) %></th>
          <th scope="col" class="pl-2 hidden lg:table-cell w-full"><%= t(:resume) %></th>
          <th scope="col" class="pl-2 hidden md:table-cell whitespace-nowrap"><%= t :url %></th>
          <th scope="col" class="pl-2"><%= t :symbol %></th>
          <th scope="col" class=""></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <%= render @dataset[:items] %>
      </tbody>
    </table>
  </div>
  <div class="text-sm text-gray-500 mt-5">
    <%= render "application/pagination", dataset: @dataset do %>

    <% end %>
  </div>
<% end %>
