<%= render partial:'application/page_title', 
           locals: {title: params[:global]=='true' ? t('layouts.menu.our_links') : t('layouts.menu.links'),
                    icon: 'link'
                    } %>

<div class="flow-root text-left p-5"
  x-data="{
    refresh(page=1) {
      $refs.pageInput.value=page;
      $refs.searchForm.requestSubmit()
    }
  }">
  <%= form_with(
    url: links_path,
    method: :get,
    class: "mb-0",
    html: { "x-ref": "searchForm" },
    data: {turbo_frame: "links", turbo_action: "advance"}
    ) do |form| %>
    <div class="flex flex-col md:flex-row justify-between gap-2">
      <div class='flex'>
        <%= build_button(text: ts(:create_new_link),
                       icon: 'plus',
                       link: new_link_path(global: params[:global]=='true')) %>
      </div>
      <div class="flex flex-col md:flex-row gap-2">
        <div class="flex flex-row">
          <%= button_tag id: "submit-button", class: "h-auto rounded-l-lg bg-zourit-1 hover:bg-gray-800 !text-gray-100 hover:text-gray-100 text-lg p-2" do %>
            <%= fa_icon('search') %>
          <% end %>
          <%= form.text_field :query, "@input.debounce": "refresh()", class: "dark:bg-gray-200 dark:text-gray-800 bg-gray-800 border border-gray-800 text-gray-100 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: "Rechercher" %>
          <!-- Ces input hidden sont modifié via alpinejs -->
          <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
          <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden" %>
          <%= text_field_tag :global, params[:global], class:"hidden" %>
        </div>
      </div>
    </div>
    <div class="">
      <%= render "links", memos: @dataset %>
    </div>
  <% end %>
</div>
