<%= render partial:'application/page_title', 
           locals: {title: t(:title),
                    icon: 'link',
                    back: { url: links_path, title: t('links.index.domain_links') }
                   } %>

<div class="flex justify-between m-10">
  <div></div>
  <div class="w-full xl:w-1/2">
    <%= render 'form' %>
  </div>
  <div class="hidden xl:flex"></div>
</div>
