<div class="container">
  <footer class="footer">
    <p class="lead"><%=@from.name%> <%= I18n.t "modules.bigbluebutton.invitvisio"%> </p>
    <ul>
      <li> <b><%= I18n.t "modules.bigbluebutton.visioname"%></b> <%= @visio.name%></li>
      <li><b><%= I18n.t "modules.bigbluebutton.visiodesc"%></b> <%=@visio.comment%></li>
      <li><b><%= I18n.t "modules.bigbluebutton.visiodate"%></b> <%= @visio.date_start.strftime(" le %d/%m/%Y à %Hh%M")%>
      </li>
    </ul>
    <p><%= I18n.t "modules.bigbluebutton.visioaccess"%></p>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" width="350" height="40" bgcolor="#cecece"
          style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
          <a href="<%=@url%>"
            style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
            <span style="color: #ffffff;">
              <%= I18n.t "modules.bigbluebutton.voirvisio"%>
            </span>
          </a>
        </td>
      </tr>
    </table>
  </footer>
</div>
