<div class="col-sm-5" style="float:left;margin-left:80">
  <h3 class="well"> <%= I18n.t 'status.title' %></h3>
  <ul class="list-group">
    <% @instances.each do |instance| %>
    <% cfg_mod = ConfigModule.find(instance.config_module_id) %>
    <% state = InstanceState.find(instance.instance_state_id) %>
    <a href="/status/<%= instance.id %>" class="list-group-item" style="text-align:left">
      <h5><strong><i class="fa fa-<%= cfg_mod.font %>" aria-hidden="true"></i> <%= t "modules.#{cfg_mod.name.downcase}.title" %>
          (<%= instance.name %>)</strong>
        <span class="label pastille label-<%= state.importance %>"><%= state.title %></span></h5>
    </a>
    <% end %>
  </ul>
</div>