<div class="col-sm-5" style="float:right;margin-right:80">
  <h3 class="well"> <%= I18n.t 'status.historyofmessage' %></h3>
  <div class="panel-group">
    <% @stories.each do |story| %>
    <% instance = Instance.find(story.instance_id) %>
    <% cfg_mod = ConfigModule.find(instance.config_module_id) %>
    <% state = InstanceState.find(story.instance_state_id) %>
    <div class="panel panel-default" style="text-align:left">
      <div class="panel-heading">
        <h5><strong><i class="fa <%= cfg_mod.font %>"></i> <%= cfg_mod.title %> (<%= instance.name %>)</strong>
          <span class="pastille label label-<%= state.importance %>"><%= state.title %></span>
          <% if story.start_date < story.end_date && Time.now.utc < story.end_date %>
          <span class="pastille label label-info"> <%= I18n.t 'status.estimatestatus' %></span>
          <% end %>
        </h5>
      </div>
      <div class="panel-body">
        <% if story.start_date < story.end_date && Time.now.utc < story.end_date %>
        <p class="date"> <%= I18n.t 'status.plannedfrom' %> <%= local_time(story.start_date, "%d/%m/%y à %H:%M") %>
          <%= I18n.t 'status.on' %> <%= local_time(story.end_date, "%d/%m/%y à %H:%M") %></p>
        <% else %>
        <p class="date"> <%= I18n.t 'status.lastmodifon' %> <%= local_time(story.updated_at, "%d/%m/%y à %H:%M") %></p>
        <% end %>
        <p class="corps-message">
          <%= story.message.gsub("{0}", "<strong>"+instance.name+"</strong>").gsub("{1}", "<strong>"+local_time(story.start_date, "%d/%m/%y à %H:%M")+"</strong>").gsub("{2}", "<strong>"+local_time(story.end_date, "%d/%m/%y à %H:%M")+"</strong>").html_safe %>
        </p>
        <% if current_user && current_user.superadmin %>
        <div style="float:right">
          <%= link_to edit_instance_story_path(story), class: "liens" do %>
          <i class="fa fa-edit"></i> <%= I18n.t 'status.edit' %>
          <% end %>
          <%= link_to story, method: :delete, class: "liens", data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon('trash') %> <%= I18n.t 'status.delete' %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>