<div class="col-sm-5" style="float:right;margin-right:80">
  <h3 class="well"><%= I18n.t 'status.plannedintervention' %></h3>
  <div class="panel-group">
    <% @stories.each do |story| %>
    <% instance = Instance.find(story.instance_id) %>
    <% cfg_mod = ConfigModule.find(instance.config_module_id) %>
    <% state = InstanceState.find(story.instance_state_id) %>
    <% if story.start_date < story.end_date && Time.now.utc < story.end_date %>
    <div class="panel panel-default" style="text-align:left">
      <div class="panel-heading">
        <h5><strong><i class="fa <%= cfg_mod.font %>" aria-hidden="true"></i> <%= cfg_mod.title %>
            (<%= instance.name %>)</strong>
          <span class="label pastille label-info"><%= I18n.t 'status.estimatestatus' %></span>
        </h5>
      </div>
      <div class="panel-body">
        <p class="date"><%= I18n.t 'status.plannedfrom' %>
          <%= local_time(story.start_date, "%d/%m/%y à %H:%M") %><%= I18n.t 'status.on' %><%= local_time(story.end_date, "%d/%m/%y à %H:%M") %>
        </p>
        <p class="corps-message">
          <%= story.message.gsub("{0}", "<strong>"+instance.name+"</strong>").gsub("{1}", "<strong>"+local_time(story.start_date, "%d/%m/%y à %H:%M")+"</strong>").gsub("{2}", "<strong>"+local_time(story.end_date, "%d/%m/%y à %H:%M")+"</strong>").html_safe %>
        </p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>