<div class="z-index-page">
  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1>
          <a class="retour" href="/services" title="<%= I18n.t 'status.return' %>">
            <%= fa_icon('arrow-left') %>
          </a>
          <%= I18n.t 'status.title' %>
        </h1>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <%= render 'form2' %>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>