<div class="flex justify-between m-10">
  <div class='hidden lg:flex w-1/4'></div>
  <div class="w-full xl:w-1/2">
    <%= form_for(@survey) do |form| %>
      <% if @survey.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize( @survey.errors.count, "error" ) %> prohibited this survey from being saved:
          </h2>
          <ul>
            <% @survey.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flex flex-col gap-8 ">
        <div class="flex flex-col md:flex-row gap-8">
          <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-2">
              <%= build_text_field(form, 'question', I18n.t('modules.survey.titlesurvey'), 'pencil-alt', required: true) %>
              <%= build_text_area(form, 'comment', 'align-left', placeholder: I18n.t('modules.survey.descripsurvey')) %>
              <%= build_datetime_field('survey', 'end_date', @survey.end_date, 'calendar', required: true) %>
            </div>

            <div class="flex flex-col gap-2">
              <%= build_toggle_field(form, "allow_multiple", ts('modules.survey.toallowmanychoice')) %>
              <%= build_toggle_field(form, "anonymous", ts('modules.survey.anonymous')) %>
            </div>
          </div>

          <div class="flex flex-col gap-2">
            <div x-data="{
            choices: [],
            choices_json: '',
            newChoice: '',
            addChoice() {
              if (this.newChoice && !this.choices.includes(this.newChoice)) {
                this.choices.push(this.newChoice);
                this.newChoice = '';
                this.choices_json = JSON.stringify(this.choices)
              }
            },
            deleteChoice(index) {
              this.choices.splice(index, 1);
              this.choices_json = JSON.stringify(this.choices)
            },
          }">

              <div class="relative overflow-x-auto">
                <table x-show="choices.length > 0" class="w-full text-sm text-black ">
                  <thead class="text-sm text-white uppercase bg-zourit-1">
                    <tr>
                      <th scope="col" class="px-6 py-3 rounded-l-lg">
                        <%= t('modules.survey.choice_index') %>
                      </th>
                      <th scope="col" class=" px-6 py-3">
                        <%= t('modules.survey.optionsurvey') %>
                      </th>
                      <th scope="col" class=" px-6 py-3 rounded-r-lg">

                      </th>
                    </tr>
                  </thead>
                  <tbody class="items-center">
                    <template x-for="(choice, index) in choices" :key="choice">
                      <tr class="border-b border-gray-200 hover:bg-gray-100 dark:bg-white hover:dark:bg-gray-200 ">
                        <td class="px-4 py-2 whitespace-nowrap">
                          <span x-text="index + 1"></span>
                        </td>
                        <td class="px-4 py-2 whitespace-nowrap" >
                          <span x-text="choice"></span>
                        </td>
                        <td>
                          <button @click="deleteChoice(index)">
                            <%= fa_icon('trash') %>
                          </button>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>

              <input type="text" name="options" id="survey_options" required="required" x-model="choices_json" class="hidden">

              <div class="flex flex-col gap-2">
                <div class="flex flex-row">
                  <span class="h-auto rounded-l-lg bg-zourit-1 text-gray-100 p-2"><%= ts('modules.survey.choicesurvey') %></span>
                  <input type="text" name="" id="newChoice" x-model="newChoice" value="" placeholder="<%= ts('modules.survey.obligation') %>" class="bg-gray-100 border border-gray-800 text-gray-800 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1">
                </div>

                <button @click="addChoice()" type="button" class="text-white bg-zourit-1 hover:bg-zourit-2 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"><%= ts('modules.survey.addoption') %></button>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-row justify-center gap-2">
          <%= button_tag I18n.t('modules.survey.valid'),
        class: "rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
          <%= link_to I18n.t('modules.survey.annuler') , surveys_path,
      class: "rounded-lg bg-gray-100 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
        </div>
      </div>
    <% end %>

  </div>
  <div class='hidden xl:flex w-1/4'></div>
</div>
