<tr id="<%= dom_id survey %>" class="text-sm even:bg-gray-100 dark:even:bg-gray-900 dark:text-gray-200">
  <td class="pl-5 py-3 px-2">
    <% owner = (survey.owner_id == @current_user.id) %>
    <i class="fa<%= 'r' unless owner %> fa-star"
            data-toggle='tooltip' data-placement='bottom'>
    </i>
  </td>
  <td class="text-zourit-1 hover:text-gray-800 hover:dark:text-white px-2 w-full sm:w-1/4">
    <%= link_to survey.question, survey, title: survey.question, class: "font-bold", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } %>
  </td>
  <td class="px-2 hidden lg:table-cell w-full">
    <%= "#{survey.comment.to_s[0..100]} #{'...' if survey.comment.to_s.length>100}" %>
  </td>
  <% user = User.find(survey.owner_id) %>
  <td class="px-2 lg:whitespace-nowrap hidden sm:table-cell"><%= "#{user&.first_name} #{user&.last_name}" %></td>
  <td class="px-2 hidden md:table-cell lg:whitespace-nowrap"><%= survey.end_date.strftime("%d/%m/%Y %H:%M %Z") %></td>
  <td class="pl-5 py-3 px-2 hidden lg:table-cell">
    <% if survey.anonymous %>
      <%= fa_icon('check') %>
    <% else %>
      <%= fa_icon('times') %>
    <% end %>
  </td>
  <td class="">
    <div class="flex flex-row flex-nowrap mr-2 ">
      <%= link_to survey, title: ts('modules.survey.accesstosurvey'), class: "mr-2 rounded-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
        <%= fa_icon('eye') %>
      <% end %>
      <% if !@archive && owner %>
        <%= link_to "/invitations/surveys/#{survey.id}", title: ts('modules.survey.sharesurvey'), class: "rounded-l-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { toggle: 'tooltip', placement: 'bottom', turbo: false } do %>
          <%= fa_icon('users') %>
        <% end %>
      <% end %>
      <% if owner %>
        <%= link_to survey, method: :delete, title: ts('modules.survey.deletesurvey'), class: "rounded-r-lg text-gray-100 hover:text-gray-100 bg-zourit-1 hover:bg-gray-800 p-2 text-sm", data: { "turbo-method": :delete, turbo_confirm: "#{ts 'modules.survey.deleteconfirmation  '}"} do %>
          <%= fa_icon('trash') %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
