<%= render partial:'application/page_title', locals: {title: t('modules.survey.title'), icon: icon('Survey')} %>
<div class="flow-root text-left p-5"
  x-data="{
    refresh(page=1) {
      $refs.pageInput.value=page;
      $refs.searchForm.requestSubmit()
    }
  }">
  <%= form_with(
    url: surveys_path,
    class: "mb-0",
    method: :get,
    html: { "x-ref": "searchForm" },
    data: {turbo_frame: "surveys", turbo_action: "advance"}
    ) do |form| %>
    <div class="flex flex-col xl:flex-row justify-between gap-2">
      <div class='flex'>
        <%= build_button(text: ts('modules.survey.addsurvey'),
                        icon: 'plus',
                        link: new_survey_path) %>
      </div>
      <div class="flex flex-col md:flex-row gap-2">
        <div class="flex flex-row">
          <div class="h-auto rounded-l-lg bg-zourit-1 !text-gray-100 p-2 text-sm"><%= ts 'modules.survey.creatorsurvey' %></div>
          <%= form.select :author, @authors, { include_blank: I18n.t('modules.survey.all_authors') }, "@input": "refresh()", class: "pr-8 text-sm bg-gray-800 text-gray-400 dark:bg-text-800 dark:bg-gray-200 rounded-r-lg border-gray-800 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1" %>
        </div>
        <div class="flex flex-row">
          <%= button_tag id: "submit-button", class: "h-auto rounded-l-lg bg-zourit-1 hover:bg-gray-800 text-gray-100 hover:text-gray-100 text-lg p-2" do %>
            <%= fa_icon('search') %>
          <% end %>
          <%= form.text_field :query, "@input.debounce": "refresh()", class: "bg-gray-800 dark:text-gray-800 dark:bg-gray-200 border border-gray-800 text-gray-100 text-sm rounded-r-lg w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1 focus:ring-zourit-1", placeholder: "Rechercher" %>
          <!-- Hidden input modified by AlpineJS -->
          <%= form.text_field :order, 'x-ref': 'orderInput', class:"hidden" %>
          <%= form.text_field :page, 'x-ref': 'pageInput', class:"hidden" %>
        </div>
        <div class="flex items-center">
          <%= build_toggle_field(form, 
                                'archived', 
                                t('modules.survey.archived'), 
                                checked: params[:archived] == 1, 
                                "on_change": "refresh()") %>
        </div>
      </div>
    </div>
    <div class="">
      <%= render "surveys", surveys: @dataset %>
    </div>
  <% end %>
</div>
