<%= render partial:'application/page_title', locals: {title: t('modules.survey.addsurvey'), icon: icon('Survey'), back: {url: surveys_path, title: t('modules.survey.title')} } %>

<%= render 'form' %>
