<%= render partial: 'application/page_title', locals: { title: @survey.question, icon: icon('Survey'), back: {url: surveys_path, title: t('modules.survey.title')} } %>
<div class="flex m-10 justify-center content-center">
  <div class="w-full justify-center content-center">
    <div class='bg-gray-200 p-4 mb-4 gap-4 flex flex-col rounded-lg'>
      <p class="text-black text-center text-xl font-semibold"><%= @survey.comment %></p>
      <p class="text-black text-center text-md">
        <%= t('modules.survey.endsurvey') %>
        <strong><%= I18n.l @survey.end_date %></strong>
      </p>
    </div>
    <%= form_for @survey, url: "/survey_answers", method: :post do |f| %>
      <input type="hidden" id="uuid" name="uuid" value="<%= @uuid %>" />
      <input type="hidden" id="survey_id" name="survey_id" value="<%= @survey.id %>" />
      <% if @token %>
        <input type="hidden" id="token" name="token" value="<%= @token %>" />
      <% end %>

      <div>
        <table class="w-full border-collapse dark:text-gray-200">
          <thead>
            <tr>
              <th class="p-2 bg-gray-800 rounded-l"></th>
              <% @answers_table[0].drop(1).each do |choice| %>
                <th class="p-2 bg-gray-800 text-white text-left"><%= choice %></th>
              <% end %>
              <th class="p-2 bg-gray-800 rounded-r"></th>
            </tr>
          </thead>

          <tbody>
            <% unless @survey.anonymous %>
              <% @answers_table.drop(1).each do |answer| %>
                <tr class="items-center">
                  <% answer.each do |a| %>
                    <td class="p-2">
                      <% if a.is_a?(String) %>
                        <%= a %>
                      <% else %>
                        <i class="text-zourit-1 fa fa-<%= a ? 'check' : 'times' %>" style="ali;"></i>
                      <% end %>
                    </td>
                  <% end %>
                  <td class="p-2"></td>
                </tr>
              <% end %>
            <% end %>

            <% if @survey.end_date >= DateTime.now.utc %>
              <tr>
                <td class="p-2"><%= @user %></td>
                <% @options.each do |option| %>
                  <td class="p-2">
                    <% if @survey.allow_multiple %>
                      <input type="checkbox" id="<%= option[:id] %>" name="answers[]" value="<%= option[:id] %>"
                        class="form-checkbox h-5 w-5 text-zourit-1 focus:ring-zourit-1">
                    <% else %>
                      <input type="radio" id="<%= option[:id] %>" name="answers[]" value="<%= option[:id] %>"
                        class="form-radio h-5 w-5 text-zourit-1 focus:ring-zourit-1">
                    <% end %>
                  </td>
                <% end %>
                <td class="p-2 flex justify-end">
                  <button name="commit" type="submit"
                    class="bg-zourit-1 hover:bg-zourit-2 text-white font-bold py-2 px-4 rounded">
                    <%= I18n.t 'modules.survey.valid' %>
                  </button>
                </td>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <tr>
              <th class="p-2 bg-gray-800 text-white rounded-l flex justify-start"><%= t('modules.survey.result') %></th>
              <% @options.each do |option| %>
                <th class="p-2 bg-gray-800 text-white text-left">
                  <%= option[:users].count %>
                  <% if option[:best_choice] %>
                    <i class="fa fa-star"></i>
                  <% end %>
                </th>
              <% end %>
              <th class="p-2 bg-gray-800 text-white rounded-r"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    <% end %>

    <div class="flex flex-col mt-24">
      <%= render partial: "messages/history_messages", locals: { can_post: @survey.end_date >= DateTime.now.utc } %>
    </div>

  </div>
</div>
