<div class="container">
  <footer class="footer">
    <p class="lead"><%= I18n.t 'tickets.notif.notifmessagetitle' %> <%=@from.name%>.</p>
    <ul>
      <li><b> <%= I18n.t 'tickets.notif.ticketconcern' %> :</b> n°<%= @ticket.id %></li>
      <li><b><%= I18n.t 'tickets.notif.ticketmessage'%> : </b> <%= @message%>
      </li>
    </ul>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" width="350" height="40" bgcolor="#cecece"
                    style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ad0c78; display: block;">
          <a href="<%=@url%>"
                        style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
            <span style="color: #ffffff;">
              <%= I18n.t 'tickets.notif.seesticket' %>
            </span>
          </a>
        </td>
      </tr>
    </table>
  </footer>
</div>
