<div>
  <%= image_tag(attachments['logo-zourit.png'].url, size: '150x150', style: 'align:center;') %>
  <footer class="footer">
    <p class="lead"><%=@from.name%> <%= ts("invitation.notifier.#{@tag}.sharewith") %> :</p>
    <ul>
      <% if defined? @invitation.name %>
      <li><b> <%= I18n.t "invitation.notifier.title" %>: </b> <%= @invitation.name%></li>
      <% elsif defined? @invitation.question %>
      <li><b> <%= I18n.t "invitation.notifier.title" %>: </b> <%= @invitation.question%></li>
      <% elsif defined? @invitation.title %>
      <li><b> <%= I18n.t "invitation.notifier.title" %>: </b> <%= @invitation.title%></li>
      <% end %>
      <li><b> <%= I18n.t "invitation.notifier.descrip" %>: </b> <%= @invitation.comment%></li>
      <% if defined? @invitation.end_date%>
      <li>
        <b><%= I18n.t "invitation.notifier.end_date" %>: </b>
        <%= @invitation.end_date.strftime(" Le %d/%m/%Y à %Hh%M")%>
      </li>
      <% elsif defined? @invitation.date_start %>
      <li>
        <b><%=I18n.t "invitation.notifier.start_date" %></b>
        <%= @invitation.date_start.strftime(" le %d/%m/%Y à %Hh%M")%>
      </li>
      <%end%>
    </ul>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" width="350" height="40" bgcolor="#ad0c78"
          style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: block;">
          <a href="<%=@url%>"
            style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
            <span style="color: #ffffff;">
              <%= I18n.t"invitation.notifier.#{@tag}.see"  %>
            </span>
          </a>
        </td>
      </tr>
    </table>
  </footer>
</div>