<%= form_for(@form) do |f| %>

<% if @form.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize( @form.errors.count, "error") %> prohibited this visio from being saved:</h2>
  <ul>
    <% @form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-sm-6 col-md-6 col-md-offset-3 text-left">

  <div class="field">
    <div class="input-group">
      <span class="input-group-addon"><%= fa_icon('pencil-alt', size: 'lg') %></span>
      <%= f.text_field :title, class: "form-control", placeholder: ts('modules.forms.formname'), required: true %>
    </div>
  </div>

  <div class="field">
    <div class="input-group">
      <span class="input-group-addon"><%= fa_icon('pencil-alt', size: 'lg') %></span>
      <%= f.text_area :comment , class: "form-control" , placeholder: ts('modules.forms.formdesc') %>
    </div>
  </div>

  <div class="field">
    <div class="input-group">
      <%= f.label "#{ts('modules.forms.formdate') }"%><br>
      <%= f.date_select :end_date, class: "form-control" %>
    </div>
  </div>

  <div class="actions" align="center">
    <%= button_tag(class: "btn btn-primary") do %>
    <i></i> <%= ts('modules.forms.validate') %>
    <% end %>
    ou <%= link_to ts('modules.forms.cancel'), forms_path %>
  </div>

</div>

<% end %>