<div class="z-index-page">
  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1>
          <a class="retour" href="/services" title="Retour">
            <%= fa_icon('arrow-left') %>
          </a>
          <%= ts('modules.forms.formlist') %>
        </h1>
      </div>
      <div class="panel-body">
        <div id="toolbar">
          <%= link_to ts('modules.forms.addform'), new_form_path, class: "btn btn-primary" %>
        </div>
        <table data-toggle="table" data-search="true" data-toolbar="#toolbar" data-show-export="true" data-page-list="[10, 25, 50, 100, 200, 500, all]"
          data-pagination="true" data-classes="table table-no-bordered">
          <thead>
            <tr>
              <th></th>
              <th><%= ts 'modules.forms.title' %></th>
              <th><%= ts 'modules.forms.creator' %></th>
              <th><%= ts 'modules.forms.formdate' %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @forms.each do |form| %>
            <tr>
              <td>
                <% owner = (form.owner_id == @current_user.id) %>
                <i class="fa<%= 'r' unless owner %> fa-star"
                  title="<%= owner ? ts('modules.forms.owner') : ts('modules.forms.not_owner') %>" data-toggle='tooltip'
                  data-placement='bottom'></i>
              </td>
              <td>
                <%= link_to form.title, form, title: form.comment, class: "loading", data: { toggle: 'tooltip', placement: 'bottom' } %>
              </td>
              <% user = User.find(form.owner_id) %>
              <td><%= user.first_name+" "+user.last_name %></td>
              <td><%= local_time(form.end_date, "%d/%m/%Y")  %></td>
              <td>
                <%= link_to form, title: ts('modules.forms.access'), class: "liens loading", data: { toggle: 'tooltip', placement: 'bottom' } do %>
                <%= fa_icon('eye') %>
                <% end %>
                <% if !@archive && owner %>
                <%= link_to "/invitations/forms/#{form.id}", title: ts('modules.forms.share'), class: "liens loading", data: { toggle: 'tooltip', placement: 'bottom' } do %>
                <%= fa_icon('users') %>
                <% end %>
                <%= link_to edit_form_path(form), title: ts('modules.forms.modifform'), class: "liens loading", data: { toggle: 'tooltip', placement: 'bottom' } do %>
                <%= fa_icon('cog') %>
                <% end %>
                <% end %>
              </td>
              <td>
                <% if owner %>
                <%= link_to form, method: :delete, title: ts('modules.forms.delete'), class: "liens", data: { confirm: "#{ts 'modules.forms.delete_confirm'}",  toggle: 'tooltip', placement: 'bottom'} do %>
                <%= fa_icon('trash') %>
                <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>