<div class="z-index-page">
    <div class="container">
        <div class="panel panel-warning shadow">
            <div class="panel-heading clearfix">
                <h1>
                    <%= link_to forms_path, class: 'retour', title: ts('modules.forms.return') do %>
                    <%= fa_icon('arrow-left') %>
                    <% end %>
                    <%= ts('modules.forms.addform') %>
                </h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</div>