<p id="notice"><%= notice %></p>
<div class="z-index-page">
  <div class="container">
    <div class="panel panel-warning shadow">
      <div class="panel-heading clearfix">
        <h1>
          <%= link_to forms_path, class: 'retour', title: ts('modules.forms.return') do %>
          <%= fa_icon('arrow-left') %>
          <% end %>
          Formulaire : <%= @form.title %>
        </h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <section class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="form-group">
              <label for="Authorcreator"><%= ts('modules.forms.creator') %>: </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><%= fa_icon('user', size: 'lg') %></span>
                  <p type="text" class="form-control">
                    <% user = User.find(@form.owner_id) %>
                    <td><%= "#{user&.first_name} #{user&.last_name}" %></td>
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="CategoryTicket"><%= ts('modules.forms.formdate') %>:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><%= fa_icon('bug', size: 'lg') %></span>
                  <p type="text" class="form-control">
                    <%= @form.end_date %>
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="CategoryTicket"><%= ts('modules.forms.formdesc') %>:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><%= fa_icon('bug', size: 'lg') %></span>
                  <p type="text" class="form-control">
                    <%= @form.comment %>
                  </p>
                </div>
              </div>
            </div>


            <% if( @current_user.id == @form.owner_id ) %>


            <div class=" line_button">
              <div class="cols-sm-10">
                <div id="tab" class="btn-group " data-toggle="buttons-radio">

                  <%= link_to ts('modules.forms.addformline') , form_formlines_path(@form), class:"btn btn-primary statusValidate loading", toggle:"tab"  %>
                </div>
              </div>
              <% end %>
            </div>
          </section>



          <section class="col-sm-6 col-md-6 col-md-offset-3 text-left">
            <h2><%= ts('modules.forms.question') %> </h2>
            <%= form_for :response_form, method: :post do |f| %>
            <% for formline in @form.formlines %>
            <div class="field">
              <div class="input-group">
                <%case formline.field_type %>
                <%when "text" %>


                <div class="custom-control ">
                  <%= formline.title %></label><br>
                  <span><%= formline.description %></span> <br>
                  <%=  f.text_field eval(":#{formline.field_type}_#{formline.id}"), placeholder:"#{formline.description }" %>

                </div>

                <hr class="mb-4">
                <% when "textarea" %>

                <div class="custom-control ">
                  <label class="custom-control-label" for="same-address">
                    <%= formline.title %></label><br>
                  <span><%= formline.description %></span> <br>
                  <%= f.text_area eval(":#{formline.field_type}_#{formline.id}"), placeholder:"#{formline.description }" %>

                </div>
                <% when "single_choice" %>
                <h4 class="mb-3"><%= formline.title %></h4>
                <div class="d-block my-3">
                  <% eval(formline.value).each do |val| %>


                  <div class="custom-control custom-radio">
                    <%= f.radio_button eval(":#{formline.field_type}_#{formline.id}") ,val.to_s ,:checked => true%>

                    <label class="custom-control-label" for="credit"><%=val %></label>
                  </div>


                  <% end %>
                </div>
                <% when "multi_choice" %>
                <h4 class="mb-3"><%= formline.title %></h4>

                <% eval(formline.value).each  do |val| %>
                <div class="custom-control custom-checkbox">
                  <%= f.check_box eval(":#{formline.field_type}_#{formline.id}"), {} %>
                  <label class="custom-control-label" for="save-info"><%=val %></label>
                </div>
                <%end %>
                <% when "date" %>
                <%= f.date_select eval(":#{formline.field_type}_#{formline.id}") %>
                <%end %>
              </div>
            </div>

            <% end %>

            <%= button_tag(class: "btn btn-primary") do %>
            <i></i> <%= ts('modules.forms.validate') %>
            <% end %>
            ou <%= link_to ts('modules.forms.cancel'), forms_path %>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>