<%= render partial: 'application/page_title', locals: { title: t('about.about'), icon:'question-circle' } %>
<div class="flex flex-col items-center my-4 gap-4 text-lg dark:text-gray-200">

  <%= image_tag("commun/logo blanc.svg", size: "250") %>

  <div>
    <%= I18n.t "about.version" %> : 
    <a href="https://gitlab.com/zourit/zourit-admin/-/tree/<%=ZouritAdmin::Application::VERSION%>" target="_blank" class="text-zourit-1 hover:underline">
      <%= ZouritAdmin::Application::VERSION %>
    </a>
  </div>

  <div>
    <%= I18n.t "about.licence" %> : 
    <a href="https://www.gnu.org/licenses/agpl-3.0.fr.html" target="_blank" class="text-zourit-1 hover:underline">Affero GPL version 3</a>
  </div>

  <div>
    <%= I18n.t "about.codesource"%> : 
    <a href="https://gitlab.com/zourit/zourit-admin" target="_blank" class="text-zourit-1 hover:underline">https://gitlab.com/zourit/zourit-admin</a>
  </div>

  <div><%= I18n.t "about.documentation"%> : <a href="https://doc.zourit.net/" target="_blank" class="text-zourit-1 hover:underline">https://doc.zourit.net/</a></div>

  <!-- Teams -->
  <div class="px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6 my-8">
    <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
      <h2 class="mb-4 text-xl tracking-tight font-bold"><%= I18n.t "about.equipe" %></h2>
    </div>
    <div class="grid gap-8 lg:gap-16 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <% @teams.each do |person| %>
        <div class="text-center text-gray-200 bg-gray-800 dark:bg-gray-200 dark:text-gray-800 rounded-lg p-8">
          <%= fa_icon 'user', size: "4x" %>
          <h3 class="mb-1 text-lg font-bold tracking-tight my-4">
            <p><%= person[:name] %></p>
          </h3>
          <span class='text-xs'><%= I18n.t person[:role] %></span>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Teams -->

  <h2 class="mb-4 text-xl tracking-tight font-bold"><%= I18n.t "about.partenaires" %> :</h2>
  <div class="flex flex-row items-center gap-8 mb-16">
    <div class='bg-gray-200 p-8 rounded-lg hover:scale-110 transition duration-300 ease-in-out'>
      <%= link_to "https://cemea.asso.fr", target: "_blank" do image_tag("commun/cemea.png", size: "150x60") end %>
    </div>
    <div class='bg-gray-200 p-8 rounded-lg hover:scale-110 transition duration-300 ease-in-out'>
      <%= link_to "https://mithril.re", target: "_blank" do image_tag("commun/mithril.png", height: "60") end  %>
    </div>
  </div>
</div>
