@import "font_awesome5_webfont";

$color-zourit: #ad0c78;
$color-zourit-secondary: #535786;

.zourit-icon {

  height: 150px;
  width: 150px;

  i {
    font-size: 60px;
    color: white;
    position: relative;
    top: -105px;
  }

  svg {
    width: 150px;
    height: 150px;

  }
}