 .toastify {
     padding: 12px 20px;
     color: #ffffff;
     display: inline-block;
     box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.3), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
     position: fixed;
     opacity: 0;
     transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
     border-radius: 2px;
     cursor: text;
     text-decoration: none;
     max-width: calc(50% - 20px);
     z-index: 50;
 }

 .toastify-notice {
     background: linear-gradient(135deg, #ffffff, #61f554e1);
     border-left: solid 4px #16ec89;
     color: #1e6845;

 }

 .toastify-alert {
     background: linear-gradient(135deg, #f1e0e0, #e02424);
     border-left: solid 4px #dd0b0b;
     color: #571e1e;
 }

 .toastify.on {
     opacity: 1;
     top: 0;
 }

 .toastify .toast-close {
     background: transparent;
     color: transparent;
     margin-left: 1em;
     padding: 0 5px;
     border-radius: 25%;
     border: 0;
     cursor: pointer;
     font-family: inherit;
     font-size: 1em;
     opacity: 0;
 }

 .toastify:hover .toast-close {
     background: white;
     color: black;
     opacity: 0.5;
     transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }

 .toastify-right {
     right: 15px;
 }

 .toastify-left {
     left: 15px;
 }

 .toastify-top {
     top: -150px;
 }

 .toastify-bottom {
     bottom: -150px;
 }

 .toastify-rounded {
     border-radius: 25px;
 }

 .toastify-avatar {
     width: 1.5em;
     height: 1.5em;
     margin: -7px 5px;
     border-radius: 2px;
 }

 .toastify-center {
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     max-width: fit-content;
 }

 @media only screen and (max-width: 360px) {

     .toastify-right,
     .toastify-left {
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         max-width: fit-content;
     }
 }