@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: couleur de la progress bar en utilisant tailwind et la couleur zourit-1 */
.turbo-progress-bar {
  height: 3px;
  background-color: #ad0c78;
}

.osahanloading {
  display: flex;
  border-radius: 150px;
  height: 150px;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  position: absolute;
  top: 50%;
  width: 150px;
  background-size: 150px 150px;
}

.osahanloading::after {
  animation: 1.5s linear 0s normal none infinite running osahanloading;
  border-color: #ad0c78 transparent;
  border-radius: 180px;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 180px;
  left: -15px;
  position: absolute;
  top: -15px;
  width: 180px;
}

@keyframes osahanloading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

[x-cloak] {
  display: none !important;
}