<%= render partial:'application/page_title', 
           locals: {title: ts(:new_instance_for, domain_name: @domain.name, module_name: @mod.name),
                    icon: 'globe',
                    back: { url: domains_path, title: ts('domains.index.title') } } %>
<%= form_for(@domainInfo, url: "/domains/#{@domain.id}/infos/#{@mod.id}", method: :post) do |f| %>
  <% if  @domainInfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @domainInfo.errors.count, "error") %>"<%= I18n.t 'domains.error' %> </h2>
      <ul>
        <% @domainInfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col gap-2 justify-center items-center mt-4">
    <div class='flex flex-row'>
      <%= fa_icon('server', class: 'h-auto rounded-l-lg bg-zourit-1 text-gray-100 text-lg p-2') %>
      <%= f.select :instance_id, 
                   options_from_collection_for_select(Instance.where(config_module_id: @mod.id), "id", "name", ""), 
                   prompt: "Sélectionnez une instance", 
                   class: 'bg-gray-100 border border-gray-800 text-gray-800 text-sm
                           w-full pl-5 p-2 focus:border-zourit-1 focus:ring-1
                           focus:ring-zourit-1 rounded-r-lg' %>
    </div>
    <div class="flex justify-center gap-2 pb-4">
      <%= f.submit ts("actions.validate"), class: "cursor-pointer rounded-lg bg-zourit-1 text-gray-100 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
      <%= link_to "#{I18n.t 'modules.survey.annuler' }", "/domains/#{@domain.id}/infos", class: "rounded-lg bg-gray-200 text-gray-800 hover:text-gray-100 hover:bg-gray-800 text-sm px-5 py-2" %>
    </div>
  <% end %>
