
<%= fa_icon(icon.name, 
            size: '2x', 
            title: icon.name, 
            class: 'hover:text-zourit-1 cursor-pointer', 
            '@click': "$refs.symbolInput.value='#{icon.name}'; icon='fas fa-#{icon.name}'; document.getElementById('dialogIcon').close()" ) %>
