<%= turbo_frame_tag "icons", target: "_top" do %>
  <div class='grid-cols-12 gap-1 my-4'>
    <%= render @fa_list[:items] %>
  </div>
  <div class="text-sm text-gray-500 mt-5">
    <%= render "application/pagination", dataset: @fa_list do %>

    <% end %>
  </div>
<% end %>
