<!-- locals: dataset -->
<!-- Les valeurs de dataset[:items_per_page] et de la page courante sont renvoyées à des input hidden au dessus de la table via alpinejs -->
<% if dataset[:count]==0 %>

  <!-- il n'y a aucune ligne -->
  <div class="flex flex-col text-center py-8">
    <%= fa_icon('ban', size: '4x', class: 'pb-2') %>
    <%= t('shared.no_results_found') %>
  </div>

<% else %>

  <% pages_nb = dataset[:count] / dataset[:items_per_page] + ( dataset[:count] % dataset[:items_per_page] == 0 ? 0 : 1 ) %>

  <div class="flex items-center justify-between border-t border-gray-200 pt-2">

    <!-- affichage de pagination simplifiée pour petit écran -->
    <div class="flex flex-1 justify-between sm:hidden">

      <% if dataset[:count] > FormsHelper::PAGINATION_STEPS.first %>
        <a <%= "@click=refresh(#{dataset[:page] - 1})" if dataset[:page] > 1 %>
      class="<%= 'cursor-pointer' if dataset[:page]>1 %> relative inline-flex items-center rounded-md border border-gray-300 bg-white dark:bg-gray-800 px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50">
          <%= ts('actions.previous') %>
        </a>

        <%= dataset[:page]%> / <%= pages_nb %>

        <a <%= "@click=refresh(#{dataset[:page] + 1})" if dataset[:page] < pages_nb %> class="<%= 'cursor-pointer' if dataset[:page] < pages_nb %> relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
          <%= ts('actions.next') %>
        </a>
      <% else %>
        <span class='mr-2'>
          <%= raw t('shared.total_display', count: dataset[:count]) %>
        </span>
      <% end %>
    </div>

    <!-- affichage de pagination complète pour grand écran -->
    <div class="hidden sm:flex flex-row justify-between w-full">
      <div class="hidden sm:flex items-center w-full justify-between mr-2">

        <% if dataset[:items_per_page] < dataset[:count] %>
          <span class='mr-2'>
            <% first_nb = (dataset[:page] - 1) * dataset[:items_per_page] + 1 %>
            <%= raw t('shared.line_display', first_nb:, count: first_nb + dataset[:items].count - 1, total_count: dataset[:count]) %>
          </span>
        <% else %>
          <span class="mr-2">
            <%= raw t('shared.total_display', count: dataset[:count]) %>
          </span>
        <% end %>

        <% if dataset[:count] > FormsHelper::PAGINATION_STEPS.first %>
          <!-- choix de la pagination -->
          <span class='flex flex-row'>
            <span class="h-auto rounded-l-lg bg-zourit-1 text-gray-100 p-2 text-sm">
              <%=t 'pagination.step'%>
            </span>
            <%= build_select_tag "items_per_page",dataset[:items_per_page].to_s, build_items_per_page_collection(dataset[:count]), on_change: "refresh()"%>
          </span>
        <% end %>

      </div>

      <div class="flex">

        <% if dataset[:count] > dataset[:items_per_page] %>
          <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
            <a <%= "@click=refresh(#{dataset[:page] - 1})" if dataset[:page] > 1 %> class="<%= 'cursor-pointer' if dataset[:page]>1 %> relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">
                <%= ts('actions.previous') %>
              </span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
              </svg>
            </a>
            <% if pages_nb > 7 %>
              <% if dataset[:page] < 5 %>
                <% (1..5).each do |i| %>
                  <% if dataset[:page] == i %>
                    <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-100 bg-zourit-1 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"><%= i %></a>
                  <% else %>
                    <a @click="refresh(<%= i %>)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"><%= i %></a>
                  <% end %>
                <% end %>
                <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200  ring-1 ring-inset ring-gray-300  focus:z-20 focus:outline-offset-0">...</a>
                <a @click="refresh(<%= pages_nb %>)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"><%= pages_nb %></a>
              <% elsif dataset[:page] > (pages_nb - 5)  %>
                <a @click="refresh(1)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">1</a>
                <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">...</a>
                <% (0..4).reverse_each do |i| %>
                  <% if dataset[:page] == pages_nb - i %>
                    <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-100 bg-zourit-1 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"><%= pages_nb - i %></a>
                  <% else %>
                    <a @click="refresh(<%= pages_nb - i %>)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"><%= pages_nb - i %></a>
                  <% end %>
                <% end %>
              <% else %>
                <a @click="refresh(1)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">1</a>
                <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">...</a>
                <% (-2..2).each do |i| %>
                  <% if i == 0 %>
                    <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-100 bg-zourit-1 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"><%= dataset[:page] %></a>
                  <% else %>
                    <a @click="refresh(<%= dataset[:page] + i %>)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600  ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"><%= dataset[:page] + i %></a>
                  <% end %>
                <% end %>
                <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">...</a>
                <a @click="refresh(<%= pages_nb %>)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600  ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"><%= pages_nb %></a>
              <% end %>
            <% else %>
              <% (1..pages_nb).to_a.each do |i| %>
                <% if dataset[:page] == i %>
                  <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-100 bg-zourit-1 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"><%= i %></a>
                <% else %>
                  <a @click="refresh(<%= i %>)" class="cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-800 dark:text-gray-200 dark:hover:text-gray-800 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"><%= i %></a>
                <% end %>
              <% end %>
            <% end %>
            <a <%= "@click=refresh(#{dataset[:page] + 1})" if dataset[:page] < pages_nb %> class="<%= 'cursor-pointer' if dataset[:page] < pages_nb %> relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">
                <%= ts('actions.next') %>
              </span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </a>
          </nav>

        <% end %>

        <%= yield %>

      </div>
    </div>
  </div>
<% end %>
