<% content_for :title, page_title(title) %>

<div class="flex flex-row justify-center sm:justify-between bg-gradient-to-r from-zourit-2 to-zourit-1 rounded-0 sm:rounded-t-lg px-5 py-5">
  <div class="hidden md:flex items-center">
    <% # FIXME: supprimer cette bidouille qui utilise @icon dans le locals
      unless defined?(icon)
        logger.warn("please use `locals: { icon: 'icon_name' }` instead of just @icon")
        icon = @icon
      end 
    %>
    <% if defined?(back) %>
      <% 
        # FIXME: supprimer cette bidouille qui transforme un ancien back en back:{url:...} quand on a tout changé dans le code!!!
        if back.is_a? String 
          logger.warn("please use `back{url: ...}` instead of just `back:`")
          url=back
          back={url:}
        end
      %>
      <%=link_to back[:url], title: back.include?(:title) ? back[:title] : title do %>
        <%= fa_icon('angle-double-left', class: 'text-gray-200 hover:text-zourit-1 transition transform ease-in-out duration-300', size: '2x') %>
      <%end%>
    <% else %>
      <%= fa_icon(icon, class: 'text-gray-200', size: '2x') %>
    <% end %>
  </div>
  <h1 class="text-3xl text-gray-100 hover:text-gray-100 font-semibold text-center"><%= title %></h1>
  <div class='col-md-2 right hidden sm:flex'>
    <% if current_user %>
      <div class='p-1 px-3 rounded-lg bg-gray-800 text-lg font-semibold text-gray-100'>
        <span class='text-zourit-3'>
          <%= fa_icon('bolt', class: 'text-gray-100') if current_user&.superadmin %>
          <%= defined?(domain) ? domain : current_user&.domain&.name %>
        </span>
      </div>
    <% end %>
  </div>
</div>
