<dialog id="turbo-confirm" class="fixed rounded-lg w-full sm:w-8/12 xl:w-4/12 backdrop:bg-zourit-2 backdrop:opacity-50 open:animate-fade-in">
  <form method="dialog" class="flex flex-col">
    <div class="bg-white dark:bg-gray-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start items-center">
            <div class="p-8 mx-auto flex flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <%= fa_icon('exclamation-triangle', size: '2x', class: 'text-red-700') %>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left flex h-full items-center">
                <h2 class="text-lg font-semibold leading-6 text-gray-900 dark:text-gray-200"></h2>
            </div>
        </div>
    </div>
    <div class="bg-gray-800 dark:bg-gray-900 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
        <button type="submit" 
                value="confirm"
                class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold 
                            text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
        <%= ts('actions.delete_confirm') %>
        </button>
        <button type="submit" 
                value="cancel"
                class="mt-3 inline-flex w-full justify-center rounded-md bg-white 
                    px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 
                    ring-inset ring-gray-300 hover:bg-zourit-2 hover:text-gray-200 sm:mt-0 sm:w-auto">
        <%= ts('actions.cancel') %>
        </button>
    </div>
  </form>
</dialog>