<div class='flex flex-col items-center justify-center gap-4'>
  <%= image_tag("commun/logo blanc.svg", size: "250") %>
  <p class='text-xl text-gray-800 dark:text-gray-200'><%= ts('modules.bigbluebutton.end_visio_sentence') %></p>
</div>
