<%= render partial:'application/page_title', locals: {title: t('modules.framemo.modifmemo'), icon: icon('Framemo'), back: { url: memos_path, title: t('modules.framemo.memolist') }} %>

<%= render 'form' %>
