<div class="lg:hidden" role="dialog" aria-modal="true" x-show='menuMobileShow' style='display:none;'>
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0 z-30"></div>
  <div @click.outside='menuMobileShow=false' class="fixed inset-y-0 right-0 z-30 w-full overflow-y-auto bg-gray-800 text-gray-200 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
    <div class="flex items-center justify-between">
      <div></div>
      <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-200" @click="menuMobileShow = false">
        <span class="sr-only">Close menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          <div class="-mx-3" x-data='{ 
                                        MesServicesShow: false,
                                        aboutShow: false,
                                        accountShow: false
                                     }'>
            <%= link_to services_path, class: 'block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
              <div class="flex gap-4">
                <%= image_tag('commun/logo blanc.svg', size: '25x25', class: 'ml-1 -mr-1') %>
                <%= ts('layouts.menu.home') %>
              </div>
            <% end %>
            <button type="button" 
                    class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-200 hover:text-gray-800 hover:bg-gray-50" 
                    aria-controls="disclosure-1" 
                    aria-expanded="false"
                    @click="MesServicesShow = !MesServicesShow" >
              <div class='flex gap-4 items-center'>
                <%= fa_icon('bars', class: 'text-2xl') %>
                <%= ts('accueil.services') %>
              </div>
              <!--
                  Expand/collapse icon, toggle classes based on menu open state.

                  Open: "rotate-180", Closed: ""
                -->
              <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" :class="MesServicesShow ? 'rotate-180': ''">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
            <!-- 'Product' sub-menu, show/hide based on menu state. -->
            <div class="mt-2 space-y-2" id="disclosure-1" x-show='MesServicesShow'>
              <% @modules.each do |mod| %>
                <% url = mod.new_window ? module_href_new_window(mod) : module_href(mod) %>
                <%= link_to url,
                            target: mod.new_window ? '_blank' : '',
                            class: 'ml-4 block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg text-sm',
                            '@click': 'menuMobileShow = false' do %>
                  <div class="flex gap-4">
                    <%= fa_icon(mod.font, class: 'text-2xl w-6') %>
                    <%= t("modules.#{mod.name.downcase}.title") %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% if @current_user &.superadmin %>
            <% end %>
            <%= link_to status_path, class: 'block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
              <div class="flex gap-4">
                <%= fa_icon('heartbeat', class: 'text-2xl w-6') %>
                <%= ts('status.title') %>
              </div>
            <% end %>
            <% if @current_user &.admin %>
              <%= link_to tickets_path, class: 'block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                <div class="flex gap-4">
                  <%= fa_icon('ticket-alt', class: 'text-2xl w-6') %>
                  <%= ts('tickets.title') %>
                </div>
              <% end %>
            <% end %>

            <button type="button" 
                    class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-200 hover:text-gray-800 hover:bg-gray-50" 
                    aria-controls="disclosure-1" 
                    aria-expanded="false"
                    @click="aboutShow = !aboutShow" >
              <div class='flex gap-4 items-center'>
                <%= fa_icon('question-circle', class: 'text-2xl') %>
                <%= ts('about.about') %>
              </div>
              <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" :class="aboutShow ? 'rotate-180': ''">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
            <div class="mt-2 space-y-2" id="disclosure-1" x-show='aboutShow'>
              <%= link_to 'https://doc.zourit.net/', target: '_blank', class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                <div class="flex gap-4">
                  <%= fa_icon('book', class: 'text-2xl w-6') %>
                  <%= ts('layouts.menu.documentation') %>
                </div>
              <% end %>
              <%= link_to about_path, class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                <div class="flex gap-4">
                  <%= fa_icon('question-circle', class: 'text-2xl w-6') %>
                  <%= ts('about.about') %>
                </div>
              <% end %>
            </div>

            <% if @current_user %>
              <button type="button" 
                        class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-200 hover:text-gray-800 hover:bg-gray-50" 
                        aria-controls="disclosure-1" 
                        aria-expanded="false"
                        @click="accountShow = !accountShow" >
                <div class='flex gap-4 items-center'>
                  <%= fa_icon('cog', class: 'text-2xl') %>
                  <%= @current_user.name %>
                </div>
                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" :class="accountShow ? 'rotate-180': ''">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </button>
              <div class="mt-2 space-y-2" id="disclosure-1" x-show='accountShow'>
                <%= link_to user_path(@current_user.id), class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                  <div class="flex gap-4">
                    <%= fa_icon('user', class: 'text-2xl w-6') %>
                    <%= ts('users.profil') %>
                  </div>
                <% end %>
                <%= link_to links_path(global: false), class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                  <div class="flex gap-4">
                    <%= fa_icon('link', class: 'text-2xl w-6') %>
                    <%= ts('layouts.menu.links') %>
                  </div>
                <% end %>
                <% if @current_user.admin %>
                  <%= link_to domain_path(@current_user.domain.id), class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                    <div class="flex gap-4">
                      <%= fa_icon('globe', class: 'text-2xl w-6') %>
                      <%= t('accueil.domaine') %>
                    </div>
                  <% end %>
                  <%= link_to links_path(global: true), class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                    <div class="flex gap-4">
                      <%= fa_icon('link', class: 'text-2xl w-6') %>
                      <%= t('layouts.menu.our_links') %>
                    </div>
                  <% end %>
                <% end %>
                <% if @current_user.superadmin %>
                  <%= link_to domains_path, class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                    <div class="flex gap-4">
                      <%= fa_icon('globe', class: 'text-2xl w-6') %>
                      <%= t('domain.domaines') %>
                    </div>
                  <% end %>
                  <%= link_to config_modules_path, class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                    <div class="flex gap-4">
                      <%= fa_icon('cog', class: 'text-2xl w-6') %>
                      <%= t('modules.config') %>
                    </div>
                  <% end %>
                <% end %>
                <%= link_to logout_path, class: 'ml-4 text-sm block text-gray-200 hover:text-gray-800 hover:bg-gray-50 p-2 rounded-lg' do %>
                  <div class="flex gap-4">
                    <%= fa_icon('sign-out-alt', class: 'text-2xl w-6') %>
                    <%= t('users.deco_logout') %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="py-6">

        </div>
      </div>
    </div>
  </div>
</div>
