<header x-data="{ menuMobileShow: false }">
  <nav 
      id="voirmenu" 
      class="bg-gray-800 shadow text-gray-200 pr-3" 
      role="navigation" 
      x-data="{ open_profile_menu: false, open_help_menu: false, open_stat_menu: false, open_services_menu: false}"
      >
    <div class='flex flex-row gap-4 justify-between'>
      <%= link_to '/services', title: ts(:home), class: 'hover:text-zourit-1 hover:bg-zourit-3 p-2', 'data-toggle': "tooltip", 'data-placement': 'bottom' do %>
        <%= image_tag('commun/logo_zourit_seul.svg', size: '25x25') %>
      <% end %>
      <div class="flex lg:hidden">
        <button type="button" 
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200"
                @click="menuMobileShow = true">
          <%= fa_icon('bars', class: 'text-2xl') %>
        </button>
      </div>
      <div class="hidden lg:flex flex-row justify-between items-center w-full">
        <div class="flex flex-row gap-1 lg:gap-5 text-sm">
          <div class="hidden lg:flex gap-1 lg:gap-5">
            <% @modules.each do |mod| %>
              <% url = mod.new_window ? module_href_new_window(mod) : module_href(mod) %>
              <%= link_to url, 
                          title: t("modules.#{mod.name.downcase}.title"), 
                          target: mod.new_window ? '_blank' : '',
                          class: 'hover:text-zourit-1 hover:bg-zourit-3 p-2 nav-services', 'data-toggle': "tooltip", 'data-placement': 'bottom' do %>
                <%= fa_icon(mod.font, class: 'text-2xl') %>
              <% end %>
            <% end %>
          </div>
          <div class="flex lg:hidden">
            <%= build_dropdown("open_services_menu", ts('accueil.services'), "cog", 'left') do %>
              <div class='py-2'>
                <%= link_to '/services', class: 'block px-4 py-1 pt-2 text-sm hover:bg-gray-800', 'data-toggle': "tooltip", 'data-placement': 'bottom' do %>
                  <%= fa_icon('bars') %>
                  <%= ts('accueil.services') %>
                <% end %>
              </div>
              <div class='py-2'>
                <% @modules.each do |mod| %>
                  <%= link_to module_href(mod), class: 'block px-4 py-1 pt-2 text-sm hover:bg-gray-800' do %>
                    <%= fa_icon(mod.font) %>
                    <%= t("modules.#{mod.name.downcase}.title")%>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="ml-6 flex flex-row gap-5 text-sm items-center">
          <% if @current_user &.superadmin %>
            <%= build_dropdown("open_stat_menu", "", "chart-bar") do %>
              <div class='py-2'>
                <%= build_dropdown_item(statistics_path, 'chart-pie', ts('statistics.index.title')) %>
                <%= build_dropdown_item('/statistics/instances', 'tasks', 'Charge des instances') %>
              </div>
            <% end %>
          <% end %>

          <%= link_to status_path, title: ts('status.title'), class: 'hover:text-zourit-1 hover:bg-zourit-3 p-2', 'data-toggle': "tooltip", 'data-placement': 'bottom' do %>
            <%= fa_icon('heartbeat', class: 'text-2xl') %>
          <% end %>
          <% if @current_user &.admin %>
            <%= link_to tickets_path, title: ts('tickets.title'), class: 'hover:text-zourit-1 hover:bg-zourit-3 p-2', 'data-toggle': "tooltip", 'data-placement': 'bottom' do %>
              <%= fa_icon('ticket-alt', class: 'text-2xl') %>
            <% end %>
          <% end %>

          <%= build_dropdown("open_help_menu", "", "question-circle") do %>
            <div class='py-2'>
              <%= build_dropdown_item("https://doc.zourit.net/", 'book', ts(:documentation), '_blank') %>
              <%= build_dropdown_item(about_path, 'question-circle', ts('about.about')) %>
            </div>
          <% end %>

          <% if @current_user %>
            <%= build_dropdown("open_profile_menu", @current_user.name) do %>
              <div class='py-2'>
                <%= build_dropdown_item(user_path(@current_user.id), 'user', t('users.profil')) %>
                <%= build_dropdown_item(links_path(global: false), 'link', t(:links)) %>
              </div>
              <% if @current_user.admin %>
                <div class='py-2'>
                  <%= build_dropdown_item(domain_path(@current_user.domain.id), 'globe', t('accueil.domaine')) %>
                  <%= build_dropdown_item(links_path(global: true), 'link', t(:our_links)) %>
                </div>
              <% end %>
              <% if @current_user.superadmin %>
                <div class='py-2'>
                  <%= build_dropdown_item(domains_path, 'globe', t('domain.domaines')) %>
                  <%= build_dropdown_item(config_modules_path, 'cog', t('modules.config')) %>
                </div>
              <% end %>

              <div class="py-2">
                <%= build_dropdown_item(logout_path, 'sign-out-alt', t('users.deco_logout')) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <%= render 'layouts/menu_mobile' %>
</header>
