<script>
  function addFlashMessage(message, type='notice'){
    const common={
      gravity: 'top',
      position: 'center',
      duration: 3500,
      offset: { y: '2em' },
      close: true,
      escapeMarkup: false
    }
    const notice={ className: 'toastify-notice text-black', ...common }
    const alert={ className: 'toastify-alert text-black', ...common }
    switch(type){
      case 'alert':
        console.warn(`TOAST ALERT: \"${message}\"`)
        Toastify({  text: message, ...alert}).showToast()
        break
      case 'notice':
        Toastify({  text: message, ...notice}).showToast()
        break
      default:
        console.error(`UNKNOWN TOAST TYPE: <${type}>`)
        Toastify({  text: message, ...alert}).showToast()
    }
  }
</script>

<% if flash.count.positive? %>
  <script data-turbo-temporary>
    document.addEventListener('turbo:load',(e)=>{

        <% if flash.notice%>
          addFlashMessage('<%=flash.notice%>')
        <%end%>

        <% if flash.alert%>
          addFlashMessage('<%=flash.alert%>', 'alert')
        <%end%>

      // useful to prevent flickering from turbo preview
      Turbo.cache.exemptPageFromPreview()

    }, {once: true})
  </script>
<%end%>
