<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('commun/logo_zourit_seul.svg') %>
  </head>
  <body class="bg-gray-200 dark:bg-gray-800 dark:sm:bg-gray-700">
    <%= render 'layouts/notification' %>
    <%= render 'layouts/menu' unless @type_page == 'login' || !current_user %>
    <% if ['home', 'login', 'noheader'].include?(@type_page) %>
      <%= yield %>
    <% elsif @type_page == 'iframe' %>
      <%= render 'layouts/iframe' %>
    <% else %>
      <%= render 'layouts/services' %>
    <% end %>

    <%= render 'application/turbo_confirm' %>

    <div id='loading' class='hidden fixed top-0 left-0 w-screen h-screen bg-gray-800 opacity-95 z-50'>
      <div class='osahanloading flex flex-col gap-8'>
        <%= image_tag 'commun/logo.svg', class: 'h-30' %>
        <span id='loading-text' class="text-gray-200 w-80 -ml-20 text-center animate-pulse font-bold"></span>
      </div>
    </div>

    <script>
      function loading(message) {
        document.getElementById('loading-text').textContent=message
        document.getElementById('loading').classList.remove('hidden')
      }
    </script>

    <script>
      <% if session[:darkmode] %>
        if (!document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.add('dark')
        }
      <% end %>
    </script>
  </body>
</html>
